[2017-02-23 17:05] clebergnu commented on #1815
BTW, in addition to such a status, test suite writers would be able to check test dependencies and `SKIP` them outside the context of the test, when such a mechanism is introduced.

[2017-02-23 18:01] adereis commented on #1815
On Thu, Feb 23, 2017 at 09:04:08AM -0800, Cleber Rosa wrote:

(I agree with the ERROR description from the documentation)

IIRC, ERRORs are mapped to FAILs in XUnit, correct? (I see XUnit
also has error attribute somewhere, but they're outside of the
scope of a test).

And I guess we would map IGNOREs to SKIPs in XUnit, which makes
sense to me and will solve the problem originally reported.

I als

[2017-02-24 06:56] jscotka commented on #1815
Hi,
the issue is, that I need to find the most elegant solution now up to next week.
We've discussed it with @ldoktor that avocado API could solve my issues, but problem is, that it does not exist nowadays.
So the cleanest solution for is is:
[code]

or could be using `self.skip` inside each test, what is not permitted.

Some notes about states:
using __ERROR__ state for this is very bad idea -> e

[2017-02-24 09:27] ldoktor commented on #1815
Dne 23.2.2017 v 19:01 Ademar de Souza Reis Jr napsal(a):

The problem here is that one `class` can define only one `setUp` but
many `test*`s. In this case each `test*` has different requirements,
which would lead to series of `if name...` which is IMO big step back to
non OO languages.

XUnit supports both, ERROR and FAIL. The only missing mapping is WARN
which maps to PASS in XUnit.

This is just

[2017-02-24 09:37] ldoktor commented on #1815
Yep, that's why I pointed it out (I noticed it while looking at this
issue,
https://trello.com/c/gsdBAmMY/937-bug-avoid-running-teardown-when-test-is-skipped-by-decorator
)

My point in re-evaluating this was because it's way simpler to write
`tearDown` which checks whether the resource was created than to write
`setUp`s which clean-ups before raising `self.skip` and it is really not
possible to s

[2017-02-24 12:07] narasimhan-v opened #1818 "whiteboard is not getting created for tests"
[code]

[2017-02-24 13:09] clebergnu commented on #1815
2017-02-24 1:56 GMT-05:00 jscotka <notifications@github.com>:

Writing the wrapper seems like a good approach.  As always, we'll try to
respond to user requests such as yours with increased priority.

[2017-02-24 13:12] adereis commented on #1815
On Thu, Feb 23, 2017 at 10:56:42PM -0800, jscotka wrote:

These solutions are both stamped with NACKs, AFAICS. Pushing for
this will lead to nowhere.

I think IGNORE is the wrong name (as stated before, I would call
it ABORT), but is the only acceptable solution IMO. It'll be
mapped to SKIPPED in XUnit.

--
Ademar Reis
Red Hat

^[:wq!

[2017-02-24 13:28] adereis commented on #1815
On Fri, Feb 24, 2017 at 01:27:01AM -0800, Lukáš Doktor wrote:

Hmm... XUnit is confusing, it's hard to find an authoritative
reference for the XML.

So PASS, FAIL, ERROR and SKIP are the valid test statuses from
XUnit?

What's the reason for you not to like ABORT? Please don't tell me
it's just taste. :-)

My point is simple: the status should represent what happened
with the test. One doesn't "ca

[2017-02-24 13:59] apahim commented on #1815
On Fri, Feb 24, 2017 at 2:28 PM, Ademar de Souza Reis Jr <
notifications@github.com> wrote:

We use the unit-4.xsd as official template. We actually validate our xunit
output against it in our selftests:
https://github.com/avocado-framework/avocado/blob/master/selftests/unit/junit-4.xsd

Yep, those 4. In fact the PASS status is omitted. We have errors, failures,
skipped and (total-)tests.

It's ha

[2017-02-24 14:00] adereis commented on #1815
On Fri, Feb 24, 2017 at 01:37:27AM -0800, Lukáš Doktor wrote:

This is exactly the kind of problem that we can *avoid in the
first place* by not allowing broken concepts like a "test
skipping itself".

I don't know if this is clear to you, but notice the difference
in the way humans think about these things: when introducing
skip, we ended up with bugs (like this one) and maybe others
because of t

[2017-02-24 14:17] adereis commented on #1815
On Fri, Feb 24, 2017 at 05:59:16AM -0800, Amador Pahim wrote:

Yes, it bothers me as well. Which is a good sign: having proper
names and semantics forces us to think on the consequences.

Maybe CANCEL/CANCELLED as suggested by Lukas will sound better in
this case? When I think of "canceling" something, I think of
reverting the state to what it was before... it may be a
better name indeed.

--
Adem

[2017-02-24 14:30] ldoktor commented on #1815
This is exactly what I did but my sentence was: I am a test, do I want
myself to:

* abort myself?
* cancel myself?
* ignore myself?
* skip myself?

I'm not native, so my feeling will be probably different. Anyway I know
I don't want to ignore myself (never). I don't know whether I can abort
myself, but I feel like other people can abort me. I think I should be
able to cancel myself when something

[2017-02-24 14:32] ldoktor commented on #1815
Take a look at the usage. It means that the test does not applies for
this environment so you abort it. You can always decide it does applies
but can't be executed and you can use `ERROR` for that.

[2017-02-24 14:44] ldoktor commented on #1815
Yes, I can imagine this. But look again at this usecase:

1. One class defines several methods where each methods has different
dependencies. So the dep-specification needs to be per-test-method.
2. The environment heavily depends on the `params` and to examine it you
need to setup VM/Container or just examine your localhost. Other users
might need to load some kernel modules, download things from

[2017-02-24 15:46] ldoktor commented on #1818
I wanted to ask for more input, but I think I identified the issue (at least partially). By any chance do you use custom `logs_dir` in the avocado config and `os.chdir` in the test? I was able to reproduce this by:

[code]
The thing is we always use `os.abspath` unless custom path is provided in config file. Let me fix this... (and please let me know if this is not your case)

[2017-02-24 16:22] apahim commented on #1815
Yes, I agree that CANCEL has the meaning of reverting something. It is way
easier for me to think in CANCEL as a 'good' status.

[2017-02-24 16:53] clebergnu commented on #1815
`CANCEL` also sounds fine to me.  Looks like an agreement.

[2017-02-24 17:35] narasimhan-v commented on #1818
@ldoktor Thanks. This was the exact case here.

[code]

Changed to the current directory again in the test, and it worked :+1:

[2017-02-24 18:28] ldoktor commented on #1815
![](https://github.trello.services/images/mini-trello-icon.png) [Add support to "CANCEL" test execution](https://trello.com/c/viBJIEwI/941-add-support-to-cancel-test-execution)

[2017-03-01 08:24] ldoktor commented on #1818
This should be fixed by the #1819

[2017-03-01 08:24] #1818 closed

[2017-03-01 15:49] ldoktor commented on #1663
Hello @harihare and @kvaneesh. We talked about this RFE and it looks tempting. There are some updates on the associated card https://trello.com/c/AiuUdABw/883-issue-support-to-access-console-for-different-architectures

Anyway we do plan to improve the remote execution (health check, per-test responses, ...) as a side effect of the Job API and multi-stream tests (maybe in a second stage as the pri

[2017-03-01 15:49] #1663 closed

[2017-03-03 14:16] #1800 closed

[2017-03-03 14:16] ldoktor commented on #1800
Should be addressed by the https://github.com/avocado-framework/avocado/pull/1824

[2017-03-06 13:54] jscotka opened #1837 "RFE: using TAGS also for method"
Hi,
I like the idea of  `:avocado: tags=slow`
it works well. There is one trouble: it works just for whole class. it would be very nice to have it also for method like:

[code]

It allows to fiter test, and be test specific, not only class.

otherwise probably next issue is, that it would be like to allow complex syntax on commad line for filtering, like:

[code]
so pelase add full logic parser wi

[2017-03-06 14:45] clebergnu commented on #1837
Test-level tags is indeed something we should support.  Since it looks like the general  idea of tags was well received, we should indeed make it more flexible.

About the "complex syntax", I think we should be able to cover all use cases you describe *but* the glob-like one (*"tier*"*).   The "not (tag1 and tag2)" could be written as:

[code]

And you could use that with the same command line wit

[2017-03-06 15:07] jscotka commented on #1837
Hi,
yes, that suits me.
These globs are nice to have, but not so important.
    Regards
    Honza

[2017-03-06 15:11] clebergnu commented on #1837
OK, so let's restrict this issue to the test-level (as opposed to class-level) support for tags.

[2017-03-06 15:36] jscotka commented on #1837
Yep, it makes sense.
so and I suggest also option to specify which tags to filter, like:
--filter-by-tags=tag -- any tag anywhere
--filter-by-tags=class:tag -- just tag mathich class
--filter-by-tags=method:tag -- just tag mathich method

I don't know the usescase now, but I can imagine that it sounds like good idea, to be able to differenciate that :-)

[2017-03-07 08:01] hathyaga opened #1839 "Tests under avocado-misc-tests/io/net fail with "TestSkipError: None interface is not available" error."
Issue is with yaml file for the network tests under io directory as the script fails to read the "interface" parameter for the tests.

[2017-03-07 08:42] PraveenPenguin commented on #1839
I think this is not the issue only with only io test case issue seems me on avocado 46 as yaml parameter is not read it when test tried to run using yaml param

avocado 44 log

[root@localhost ~]# avocado run avocado-misc-tests/fs/xfstests.py -m avocado-misc-tests/fs/xfstests.py.data/xfstests.yaml --show-job-log
found extension EntryPoint.parse('jobscripts = avocado.plugins.jobscripts:JobScripts')

[2017-03-07 08:49] apahim commented on #1839
Looking into it.

[2017-03-07 14:28] #1839 closed

[2017-03-08 07:08] hathyaga commented on #1839
verified with 1840 and it solves the issue.

[2017-03-08 08:44] juju812 opened #1844 "Query about method to overwrite standard Avocado plugins in version 0.45"
We were used to overwrite Avocado plugin "run" and "list", added some customized option, and finally register them to entry point `avocado.plugins.cli.cmd` by the code below.

In avocado version 0.31 this works fine, when we execute `avocado run`, code in `uvp_virt.plugins.run` executed as expected. But after we update avocado version to 0.45, things goes wrong, standard plugin executed instead of

[2017-03-08 21:00] clebergnu commented on #1844
Hi @juju812.

I don't really know how much different your own `run` and `list` commands are, but it looks like, if the standard commands can not be customized by an `avocado.plugins.cli` type of plugin (http://avocado-framework.readthedocs.io/en/47.0/api/core/avocado.core.html#avocado.core.plugin_interfaces.CLI), I'd go with new commands.

By having command such as `uvp-virt-run` and `uvp-virt-lis

[2017-03-09 02:28] juju812 commented on #1844
Hi, @clebergnu,

Thanks for your quick response.
But actually it's not a installation issue. After new installation of avocado 0.45, I re-installed our own code then entry points registered either.

In my view this issue caused by unpredictable plugin loading order when the plugin name is the same.To make things clear I'll list subcommand output of command `avocado -h` in version 0.31 and 0.45 as

[2017-03-09 02:57] juju812 commented on #1844
BTW, we modified the `run` command in order to run multiple tests with different yaml configuration files, as mentioned in issue #1451.

In standard Avocado, the yaml file load only once before the command `run` start. So all test files have to share one yaml file. And only one `Job` instance created for multiple tests files. So I changed the code to create multiple `Job`s in one `run` command, ea

[2017-03-09 09:02] juju812 commented on #1837
Hi, here's another TAGS related issue.

Currently syntax listed as below is not supported:
[code]

[code]

So it's not convenient to set `enable` flag and `tags` at the same time. Minor modification in `core.safeloader` needed to support this scenario.

[2017-03-09 11:28] apahim commented on #1844
@juju812, why don't you avoid clashes and just change the name of your plugin? Like this:

[code]

With the proper entrypoint:
[code]

And use it like this:
[code]

Anyway, an Avocado execution is a one-job-run by concept. To do what you want, I'd rather use something like this:
[code]

To use with:
[code]

[2017-03-09 12:12] apahim commented on #1844
Btw, as a test, I created an *optional plugin* with the same `run` name:
https://github.com/apahim/avocado/commit/d86afba72e72170b1cf33ca46c5ccbe272fe440c

And I can use it without issues. Here it's showing up in the `list`:
[code]

And here the proof it's being used (https://github.com/apahim/avocado/commit/d86afba72e72170b1cf33ca46c5ccbe272fe440c#diff-b1b85ecd025dae2a7081dabd2a4c01abR38):
[code]

[2017-03-09 13:09] apahim commented on #1837
@jscotka, you can track the request here: https://trello.com/c/DYRJOIkO/957-rfe-support-tags-in-test-methods
Anyway, we will update this issue when it's ready.

[2017-03-09 13:10] apahim commented on #1837
@juju812 , you can track the request here: https://trello.com/c/6FpySXuC/958-rfe-support-defining-enable-and-tags-in-the-same-docstring-line

[2017-03-09 17:54] clebergnu commented on #1844
@juju812 can you please paste the outcome of this from your system:

[code]

[2017-03-10 01:36] juju812 commented on #1844
Hi, @apahim,

Thanks for your comments.
For plugin name issue, yes, we'll consider to change plugin name to avoid this conflict. This is the simplest way.
And for multi-job-in-one-run issue, solution of shell script seems not accepted by our users. They think an autotest framework should handle this scenario instead of creating extra scripts. So we have to continue using this implementation. : (

[2017-03-10 08:19] apahim commented on #1844
@juju812, did you try to create it as an optional plugin, as in my comment https://github.com/avocado-framework/avocado/issues/1844#issuecomment-285335489?

[2017-03-10 10:16] juju812 commented on #1844
Here's one section of the setup.py we're using, in my view this is exact optional plugin you refered...

[code]

[2017-03-11 01:09] apahim commented on #1815
Solved by PR #1857.

[2017-03-11 01:09] #1815 closed

[2017-03-13 09:37] lmr commented on #1815
@apahim, one tidbit of information, decorators do have access to the object instances, they are passed as first argument of `args`:

    def my_decorator(method):
        def wrapper(*args, **kwargs):
            args[0].do_the_thing()
            method(*args, **kwargs)
        return wrapper

    class Example(object):

        @my_decorator
        def do_that_other_thing(self):
            pri

[2017-03-13 09:40] lmr commented on #1815
OK, I should've been more precise. The arguments of the function being decorated are passed to decorators, and on non class methods of classes, that's usually a reference to the object, `self`.

[2017-03-13 11:06] apahim commented on #1815
@lmr yep, actually I expressed myself badly in that matter. The problem is that in the class body there's no `self`, so you cannot use `self` as an argument for the function that defines the decorator, like in:
[code]
The code above is broken.

But as you said correclty, the decorator itself can access the class instance at runtime, using the first argument of the function being wrapped. And I eve

[2017-03-15 11:27] omps opened #1863 "Known Limitation."
@clebergnu
https://www.youtube.com/watch?v=tdEg07BfdBw

In this youtube url from the KVM forum at 28:28 - 28:42 mark you mentioned about some known limitation. Could you please elaborate that part? The video volume is pretty low so coulnd't hear this part clearly.

I couldn't find a better place to ask so putting my question here. my apologies if this is not the right place.

[2017-03-15 11:42] apahim commented on #1863
It's about variants naming. When we create variants, we name them `Variant 1, Variant 2, ...` Like this:
[code]

And it's part of the test name, after the `;`. Like this:
[code]

The audience was looking for some better (more friendly) way to relate to the variants by having more descriptive Variant IDs. Nothing changed in that regard since then.

[2017-03-15 12:08] ldoktor commented on #1844
Hello @juju812, I'm wondering whether the `pre/post` job plugin won't serve you actually better than the custom `run` plugin. Unless you need to influence the loading (I mean download the tests etc) it should suffice and is the recommended way of doing things before/after job execution.

[2017-03-16 12:02] ldoktor commented on #1863
Also note that there is already a PoC and we have a card to improve the variant ids in this sprint: https://trello.com/c/1lzDCiqn/835-mux-improve-the-generation-of-variant-ids

[2017-03-22 03:36] will-Do opened #1870 "backport patch to 36lts branch?"
Hi,
We are using 36lts for daily work, and suffering a bug that the terminal stty is messed up when run help of some some commands(paginator=on), and turned out it was fixed by 55efdca9f00, could we get this fix to 36lts?
And is there any strategies or rules that we can back port patches like this?

[2017-03-22 03:51] clebergnu commented on #1870
@will-Do if a bug is preventing you from using Avocado LTS, then yes, it should be fixed (in LTS).

Every bug fix request for LTS will be considered, and unless there's something major preventing us from fixing it, it will make into the 36lts branch.

Another matter is how often we do releases out of that branch, but we're also really flexible at this point.

[2017-03-22 03:51] clebergnu commented on #1870
@will-Do btw, if you feel like it, you could go as far as sending a pull request for the LTS branch (a cherry-pick/backport of that patch, for instance).

[2017-03-22 03:56] will-Do commented on #1870
@clebergnu
Got it, thanks, I will do that

[2017-03-22 09:09] lmr commented on #1870
I'm closing this due to the merge of #1871.

[2017-03-22 09:09] #1870 closed

[2017-03-24 09:19] #1863 closed

[2017-03-27 06:38] juju812 commented on #1844
Hi, all, after discussion we decide to rename our plugin to avoid this name conflict.
Thank you all and in my view this issue can be closed.

[2017-03-27 09:20] ldoktor commented on #1844
I'm glad you worked it out

[2017-03-27 09:20] #1844 closed

[2017-03-28 15:10] benzea opened #1886 "Directive parsing only works for a single directive"
Currently the directive parser only searches for the first occurrence of `:avocado: XXX`. This means that if one does for example:

    :avocado: enable
    :avocado: tags=a,b,c

Then the tags will not be found. Avocado should either find all occurrences or allow specifying all options together.

[2017-03-29 09:19] Andrei-Stepanov opened #1888 "LTS36: avocado list --any-non-existing argument ruins shell"
Hi.
I noticed that invoke:
[code]
ruins shell. Shell becomes unusable:

-bash-4.2#  -bash-4.2#  -bash-4.2#  -bash-4.2#

I don't know if it is fixed in current master.

[2017-03-29 09:34] apahim commented on #1888
@Andrei-Stepanov the fix was backported some time ago, but seems like we didn't release a version after the backport:
https://github.com/avocado-framework/avocado/commit/06c673154c3e418f91e270e6fcb15a82152be5a4
Are you using LTS from rpm? This issue should not happen if you're using from git.

@clebergnu, can we schedule a new LTS-minor with the backports that we already have so far?

[2017-03-29 09:36] apahim commented on #1886
Yep, we have a card for that and it's marked as a bug (meaning it will be worked in the coming sprint for sure):
https://trello.com/c/6FpySXuC/958-bug-make-it-possible-to-define-enable-and-tags-docstring

[2017-03-29 09:42] Andrei-Stepanov commented on #1888
Hi.
We use Avocado LTS from pip.
[code]

[2017-03-29 09:55] apahim commented on #1888
Ok, we are in v36.3, but still it does not contain the fix. Let's wait for the new LTS minor.

[2017-04-04 10:07] jscotka opened #1905 "xunit output is not JUNIT comliant (jenkins)"
Hi,

I have generated xunit file which contains failed tests and Jenkins is not able to interpret is as results (attached)
[out.xunit.txt](https://github.com/avocado-framework/avocado/files/892702/out.xunit.txt)

@apahim found that there is issue like:
 out.xunit:9:0:ERROR:SCHEMASV:SCHEMAV_ELEMENT_CONTENT: Element 'system-out': This element is not expected.

    Regards
    Honza

[2017-04-04 10:24] apahim commented on #1905
We are generating the xml in an incompatible format when a failure happens:

[code]

Here the snip from the `avocado/plugins/xunit.py`:

[code]

We need to double check where the `system-out` actually goes. According to the `avocado/selftests/unit/junit-4.xsd`, we have:

[code]

Seems like the `system_out` and the `failure` element should be in the same level. But we are currently creating the `sy

[2017-04-04 11:16] lmr commented on #1905
Yep, according to http://llg.cubic.org/docs/junit/, `system_out` and `failure` should both be children of testcase, so avocado is wrong. Which is weird, given that I've used recent avocado master, not older than maybe 2 or 3 weeks successfully with the jenkins junit plugin.

[2017-04-04 11:21] apahim commented on #1905
@lmr thank you for the confirmation. I'm sending a fix.

[2017-04-04 12:01] clebergnu commented on #1905
IIRC, LTS has a different xunit implementation.  @apahim can you check that we pass validation there while I review this PR?

[2017-04-04 15:18] apahim commented on #1905
Fixed by https://github.com/avocado-framework/avocado/pull/1907.

[2017-04-04 15:18] #1905 closed

[2017-04-04 15:40] apahim commented on #1888
@Andrei-Stepanov, we released the v36.4. Could you please confirm it fixes this issue for you?

[2017-04-05 11:29] apahim commented on #1905
@clebergnu 36lts branch is not affected by this issue.

[2017-04-05 12:01] clebergnu commented on #1905
@apahim thanks!

[2017-04-05 13:48] Andrei-Stepanov commented on #1888
[code]

[2017-04-05 13:48] Andrei-Stepanov commented on #1888
can be closed

[2017-04-05 14:18] #1888 closed

[2017-04-07 05:36] xutian opened #1911 "Avocado crashed unexpectedly: argument --html: conflicting option string(s): --html"
[code]

[2017-04-07 07:36] xutian commented on #1911
it looks avocado-result-html (46.0)  conflict with avocado-framework-plugin-result-html(48.0)

[2017-04-07 07:43] sathnaga commented on #1911
Try cleaning all the previous installed instances of avocado and html plugin, and freshly install both, this goes away.

[2017-04-07 12:21] clebergnu commented on #1911
Right.  This happens because the Python module name changed in 48.0.  If you leave the old (46.0 in that case) version around, both (with different names) will be initialized, and both will attempt to add the `--html` options.

As @sathnaga already pointed out, it's just a matter of cleaning the previous installation (the `.egg-info` directiories more specifically).

[2017-04-07 12:21] #1911 closed

[2017-04-07 14:39] clebergnu commented on #1886
Fixed by #1915

[2017-04-07 14:39] #1886 closed

[2017-04-07 14:47] clebergnu commented on #1612
@famz since the multi stream proposal is related (not identical) to your ideas or use cases, I thought I'd post a link here: https://www.redhat.com/archives/avocado-devel/2017-April/msg00002.html

[2017-04-07 14:49] clebergnu commented on #1665
The card that tracks this has been closed with `WONT FIX`, so let's sync and close this issue too.

[2017-04-07 14:49] #1665 closed

[2017-04-07 14:51] clebergnu commented on #1686
@lmr the idea has been, AFAICT, well accepted.  I'm closing this issue (as it was a RFC) and waiting for further updates (PRs?) on this.  Thanks!

[2017-04-07 14:51] #1686 closed

[2017-04-10 11:39] ldoktor commented on #1665
Well actually the later card is still valid and it should address this issue as well... So for updates please follow the https://trello.com/c/6KKuwEUh/932-revise-the-func-at-exit

[2017-04-13 19:12] narasimhan-v opened #1924 "Ideal usage of self.srcdir"
What is the ideal usage of self.srcdir ?
I can see that one directory per run(variant ) is getting created, but not getting cleared/removed after the test runs.

Right now, we use it to download the tar-balls needed for test runs.
Ex: https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/disk/ltp_fs.py

[2017-04-14 06:52] omps opened #1925 "avocado throws error while running with local user."
[code]

Installed avocado using root user but not able to run it using normal user. Could you please suggest how to fix this.

[2017-04-14 10:19] ldoktor commented on #1924
The way I understand `src` dir is to store sources used in test so they can be re-used to verify possible failures. For git-based sources this is probably not necessary as sha can be stored instead, but for arbitrary downloads it might be the only way to see what version was actually used.

Anyway let's ask the guys who introduced it @clebergnu @lmr @adereis

[2017-04-14 10:21] ldoktor commented on #1925
Hello @omps, this depends on the method you used to install it. Can you please provide more details on your environment (distribution, pip and python versions) and the steps you used to install Avocado?

[2017-04-14 12:45] narasimhan-v commented on #1924
Sure, lets wait for their replies.

Example:

[code]

For one `ltp_fs` test run, one dir `/var/tmp/avocado_WCjpa4` gets created.
Then, one sub folder per variant gets created.
So, the downloaded files by variant 1 can not be accessed by variant 2.

Is this the way it is expected to work ?

[2017-04-14 13:11] ldoktor commented on #1924
Absolutely, because the other variant is a different test and could use a different sources. If you want to share the build, you can use `teststmpdir`. Note that `teststmpdir` is not persistent and it's shared among all tests in the job.

Basically if you know which version are you going to use and you are not interested in the downloaded content after the test execution (eg. when you can log the

[2017-04-18 13:48] harish-24 commented on #1924
`workdir` and `srcdir` are working similarly i.e. extracting asset for each variant and building it.
When using `teststmpdir` there is no issues w.r.t tar file. But for zip file, the following issue seems to occur, as 'src' contains the file contents on `os.symlink`
[code]
@ldoktor Can you help on this?

[2017-04-18 14:51] ldoktor commented on #1924
@harish-24 would you please report the `zip` issue in a separate issue and provide more details? (especially dir names) It looks unrelated to this thread, but is definitely a valid issue.

[2017-04-18 19:04] UnitasBrooks commented on #900
So I tried mux-inject and I can't seem to get it working here is the command I'm running:

avocado run ./sample-test.py --mux-inject key:var

and in my test:
        self.key = self.params.get('key', default="none!")
        print "key: " + self.key

the result is: key: none!

I am on Avocado 47.0, Centos 7.3, python 2.7.5

[2017-04-19 03:44] harish-24 opened #1931 "archive.extract of zip fails when running for multiple variants with teststmpdir ( which is common for all variants)"
When running with multiple variants, if `self.teststmpdir` is used as destination directory in `archive.extract`,  on second variant the following issue is found when extracting zip file.

[code]
No issue is observed when extracting a tar file.

[2017-04-19 10:21] ldoktor commented on #900
Hello @UnitasBrooks, short answer is use `--mux-inject /run:key:var`.

The long answer is that `--mux-inject` is a swiss-knife which simply injects the key/var pair into the specified path. When the path is not specified, it uses `/`, which is not in the default path to look for params. So to avoid this issue you can (ordered by preference):

1. use `--mux-inject $path:$key:$value` to inject it in

[2017-04-19 14:19] ldoktor commented on #1931
@harish-24 can you please provide more details? Ideally the zip file (as it fails during updating of the extra attrs which is our custom handling). If that is not possible, could you please provide other details about the execution, does it also fail when running just one variant, or with default values only and so on.

[2017-04-19 16:41] UnitasBrooks commented on #900
Great thanks so much Lukáš.

[2017-04-20 08:57] ldoktor commented on #900
No problem, I know this area is still a bit hackish due to bound to our single implementation. We are already working on standardization which should make things easier to start with...

[2017-04-20 11:02] harish-24 commented on #1931
@ldoktor The failure is only when running with multiple variants.
Eg: https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/generic/ltp.py,
`avocado run ltp.py -m ltp.py.data/ltp.yaml`.
In the above scenario, `ltp-master.zip` is extracted in `self.teststmpdir` and working as expected for first variant. As the directory is extracted already for first variant,  issue occurs durin

[2017-04-21 05:56] ldoktor commented on #1931
Hello @harish-24, thank you for the details, there are basically two issues. First one is that `zipfile` library doesn't treats symlinks and when it already exists it skips it. I sent a fix for that here: https://github.com/avocado-framework/avocado/pull/1939

The second issue is that in the test you are extracting already extracted file. That itself is not really an issue, it's just not necessary

[2017-04-21 05:56] ldoktor commented on #1931
PS: Both of the proposed fixes work and they should both be applied

[2017-04-22 06:09] ldoktor commented on #1931
OK the fix was applied, feel free to re-open this issue if that didn't work well for you...

[2017-04-22 06:09] #1931 closed

[2017-04-24 03:13] will-Do opened #1946 "Backport CANCEL status to LTS version"
Hi folks,
Now some of tests in tp-libvirt are using the 'CANCEL' status, but as we are using 36lts avocado, backport it is in a high priority.
But as there are lots of conflicts between these two branches, should I resolve them all manually? or maybe there's a new LTS version will be released soon?

[2017-04-24 06:51] apahim commented on #1946
Hi @will-Do. `CANCEL` status is a new feature and there's no backport of features to LTS, only bugfixes. The next LTS is **expected** to be the version 52 (no guarantees though). Considering we are about to release the version 49 and the release cycle takes 3-4 weeks, it will not take that long for the next LTS.
I'd recommend you to report the issue in `tp-spice`, so they can keep using alternativ

[2017-04-24 08:55] will-Do commented on #1946
Thanks @apahim
I will find a way to deal with it from test provider side.

[2017-04-24 08:55] #1946 closed

[2017-04-24 09:57] ldoktor commented on #1946
@will-Do basically for Avocado-vt tests the recommended way is to use:

[code]

and all of the `error` exceptions will work until Avocado-vt gets rid of `autotest` dependency and even then we'll have to probably support it in a similar fashion (probably via avocado-vt's module)

[2017-04-24 10:05] ldoktor commented on #1924
@clebergnu @lmr @adereis guys, can you please provide the details about the original `srcdir` purpose and whether we actually need it?

[2017-04-24 10:11] ldoktor commented on #1837
Let me close this issue as we have a tracker here https://trello.com/c/DYRJOIkO/957-rfe-support-tags-in-test-methods

[2017-04-24 10:11] #1837 closed

[2017-04-24 10:13] ldoktor commented on #1811
OK, let's track this issue only here https://trello.com/c/p51VvUnT/936-rfc-add-a-way-to-run-full-suite-per-variants-instead-of-all-variants-of-each-test

[2017-04-24 10:13] #1811 closed

[2017-04-24 10:14] ldoktor commented on #1796
OK let's track this issue only in trello: https://trello.com/c/iJlNcBaf/930-improve-the-docs-regarding-the-test-references

[2017-04-24 10:14] #1796 closed

[2017-04-24 10:19] ldoktor commented on #1793
![](https://github.trello.services/images/mini-trello-icon.png) [Inherit `test*` methods from parents](https://trello.com/c/GtFlhcOj/1011-inherit-test-methods-from-parents)

[2017-04-24 10:20] ldoktor commented on #1793
Please follow the card on trello to get updates https://trello.com/c/GtFlhcOj/1011-inherit-test-methods-from-parents

[2017-04-24 10:20] #1793 closed

[2017-04-24 10:21] ldoktor commented on #1754
Thank you for reporting this issue, it was fixed by https://github.com/avocado-framework/avocado/issues/1934

[2017-04-24 10:21] #1754 closed

[2017-04-24 10:22] ldoktor commented on #1638
Thank you for reporting this issue, it was addressed by https://github.com/avocado-framework/avocado-vt/issues/905

[2017-04-24 10:22] #1638 closed

[2017-04-24 12:48] sathnaga commented on #1545
@ldoktor not able find the above card in trello?

There are few more usecases which requires this plugin, from avocado-vt we mostly not worry about the dmesg outputs for any test assertions right now, but
there are situations host kernel warnings, errors are thrown while test execution which might of our interest.

How a

[2017-04-24 12:51] sathnaga commented on #1545
I would feel we can introduce avocado command line param to enable/disable the dmesg check which inturn would check during the postporocess of test, and that can be generic for avocado-vt and avocado-misc tests?

we can already use the dmesg output present in the pre,post folder of sysinfo collection?

[2017-04-24 12:51] sathnaga commented on #1545
@adereis @lmr @narasimhan-v ^^

[2017-04-24 12:52] sathnaga commented on #1545
@narasimhan-v can you reopen this issue to get our discussion keep going

[2017-04-24 12:54] narasimhan-v commented on #1545
@sathnaga I am not able to re-open

[2017-04-24 12:56] lmr commented on #1545
@sathnaga If you guys want to revisit this discussion, I'll reopen it. My views on the subject have gone unchanged, athough for a large test suite based on avocado such as avocado-vt you could add default post processing routines that detect problems in dmesg.

[2017-04-24 13:00] sathnaga commented on #1545
@lmr agree, but it would be good to have the routines generic because there are times we hit at different kernel warning altogether than the test, so we can have a generic way of alerting the user with different(custom) error messages.

[2017-04-24 13:13] sathnaga commented on #1545
virttest/env_process.py
[code]
@lmr  I see this in avocado-vt already, will check what it is up to.

[2017-04-24 13:21] sathnaga commented on #1545
This can be the starting place, and we can improve the error string list,check and try making it generic across avocado?

[code]

[2017-04-25 05:57] will-Do commented on #1946
@ldoktor
Yes, that's the original way, but there're already lots of update about getting rid of ```autotest``` from the test provider side(used ```avocado.core.exceptions.SkipError```, then switch to ```test.skip/test.cancel```, so I don't think they want go back to the original way.
We can workaround the problem temporarily, and waiting for the new LTS relases.

[2017-04-25 17:47] ldoktor commented on #1946
Sure, for now I'd recommend using the `autotest` exceptions and once we release new LTS (which should be in ~2 releases) then you can replace it easily.

[2017-04-25 17:49] ldoktor commented on #1946
Btw not so long ago we made the `TestError` `TestFail` and `TestCancel` available in `avocado` public API so that would be the simplest replacement (easily automated)

[2017-04-25 17:51] ldoktor commented on #1946
^^ basically you can replace:

[code]

with
[code]

[2017-04-26 09:26] will-Do commented on #1946
@ldoktor Thanks for your suggestion.
What we have to replace is for 36lts is: ```test.cancel(``` to ```test.skip(```.

[2017-05-03 08:31] luckyh opened #1971 "html report: No data available in table"
There are some new features introduced by https://github.com/avocado-framework/avocado/pull/1967. However, avocado-vt didn't follow the change, as the result, test result items failed to be inserted into html content.

Does anyone have the plan to fix this?

[2017-05-03 08:40] luckyh commented on #1971
The following `result.tests` content was caught from my vt test.
[code]

[2017-05-03 08:41] apahim commented on #1971
@luckyh, checking.

[2017-05-03 08:47] luckyh commented on #1971
@apahim thanks!

[2017-05-03 13:28] apahim commented on #1971
@luckyh could you please review https://github.com/avocado-framework/avocado-vt/pull/1002 ?

[2017-05-03 18:27] caleb-moniot opened #1978 "Problems inheriting from avocado.Test"
I've just started with Avocado and I'm attempting to create a class that inherits from avocado.Test.  Running the test produces an 'Unable to resolve reference(s)' error when attempting to run the test.

[code]

Running this test through avocado produces the following error.

*Unable to resolve reference(s) '/usr/share/avocado/tests/BaseTest-TestOne.py' with plugins(s) 'file', 'external', try runn

[2017-05-03 18:41] apahim commented on #1978
Hi @caleb-moniot,
The point is that Avocado does not load the test class before execution, so introspection is not possible. To discover the tests we make static analysis.

So, for those tests that are written in a class not directly inheriting from `avocado.Test`, you have to help Avocado a bit.

Please include the following docstring in your test class:

[code]

--
apahim

[2017-05-04 11:29] #1971 closed

[2017-05-04 16:57] caleb-moniot commented on #1978
Thanks for your quick response @apahim. That was exactly what was missing.

[2017-05-04 16:57] #1978 closed

[2017-05-08 17:57] adereis commented on #1545
My view on this stays the same:

So I don't think this belongs to Avocado, as it doesn't match the architecture or the base requirement that Avocado should be multi-user and multi-job capable.

With that said, the code you wrote seems to be fine be used in your test, or maybe even as the base for something to be added to `utils`. Another idea would be to do these checks pre/post (job or test) so u

[2017-05-09 11:23] jscotka opened #1984 "TypeError: __init__() got an unexpected keyword argument 'base_logdir'"
I've met issue that something weong with init method:
 see sources for this trouble
### base-runtime module setup docker image
https://github.com/fedora-modularity/baseruntime-docker-tests/blob/master/setup.py

### modularity testing framework (built on top of Avocado (derived class))
https://pagure.io/modularity-testing-framework/blob/master/f/moduleframework/module_framework.py

### output
[code

[2017-05-09 11:25] jscotka commented on #1984
Probably good to mentione that I've met also similar issue, caused by that, there is hardcoded timeout for class initialization to 60s, and when I've defined own `__init__` for class derived from avocado.Test and done there some package installation -> it caused that this limit were easily exceeded, and I were unable to find way how to increase this `__init__` limit

[2017-05-09 12:22] jscotka opened #1985 "using static test method in Test class causes very cryptic output"
it seems that using static test method in Test class causes very strange error.
[code]

[2017-05-09 13:09] lmr commented on #1985
It seems like you forgot to add the `@staticmethod` decorator to the function. Also, how are you supposed use `self.log`on a static method?

[2017-05-09 13:13] lmr commented on #1985
So since you missed the staticmethod decorator, the class instance is being passed as the first argument of the method, causing the error. The bug description is misleading, when I read the summary my first thought was that a test with correct code was triggering the behavior, when it's not the case.

[2017-05-09 13:23] lmr commented on #1985
So the intended code would be

    from avocado import Test
    from avocado import main
    import logging

    class A(Test):

        @staticmethod
        def testA():
            log = logging.getLogger('avocado.tests')
            log.info("A")

    if __name__ == "__main__":
        main()

Which passes just fine:

    ...
    PARAMS (key=timeout, path=*, default=None) => None
    START 1-m

[2017-05-09 13:24] clebergnu commented on #1985
@jscotka I think you just missed the `self` parameter to `testA`, which is the most common way of writing Avocado tests.

[2017-05-09 13:24] jscotka commented on #1985
no, I l know that I've missed (self) inside test metdhond by mistake.
It also failed in case there was  print "A" instead of  self.log.info("A").

I'm just wondering that this is very cryptic bug, not about using some decorators like @staticmethod, at least in traceback probably there could be provided this help like please use decorator: ` @staticmethod`

[2017-05-09 13:28] lmr commented on #1985
The error message is actually very correct:

    TypeError: testA() takes no arguments (1 given)

And that's how python will error out. It does require a bit of python knowledge to understand the message, but it's 100% clear provided that you know how arguments are passed to methods in python classes.

I suppose we can add some extra help on top of what python provides, but that seems very error p

[2017-05-09 13:28] clebergnu commented on #1985
IMO, this is pretty accurate:

[code]

It's the same Python error you'd get when running the same type of code outside of Avocado.  Anyway, our docs can be more explicit about the signature of the test functions here:

http://avocado-framework.readthedocs.io/en/49.0/WritingTests.html#what-is-an-avocado-test

[2017-05-09 13:35] clebergnu commented on #1985
I created a card to track this:

https://trello.com/c/1dGWBED5/1023-document-test-functions-signatures

@jscotka I'm closing this one and we'll track it on Trello.  Thanks for reporting it.

[2017-05-09 13:35] #1985 closed

[2017-05-09 13:36] jscotka commented on #1985
I'm not sure. I've tested code and it works pretty well
[code]

[2017-05-09 13:40] clebergnu commented on #1985
@jscotka sure, you have a method **and** the `self` parameter there.  Your other option is to have a static method (and mark it as such), then you can drop the "self" parameter.

In the following example, `testA` and `testB` will **not** work:

[code]

[2017-05-09 13:49] clebergnu commented on #1985
@jscotka the whole point is, you **original** example is broken:

[code]

This won't work on a basic Python (object) class, nor unittest.TestCase or any other type of class.  `testA` here is a method, and **requires** the `self` parameter. Period.

Please address **this** comment, because I feel this simple point is being missed.

[2017-05-09 13:58] clebergnu commented on #1984
@jscotka can this be closed after the following fix?

https://pagure.io/modularity-testing-framework/c/88218561576df83529d3f1183e6607e2675103e9?branch=master

Or is the previous comment a second issue?

[2017-05-09 14:01] jscotka commented on #1984
comment https://github.com/avocado-framework/avocado/issues/1984#issuecomment-300135201 is completely anoter issue, just little bit connected with using __init__ method redefinition

[2017-05-09 14:14] jscotka opened #1986 "way how to icrease timeout of init method"
There is issue when redefinig init method and init method take nontrivial time, it fails.
Is there way how to increase this timeout for class initialization  or somehow be able to disable this timeout?

[code]

[2017-05-09 14:16] jscotka commented on #1984
this issue can be closed, your solution works well.
Maybe it could be also somehow documented, that in case of multiple inheritance, you should have `avocado.Test` as first parent to able to call __init__

[2017-05-09 15:13] #1984 closed

[2017-05-09 15:14] clebergnu commented on #1925
@omps I'm assuming you either fixed or is not able to provide further information on this issue.  If it reappears, please reopen this issue.

[2017-05-09 15:14] #1925 closed

[2017-05-10 14:35] ldoktor commented on #1545
OK, going in circles, I also keep the same opinion as during previous round. Such feature could be useful, I'd split it into several levels:

1. generic failures detection, useful for most tests, can be disabled by config/test metadata
2. specific failures detection, should be an avocado utility which would be called from `tearDown` of the test (eg. userspace crashes and so on)

The first can use

[2017-05-10 15:03] jfilak commented on #1545
You don't need to reimplement the logic to detect kernel oops in dmesg - ABRT already doest that pretty well. However, if you really want to implement your own dmesg parser, here you can see the list of strings matched recognized by ABRT:
https://github.com/abrt/abrt/blob/master/src/lib/kernel.c#L84

[2017-05-11 06:16] ldoktor commented on #1986
Currently there is no way, this timeout is hardcoded. Anyway I don't really see a reason for allowing this to be adjusted. `__init__` method is suppose to simply initialize the object, not to actually do something complex. Can you move the complex initialization procedure to `setUp`, where it probably fits better?

To minimize the effort, you can use `avocado.utils.data_structures.LazyProperty` de

[2017-05-11 11:40] jscotka commented on #1986
Hi Lukas,
I've have done exactly this longer time ago, because it blocked my work. I had to discover what I has to have in `init` and rest, it took lots of hours to rewrite it.
I have part of code in `init` and rest in `setUp`, but generally have there hardcoded some timeout is bad idea and would be nice at least provide some way how to override to another value at least via avocado config, ideall

[2017-05-16 11:43] jscotka commented on #1792
could you please revise that. I need this so much.

[2017-05-16 12:10] jscotka opened #2003 "RFE: append results to previous job"
please provide option like --append to avocado what allows extend previous job result
Discussed with @ldoktor personally.

[2017-05-16 12:12] jscotka opened #2004 "RFE: html result as single file"
Comprimation of files causes that gz files are not loaded, so that CSS and JS is not loaded,
see taskotron:
https://taskotron.fedoraproject.org/artifacts/all/709a28a4-3a19-11e7-b258-5254008e42f6/task_output/avocado-result/html/results.html
Discussed with @ldoktor personally.

[2017-05-16 12:48] jscotka opened #2005 "reconsider which version lands in fedora"
Hi,
I've found issue, that in fedora 25 there is still old version (0.46) and as we've discussed with @ldoktor there could be LTS version, because fedora allows bug fixing.
I vote for rebasing until EOL of fedora but in case it is not allowed, the better solution is to have there LTS version
    Regards
    Honza

[2017-05-16 13:07] jscotka opened #2006 "RFE utils: append clever timeout/retry/delay decorators"
Would you be interested in adding https://github.com/cockpit-project/cockpit/blob/master/test/avocado/timeoutlib.py to your `avocado.utils`? It allows you to use decorators like:

[code]

[2017-05-16 13:08] jscotka opened #2007 "RFE utils: add network simulation library"
It would be nice to have there some library allows simulate ethernet devices and connect them together,
see my code in cockpit:
https://github.com/cockpit-project/cockpit/blob/master/test/avocado/libnetwork.py

[2017-05-16 13:11] jscotka opened #2008 "RFE utils: add disc simulation library"
It would be nice to have there some library allows simulate disc devices,
see my code in cockpit:
https://github.com/cockpit-project/cockpit/blob/master/test/avocado/libdisc.py
It allows to use loopback devices as simple solution, or it uses iSCSI target/initiator for more realistic disc simulation.

[2017-05-16 13:42] ldoktor commented on #2004
Let me rephrase it a bit. Basically some results dbs (Jenkins/taskotron) are storing the artifacts compressed and always uncompress the single file they are asked for, making the html results hideous. Instead of a normal file with includes we should generate single multi-part html file and I think it's a good idea.

[2017-05-16 13:52] ldoktor commented on #2003
Basically the way I understood it is that you have several tests that are not necessary part of one job, but you'd like to report them together. There are two (basic) ways, we can either support merging results, or allow extending the job.

The first one would be really tricky as the tests are order-dependent (they have serial numbers) and such merge would either have to change them, or it could p

[2017-05-16 14:02] ldoktor commented on #1792
Basically this is about allowing to create test-suites. The options are:

1. Create directories and use symlinks to create the test suites `avocado run suite1/ suite2/`
2. Create `\n` separated files and use `avocado run $(cat suite1)`
3. Implement `csv`/`tsv`/`\n` loader which would basically work as (2) without the need to use subshell `avocado run --loader suite suite1`
4. Add support to intros

[2017-05-16 14:09] ldoktor commented on #2005
@mmathesius IIRC you were talking about rebasing the library per release, but it looks like only F27 is updated. Was it not possible to do? If so perhaps we should use the next LTS as a base and from time to time send bugfixes (perhaps we can even synchronize our LTS releases to - every other - Fedora release, but this is just a brainstorm).

@clebergnu @apahim this might be interesting to you as

[2017-05-16 16:30] mmathesius commented on #2005
I've been keeping Rawhide up to date just to keep the package current with the regular Avocado releases. There should be no reason the updates couldn't also be pushed to the other current versions of Fedora, there just didn't seem to be a demand for it. Apparently there is. Should I start the update process for 49.0--or wait for 50.0 at this point?

I've also given a small amount of consideration

[2017-05-16 17:39] clebergnu commented on #2005
50.0 will be out later Today, so I'd suggest waiting for it.

As for multiple versions of a given package on Fedora, it will indeed require a different name.  I guess the naming format you're proposing (`python#-avocado-lts`) is pretty sane, so +1 on that.

[2017-05-16 20:23] amoskong opened #2009 "MemoryError: out of memory"
Version: 36.4

Avocado run 7 days (scylla-longevity test), and get a MemoryError at the end of test.
Will Avocado use more memory at the end of test? or loading/swapping sth to memory?

[code]

[2017-05-17 05:04] jscotka commented on #2005
+1 for that solution, have in version fedora as last as possibe with same name of rpm and -lts for LTS version of avocado.
Thanks a lot

[2017-05-17 05:11] jscotka commented on #1792
Yes I prefer solution (4).
__User storie:__ I've created `modulelint.py` at the beginning and more modules uses that. And I've now reconsidered, that it hasto be divided to more files like: `rpmvalidator, check_compose`, and other.

And I would like to keep backward compatibility for those whose use just `modulelint,py`. It is harder to force more people to change theirs Makefiles to use another w

[2017-05-17 07:22] ldoktor commented on #2009
Hello @amoskong, it'd be nice to monitor the memory utilization throughout the execution, whether it's continual increase, or a peek.

Anyway to your question the traceback suggests the test process tried to send the test status to the runner. That means it first gets the status from the test (a new dictionary with ~20 items mainly containing short strings) and then it tries to send it via queue (

[2017-05-17 08:32] ldoktor commented on #2009
Btw just out of curiosity I made a simple measurement and got these results:

[code]

Where:
 * When - when the measurement was produced
 * total_mem_cgroup - `memory.memsw.usage_in_bytes` including xterm avocado was executed from
 * runner_rss - RSS memory of the main Avocado process
 * test_rss - RSS memory of the test process

[2017-05-17 09:51] apahim commented on #2008
@jscotka seems like you've done most of the work already. Could you please port the code to Avocado utils and propose as a Pull Request?

[2017-05-17 09:52] apahim commented on #2007
@jscotka seems like you've done most of the work already. Could you please port the code to Avocado utils and propose as a Pull Request?

[2017-05-17 20:20] mmathesius commented on #2005
I just committed and built python-avocado-50.0-1 for F24, F25, F26, and Rawhide. I have also submitted it as an update for F24, F25, and F26--so expect to see it in the testing repos soon.

[2017-05-17 20:39] clebergnu commented on #2005
Awesome @mmathesius! Thanks! I guess we can close this issue since Merlin will (I assume) keep updating `python#-avocado` until the introduction of `python#-avocado-lts`.

[2017-05-17 20:39] #2005 closed

[2017-05-18 11:54] harish-24 opened #2019 "Ideal usage of --job-timeout argument"
The `--job-timeout` argument of `avocado run` seems to be not working for greater values than 86400 which is provided in `DEFAULT_TIMEOUT` in `avocado/core/runner.py`.

A sample sleep test with --job-timeout of 90000 seconds gets interrupted at 86400 seconds. But gets interrupted with a lesser --job-timeout than 86400.
[code]
Is this timeout expected to work only for lesser values than 86400 ( or

[2017-05-19 04:19] ldoktor commented on #2019
The `DEFAULT_TIMEOUT` is a convenience value to avoid complete hangs, but the timeout can be overridden by test params (by setting `timeout` variable in test `self.timeout = 90000` or by using varianter to set the `timeout` eg `--mux-inject /run:timeout:90000`). Note it has to be non-zero, otherwise default is applied.

I don't think we should automatically match the test timeout to job timeout as

[2017-05-19 04:45] narasimhan-v commented on #2019
@ldoktor I would say there is no need of `DEFAULT_TIMEOUT` at all, because some tests can take longer to complete based on its input. It is difficult to determine / guess them. We should just use the `timeout` that the user gives via the different means you have mentioned.

[2017-05-19 05:00] ldoktor commented on #2019
@narasimhan-v can you please send an RFC to `avocado-devel`? It's been a while since we decided this, but I still believe adding default timeout is a good idea, but as we added `job-timeout` maybe more people would be inclined to remove this.

As for the different values, that's why it's configurable from `self.params`, one can always override it based on the variant they are running.

[2017-05-19 06:39] narasimhan-v commented on #2019
@ldoktor Sure, will do.

[2017-05-19 09:54] jscotka commented on #2003
Hi,
sure that fits what I want. The solution that results are copied from mentioned job is perfect.
I can imagine when when used this parameter for exteding results. just post sysinfo is scheduled, and pre is copied from previous job.

otherwise I would like to have option to use some relative adress like "--extend latest" than some ID, what I have to automatically parse from output. (yes I know I

[2017-05-19 12:08] ldoktor commented on #2003
Sure they should share the `replay` logic, so either full/partial id, latest or path_to_the_results should be acceptable. Also note that you can use `--force-job-id` to set job id (to avoid parsing the output).

Anyway I'll bring this to our next scrum meeting and we'll discuss whether this is acceptable.

[2017-05-19 12:09] ldoktor commented on #2003
![](https://github.trello.services/images/mini-trello-icon.png) [RFC: Append results to previous job](https://trello.com/c/Dn5Z9eOi/1039-rfc-append-results-to-previous-job)

[2017-05-22 12:17] TomasTomecek opened #2024 "Support python 3"
I wonder how come that avocado doesn't support python 3.

[2017-05-22 12:53] clebergnu commented on #2024
@TomasTomecek a few versions back, we still had to support Python 2.6 (EL6).  We have had a few rounds of PRs towards Py3k support.  It shouldn't be far at this point.

Is this a requirement of yours?

[2017-05-22 13:15] TomasTomecek commented on #2024
Not a hard requirement, really. It's just that we are using avocado in [modularity testing framework](https://pagure.io/modularity-testing-framework/issue/34) and it would be awesome if we could switch to python 3 by default.

[2017-05-22 13:42] clebergnu commented on #2024
![](https://github.trello.services/images/mini-trello-icon.png) [Add Python 3 support](https://trello.com/c/cQzWd5cG/1041-add-python-3-support)

[2017-05-22 14:08] TomasTomecek commented on #2024
thank you!

[2017-05-22 16:22] clebergnu commented on #2024
A quick round of improvements to get this on speed again: #2025

[2017-05-23 06:44] jscotka opened #2027 "pip installation of avocado does not work on CentOS6"
Avocado installation on CentOS6 does not work well, at least pip installation:
[code]

[2017-05-23 11:53] ldoktor commented on #2027
Could you please specify which pytohn version are you using? I don't think there is python 2.7+ on Centos6 and Avocado 50 requires 2.7+. You should be a ble to use the 36lts (`avocado-framework<34.0`).

[2017-05-23 12:54] jscotka commented on #2027
yep, that is possible.
Isn't that possible to somehow fix, that pip install avocado-framework will install older version when on system there is just python2.6?
This could cause compatibility troubles. when using pip and avocado. (I should not care which version of avocado is for my system. Pip could solve that for me)

[2017-05-23 13:11] clebergnu commented on #2027
@jscotka I've enabled the listing for the LTS version too:

https://pypi.python.org/pypi/avocado-framework

In our source code, we state that Python 2.7 is required for newer releases:

https://github.com/avocado-framework/avocado/blob/master/setup.py#L175

But it looks like pip can't be made aware of that.  Also, there's the possibility of marking one file as Python version dependent but it looks

[2017-05-23 13:16] jscotka commented on #2027
I have no idea how to do that. I just though that pip could know how to select proper version for proper version of system, based on python version :-)

I've found that because there were discussion to use python 3  for avocado and it was argued that there is support for RHEL6 and it does not contain proper python version.
So I'm not sure with conclusion. if support of RHEL6 will be removed in few

[2017-05-23 13:46] clebergnu commented on #2027
That's the point of LTS, with longer support cycles.  For information on lifecycle:

http://avocado-framework.readthedocs.io/en/latest/rfcs/LongTermStability.html

Now, is using a version modifier on EL6 a blocker for you?  For me running this works pretty well:

[code]

Another example is @Andrei-Stepanov, he has installation scripts using pip in which he chooses either LTS or a regular release.

[2017-05-23 13:53] clebergnu commented on #2027
@jscotka actually, on a EL6 box, I can reproduce your issue with `NullHandler`:

[code]

Let me check what's going on here.

[2017-05-23 14:06] clebergnu commented on #2027
It was indeed a stevedore problem:

[code]

You need to use a version also compatible with Python 2.6. I suggest:

[code]

[2017-05-24 07:47] ldoktor commented on #2027
Basically those are all pip issues. Every since we dropped 2.6 compatibility our `setup.py` says that and in 36lts we use `stevedore>=1.8.0,<=1.10.0; python_version < '2.7'` to select the right stevedore version. One think you can try is using `pip install pip --upgrade` to see whether the issue was fixed in later versions.

Anyway please use `avocado-framework<37.0` to get the latest 36.4 version

[2017-05-24 10:17] jscotka commented on #2027
it is not blocking me at all. I'm using version from your repositories for rhel6 and it works well.
I've just tested also installation avocado via pip on rhel6 and I've met this issue.

So yep as you mentioned there exist lots of workarounds what improves that and fix the issue, but as you mentioned probably it is not possible to fix this issue directly on pip. (install proper version of avocado a

[2017-05-25 05:31] harish-24 commented on #2019
@ldoktor @narasimhan-v Thanks for clarifying on this. Closing this.

[2017-05-25 05:31] #2019 closed

[2017-05-25 11:46] ldoktor commented on #2027
OK, downloading RHEL.6 to give it a try. When using from sources, one should use `requirements.txt` but IIRC they are not applied when using from pip. We added the basic requirements not that long ago to `setup.py`, but it was not reflected in 36lts so perhaps we can do better...

[2017-05-30 08:25] jscotka commented on #2007
Hi, yep, I'm done with that for cockpit and it works well.
Unfortunatelly I do not have time now to improve it for avocado, or repair that via PR reviews to satisfy avocado coding style or guidelines.

I can do initial PR for you if you want, in case somebody will then take care about that and finish PR on top of my PR.

Otherwise I don't have time for next month or two, then, we'll see, maybe I'l

[2017-05-31 17:29] clebergnu commented on #1811
@jscotka FIY, this has been merged and will be included in release 51.0.

[2017-06-05 12:13] Andrei-Stepanov opened #2055 "RFE: Make avocado plugins more readable"
avocado plugins lists all available plugins.

The output list is divided in subcategories:

Plugins that add new commands (cli.cmd):
xxx
Plugins that run before/after the execution of jobs (job.prepost):
yyy
Plugins that generate job result based on job/test events (result_events):
zzz
Plugins that generate test variants (varianter):
aaa

I propose to make this sub-categories more easy for reading

[2017-06-05 13:20] jscotka commented on #2007
Hi,
I've created initial version of network simulation library:
https://github.com/avocado-framework/avocado/pull/2056

[2017-06-12 11:56] clebergnu commented on #2055
@Andrei-Stepanov I agree with your suggestion.  Please find implementation in #2064

[2017-06-12 11:57] clebergnu commented on #2009
@amoskong any updates on the questions raised by @ldoktor ?

[2017-06-12 11:59] clebergnu commented on #2007
@jscotka thanks a lot for sending that PR.  I'll close this issue while we focus on the PR only.

[2017-06-12 11:59] #2007 closed

[2017-06-12 12:00] clebergnu commented on #2006
@jscotka and another thanks for the PR on this.  I'm closing this issue so we can focus on the PR only.

[2017-06-12 12:00] #2006 closed

[2017-06-12 12:28] clebergnu commented on #2004
If it's at all possible, then yes, +1 here.

[2017-06-12 12:39] clebergnu commented on #1792
@jscokta the new `:avocado: recursive` tag at least partially address this.

Wrt solution 4, I understand that you'd like to have a file such as:

[code]

And then when run `avocado list -V includetests.py ` get the following result:

[code]

That is currently not possible because we look for a `class` statement in the file that was given as a test reference (`includetests.py` in this case).  This

[2017-06-12 19:36] #2055 closed

[2017-06-13 10:38] jscotka commented on #2006
Thanks a lot @clebergnu

[2017-06-15 13:47] ldoktor commented on #2004
It is possible:
[results.zip](https://github.com/avocado-framework/avocado/files/1077800/results.zip)

Do you see this as a new feature, or can it be included in this release? (PS: This one was created manually, but it is really simple to put it directly in html plugin)

[2017-06-15 14:15] lmr commented on #2004
Curiously, I can see the HTML file generated just fine here on Chrome 59.0.3071.86 (granted, right now I'm on the macOS laptop).

[2017-06-15 14:18] lmr commented on #2004
Having a single file HTML was considered initially, but it seemed excessively ugly having a single file with all assets. Also I'm not sure all assets can be inlined in a way that further uglifies the HTML file.

However I can see the appeal of a single file, so by all means, go ahead.

[2017-06-15 14:21] lmr commented on #2004
![screenshot 2017-06-15 16 21 42](https://user-images.githubusercontent.com/296807/27185811-bd0515f2-51e6-11e7-9eb3-aceecbaa891e.png)

[2017-06-15 14:24] lmr commented on #2004
@ldoktor I just saw your inlined file, it works fine. It's not pretty on the inside, but it does deliver!

[2017-06-15 14:24] ldoktor commented on #2004
Well the cons is it looks ugly, but you have `results.{json,tap}` to get vim-readable results. Also you are free to ignore the <header> section and the rest is intact.

As for the changes, basically I replaced the `<link href="css/bootstrap.min.css" rel="stylesheet">` with `<style>...</style>`, the `<script src="js/jquery.min.js"></script>` with `<script>...</script>` inside the `<header>` section

[2017-06-15 14:26] lmr commented on #2004
Yep, I just thought strange that my browser can display the URL that @jscotka reported perfectly, no additional steps required, so I'm taking with some other browsers or browser versions that does not happen. I think it's going to be fine to inline everything.

[2017-06-15 14:40] ldoktor commented on #2004
Oh, I thought you are talking about mine version. Well you are right, they must have changed configuration as most files are compressed, but when you look at https://taskotron.fedoraproject.org/artifacts/all/709a28a4-3a19-11e7-b258-5254008e42f6/task_output/avocado-result/html/ it's not compressing `.js`, nor `.css` files.

[2017-06-15 15:05] ldoktor commented on #2004
https://github.com/avocado-framework/avocado/pull/2072

[2017-06-15 19:21] UnitasBrooks commented on #900
Hi I had a question about the varianter, and I wasn't sure where to go, IRC
seems very quiet and I haven't been accepted on your mailing list, hope
this reaches you!

I am using a varianter yaml file to run a test a few different ways, the
problem I'm running into is that I want it to only apply to that test in a
given job. For instance if I run this command:

avocado run -m variant.yml variant_ca

[2017-06-15 19:27] clebergnu commented on #900
@UnitasBrooks can you please tell me what kind of problem you're having with the mailing list?  It should defintely be open to anyone.  IRC is really quiet, and just today I tried to join oftc.net and it seemed to be down.

Anyway, back to your question:  it's not currently possible to provide variants only for some tests.  The variants are applied to every single test in a Job's test suite.  We d

[2017-06-15 19:32] UnitasBrooks commented on #900
I think I just need to be accepted to it and haven't yet? I tried emailing it and it got bounced.

One way it could be handled is by having the variant file defined in the test case as opposed to the command line, other wise just parsing it differently could help like allowing commas between cases:

avocado run case_1, case_2 -m v.yml, case_3, case_4 -m v2.yml

[2017-06-15 20:17] clebergnu commented on #900
Under the hood, we currently have some limitations.  Basically `avocado.core.job.Job.run_tests()` do not take a list of variants or tests (what we call the test suite).  That's because Avocado provides the Job abstraction, so the test suite is the job's own.

One possibility, which is by far the most clean and flexible, is to programatically make use of the `avocado.core.job.Job` class.  You'd wri

[2017-06-16 20:09] clebergnu commented on #2009
@amoskong I'm closing this issue for now, please reopen if you're able to follow up with it.  Thanks!

[2017-06-16 20:09] #2009 closed

[2017-06-16 20:16] clebergnu commented on #2004
I see all files under https://taskotron.fedoraproject.org/artifacts/all/709a28a4-3a19-11e7-b258-5254008e42f6/task_output/avocado-result/html/ ending in `.gz`.

Still, that should not be an issue, as their webservers will serve uncompressed versions of these files transparently.  Just try out the following links:
 * https://taskotron.fedoraproject.org/artifacts/all/709a28a4-3a19-11e7-b258-5254008e4

[2017-06-19 10:11] ldoktor commented on #2004
Well I said this on IRC, so let's mention it here as well. This is only true for properly configured `taskotron`. When this issue was raised, this was not enabled/supported and it is still not supported on Jenkins servers and who knows where else, therefor I'd support the single-page results... Anyway PR is pending, so let's move the discussion there...

[2017-06-20 18:34] whoiskjl opened #2081 "I'm getting a wrong font weight from Sketch"
![screen shot 2017-06-20 at 2 30 22 pm](https://user-images.githubusercontent.com/1874874/27349484-6c512078-55c5-11e7-9244-965a1cf7db2d.png)

It should be 600 not 300. It even says demi

[2017-06-20 18:39] clebergnu commented on #2081
@whoiskjl this is not realted to this project (Avocado), right?

[2017-06-21 03:32] lmr commented on #2081
Wrong project, I'm closing this

[2017-06-21 03:32] #2081 closed

[2017-06-21 16:17] whoiskjl commented on #2081
I'm sorry! wrong project!

[2017-06-23 15:27] ldoktor commented on #2004
https://github.com/avocado-framework/avocado/pull/2072 was merged, results are now available in a single html file.

[2017-06-23 15:27] #2004 closed

[2017-06-23 15:28] ldoktor commented on #1924
Guys, could you please comment on this? @clebergnu @lmr @adereis

[2017-06-23 15:29] ldoktor commented on #1792
@jscotka does the current `:recursive:` tag works for you, or is there something else you need regarding this support?

[2017-06-30 15:56] narasimhan-v opened #2111 "Individual tests selected to run runs all tests matching the pattern"
[code]

[2017-06-30 16:27] clebergnu commented on #2111
@narasimhan-v this is a corner case because of our regex support.

Currently to achieve what you want, you'd have to use:

[code]

[2017-06-30 16:35] narasimhan-v commented on #2111
@clebergnu Agreed. But I would rather have `avocado run nvmetest.py:NVMeTest.testwrite` run only `testwrite()`, as that sounds more obvious

[2017-06-30 18:49] apahim commented on #2111
@narasimhan-v, btw here's the reference: http://avocado-framework.readthedocs.io/en/latest/Loaders.html#file-loader

[2017-07-11 10:27] ldoktor commented on #2111
Well we can get the expected behavior by manually adding `$` at the end of the filter if not already there (and prefixing `^` if not already there). People who'd need the old behavior would have to use `.*my_filter.*` while those who just want good old plain match would use `my_filter` which would become `^my_filter$`.

With this said I still don't think it's a good idea as it adds another special

[2017-07-13 13:18] amoskong opened #2115 "Question: Can I assign different yaml configure for different subtests?"
I have two configure files (test1.yaml, test2.yaml), they are for two subtests (test1 and test2).

`avocado run test1 test2 --multiplex test1.yaml`

I want to run test1 and test2 in one avocado cmdline, and use different yaml configure, is it possible?

[2017-07-14 10:22] apahim commented on #2115
That's not possible currently. We are working on the Job API, which is expected to allow that. By the way, yesterday we also discussed a way to provide that feature even before having the Job API, so you can expect a trello card and consequent action on that anytime soon. I'll keep you informed.

[2017-07-14 14:42] benzea opened #2116 "Avocado fails to replay jobs if remote plugin is not installed"
The replay plugin checks that remote_hostname is not set in the arguments. Unfortunately the attribute does not even exist if the plugin is not installed and then it fails with an attribute error:

[code]

The fix is as simple as adding a hasattr() to replay.py line 175.

[2017-07-14 15:00] clebergnu commented on #2116
@benzea thanks for reporting this issue.  And yes, your description and proposed approach to fix this issue makes sense.

[2017-07-18 17:12] ldoktor commented on #2115
Hello Amos, I'm also troubled by this and last week I had an idea how to do this without breaking the layers. Take a look at https://github.com/avocado-framework/avocado/pull/2117

With that PR it should be possible to solve your issue by:

[code]
where `testsuite.yaml` is:
[code]

Note it's just a PoC of an idea, any input is welcomed.

[2017-07-18 17:21] ldoktor commented on #2116
Hello @benzea, thank you for suggesting this, next time don't be shy and send a patch (or feel free to still send it, I won't mind that). It'll make your issue resolved faster 😉

[2017-07-19 07:38] amoskong commented on #2115
Looks a good and simple solution for me, thanks.

[2017-07-24 17:02] #2116 closed

[2017-08-01 17:14] UnitasBrooks opened #2122 "Can no longer install avocado version 49.0"
For the past few months we have been installing avocado version 49 like so:
[code]

It used to work fine, now we are getting automatically upgraded to 52.0
[code]

We can still download 47.0 which may work for us, but will that eventually be obsoleted as well? The big breaking change was the mux-to-yaml module being renamed/going away.

*EDIT*

Looks like I was mistaken 47 gets redirected as well,

[2017-08-01 17:50] clebergnu commented on #2122
@UnitasBrooks can you please check if this is "redirection" or is just a package selection based on the enabled repos?

What has recently happened is that Avocado was added to EPEL7.  I have to check which version is active there, but in theory, you could have it insta

[2017-08-01 17:57] clebergnu commented on #2122
If you have all the deps (and some come from EPEL 7), you can still install Avocado 49.0 with:

[code]

[2017-08-01 18:53] clebergnu commented on #2122
I can quickly answer the question about the installation method (and I'll defer the investigation of the jobdata/variants error).  In thoery, all releases within the 52.X major release should bring *no* breakage.  LTS will only contain critical bug fixes, so it should be safe (and desirable) to use:

[code]

More info here: http://avocado-framework.readthedocs.io/en/52.0/rfcs/LongTermStability.htm

[2017-08-01 18:56] UnitasBrooks commented on #2122
Ok thanks for your help, would you like me to open a new ticket regarding the variants error? Or will someone else stop by on this ticket?

[2017-08-01 18:56] clebergnu commented on #2122
@UnitasBrooks Yes, please open another issue!

[2017-08-01 19:01] UnitasBrooks opened #2123 "Error printed using variants after upgrading from 49.0 to 52.0"
Hello,

I upgraded to 52.0 LTS,  got everything working with it except it prints a strange error when grabbing a yaml varianter file:

[code]

The interesting thing is that the variants file does seem to get "muxed" correctly and the parameters are passed onto the test.

Here is the yml file:
[mediainfo_test.yml.txt](https://github.com/avocado-framework/avocado/files/1191617/mediainfo_test.yml.txt

[2017-08-01 20:33] apahim commented on #2123
This is related to the job data recorder. That recorded data is further used by features like Job Replay and Job diff. If you're not using those features, I don't expect anything else to be broken. I will take a look asap (a.k.a. "probably tomorrow").

[2017-08-01 21:11] UnitasBrooks commented on #2123
yea it's not effecting too much but I'd like the spammy message to go away before upgrading to 52.0. If there is a way to suppress it that works as well.

[2017-08-01 23:23] apahim commented on #2123
Despite the messages, is this yaml file working for you? It seems really broken...It creates only one variant, with a list as the value for the parameter `validators`:

[code]

My guess is that you want a file more like this:
[code]
That would generate the following variants:
[code]

Anyway, the fact that we are running the test with that yaml but failing to serialize/record it shows that we have

[2017-08-01 23:29] UnitasBrooks commented on #2123
Arrays of dictionaries seem to be supported through YAML in my internet searches, it seems unpleasant to create a name for something that is really an index.

[2017-08-01 23:46] apahim commented on #2123
Yes, they are supported. Issue is in our (new) serialization code.
As for the "seems really broken" comment, for a moment I thought you'd be intending to have each variant with one set of parameters, not all of them in one variant only. You can disregard my yaml suggestion, it makes no sense if my assumption was wrong.

[2017-08-03 05:36] apahim commented on #2123
https://trello.com/c/sGlqsLd7/1088-bug-jobdatavariants-unable-to-serialize

[2017-08-04 07:32] ldoktor commented on #2123
Hello @UnitasBrooks, the main problem is that Avocado turns every dictionary into an OrderedDict and then into TreeNode object. This is expected when specifying the namespace (the `/tests/some_test_name`) but it should not be done when producing the actual values, which is the case of the values inside the `validators` list. So far we have neglected this as one can access those values if they cope

[2017-08-04 16:17] UnitasBrooks commented on #2123
So here is why I don't like !!python/dict, I'm not sure how many other people are using the JSON, but !mux causes json parsing to fail unless you remove it ahead of time. If for instance I wanted to create a UI that generates test configs (mux yml/json) having to deal with generating invalid JSON is a huge pain. Not sure if this is a consideration for other people.

I'm a little confused still, I

[2017-08-05 08:48] ldoktor commented on #2123
Well the JSON parsing is just a consequence of PyYAML being able to de-serialize it. It's not capable of storing custom tags (not 100% sure about that) so the `!mux` and perhaps the `!!python` tags are and can't be not supported. Why do you need to generate JSON files in the first place? Do you only need single variants? If so we intend to include simple params plugin to be able to inject just par

[2017-08-10 11:00] Venutiwa opened #2135 "Profilers do not clean up after the avocado run finishes."
Profilers added in /etc/avocado/sysinfo/profilers keep running even after the avocado run finishes, filling up the 100% of the disk space. profilers should get cleaned/killed once the test completes.
sample ps -ef output after avocado-setup.py exit:
root 170073 2 0 02:40 ? 00:00:00 [kworker/0:2]
root 170309 1 0 04:08 pts/0 00:00:02 iostat -t -x 5
root 170316 1 0 04:08 pts/0 00:00:00 vmstat -t 5
ro

[2017-08-10 12:16] mhradilek opened #2136 "RFE: Avocado Lint"
As a beginner using avocado I have trouble with avocado not recognizing test as instrumented. I suggest that "avocado list -V particulartest.py" runs some basic tests for common mistakes like missing docstring directives.

Took me a while stripping test to bare bones until i found my mistake.

[2017-08-10 13:00] apahim commented on #2136
Could I ask what was wrong in your test? If your mistake was forgetting the `avocado: enable` docstring, we need it to recognize the test as a test when it's not directly inheriting from `avocado.Test`. From your suggestion, we should identify the docstring-less test as a test to then tell the user that the docstring is missing? In that case, docstring would not be needed at all, since test would

[2017-08-10 13:05] apahim commented on #2135
![](https://github.trello.services/images/mini-trello-icon.png) [[BUG] Profilers do not clean up after the avocado run finishes.](https://trello.com/c/QUhYcX5A/1091-bug-profilers-do-not-clean-up-after-the-avocado-run-finishes)

[2017-08-10 13:07] apahim commented on #2136
![](https://github.trello.services/images/mini-trello-icon.png) [RFE: Run pylint when test is python file but does not look like INSTRUMENTED test](https://trello.com/c/HB3ha5Xe/1090-rfe-run-pylint-when-test-is-python-file-but-does-not-look-like-instrumented-test)

[2017-08-11 10:49] ldoktor commented on #2136
@apahim the issue really is when you modify the test and forget `:` or so (therefor SyntaxError) suddenly the test is invisible to `avocado run`  and Avocado suggests `avocado list -V` which does not help as it only says `Does not look like an INSTRUMENTED test, nor is it executable` but it used to look like one 1 minute ago. Usually pylint is around so using it (on `.py` files on verbose listing)

[2017-08-11 20:13] mopsfelder opened #2141 "Respect ~/.ssh/config configuration when running tests on remote hosts"
That would be great if settings under `~/.ssh/config` were respected when running tests on remote hosts.

Some useful scenarios of this feature would be when:
- remote host needs a bastion host configured;
- remote host needs different ssh key;
- remote host needs any specific ssh option configured.

As an example, consider the following `~/.ssh/config` snippet:

[code]

Then, to run tests against

[2017-08-13 20:30] UnitasBrooks commented on #2123
**Why do you need to generate JSON files in the first place?**

To make tests using a common avocado python test file quick to write we've considered creating a UI to generate them.

**Do you only need single variants?**

For right now, although I am pretty excited about the multidimensional variants for doing thinks like performance testing.

**Would a simple --params solution work?**
If it can s

[2017-08-14 10:12] apahim commented on #2141
https://trello.com/c/MTwJGSFQ/1095-respect-ssh-config-configuration-when-running-tests-on-remote-hosts

[2017-08-14 21:01] apahim commented on #2141
![](https://github.trello.services/images/mini-trello-icon.png) [Respect ~/.ssh/config configuration when running tests on remote hosts](https://trello.com/c/MTwJGSFQ/1095-respect-ssh-config-configuration-when-running-tests-on-remote-hosts)

[2017-08-15 11:55] TomasTomecek commented on #2024
what's the status here? is avocado python 3 ready?

[2017-08-15 11:57] clebergnu commented on #2024
We're progressing... but still not ready.  Yesterday we had this merged: https://github.com/avocado-framework/avocado/pull/2146

And another bunch is being worked on: https://github.com/avocado-framework/avocado/pull/2151

[2017-08-15 12:04] ldoktor commented on #2123
Dne 13.8.2017 v 22:30 Joseph Yuhas napsal(a):

Well can't your UI generate YAML files instead?

Also I'm not sure whether this means test variants, or just some per-test-data.

This made me even more confused. Basically the current params handling system allows only to share the same params between all tests. People were abusing params by injecting params for some tests into specific locations lik

[2017-08-15 13:49] TomasTomecek commented on #2024
nice!

[2017-08-15 15:02] ldoktor commented on #2123
This should produce expected results for you, I've had no time to check the speed so I'll let you know tomorrow... https://github.com/avocado-framework/avocado/pull/2156

please let me know whether something like that would solve your issue.

[2017-08-15 17:10] UnitasBrooks commented on #2123
Just to be clear I am not 100% against the !!python/dict, I'm using it now and it works fine, it just requires a little bit of explaining to people looking at the yaml files.

** Can we generate YAML instead **
Sure I was just illustrating that requiring an invalid data structure can cause integration issues, not a huge deal though.

** Confusion around my example YAML **
That YAML file was meant

[2017-08-16 08:40] ldoktor commented on #2123
Well the perf is actually very close so @apahim, @clebergnu, what do you think, should I polish it so people get OrderedDicts for not-connected items (dicts inside lists, objects, tuples, forced-dicts...) and tree-structure for objects connected to root?

[2017-08-16 08:51] ldoktor commented on #2123
@UnitasBrooks I probably misunderstood your usage, if one script consumes the different branches, it's (probably) expected usage, anyway I can't tell unless you show the sources 😄. Btw there is https://github.com/avocado-framework-tests where you can create a repository or if you already have it public somewhere, you can link it in http://avocado-framework.readthedocs.io/en/latest/ContributionGuid

[2017-08-22 05:27] apahim commented on #2135
Hi @Venutiwa, I'm not able to reproduce this issue. In my system, the profilers are terminated at the end of the Job. Could you please provide the `job.log` of your execution?

[2017-08-22 07:09] Venutiwa commented on #2135
Attaching the job.log for host system test run.

(See attached file: job.log)

Thanks and Regards,
Venu Tiwari
Powersystems Performance
Systems and Technology Group
India Software Lab,IBM
EGL, Bangalore
9535633355

Happiness can be found in the darkest of times, if one only remembers to
turn on the light.
-Albus Percival Wulfric Brian Dumbledore

From:	Amador Pahim <notifications@github.com>
To:	a

[2017-08-22 07:11] Venutiwa commented on #2135
[job.zip](https://github.com/avocado-framework/avocado/files/1241097/job.zip)
 Attached job.log for the host system test run.

[2017-08-22 07:56] apahim commented on #2135
Hmm, job.log is no help. I thought we would find there some messages related to the profilers not being finished.
Could you please send me the result of `ps fxa -o ppid,pid,stat,time,command`, execute during the test and executed agian after the test?

[2017-08-22 09:02] Venutiwa commented on #2135
[profilers_bug.zip](https://github.com/avocado-framework/avocado/files/1241428/profilers_bug.zip)
 attached required data along with fresh job.log

[2017-08-22 09:29] apahim commented on #2135
Ok, I think we are close :)
Can I see your `/etc/avocado/sysinfo/profilers`?

[2017-08-22 09:37] Venutiwa commented on #2135
[profilers.zip](https://github.com/avocado-framework/avocado/files/1241537/profilers.zip)

[2017-08-22 13:01] apahim commented on #2135
Ok, even though I cannot reproduce, I have a good idea on what´s happening. I see your system is creating the calling `/bin/sh` to execute the commands, which are executed in a subprocess. When we terminate the profiler we are in fact terminating the `/bin/sh` and not the subprocess created by it.
To prove my theory, I'd like to request you to make a little change in the `sysinfo.py` source code:

[2017-08-23 07:16] Venutiwa commented on #2135
Hi,
I made changes as per your directions, but still observing the same behavior.
Here are the latest logs:
[profilers_bugAug23.zip](https://github.com/avocado-framework/avocado/files/1244501/profilers_bugAug23.zip)

[2017-08-23 07:23] apahim commented on #2135
Ok, thank you. You can restore the file.
What troubles me is this behavior:
[code]
This extra parent process `/bin/sh -c iostat -t -x 5` cannot be observed in our systems and my guess is that it's the source of the problem.

[2017-08-23 12:15] Venutiwa opened #2169 "profilers need to run individually for all the variants in the yaml file for fio perf tests."
Added pull request #608 in avocado-framework-tests/avocado-misc-tests for fio perf test scenarios. Had to add 6 yaml files for 6 fio job files as profilers do not run individually for each test case when added in single yaml file as variants. Please consider adding the functionality such that profilers are run separately for each test case when one adds multiple jobs in single yaml.

[2017-08-23 14:09] clebergnu commented on #2169
@Venutiwa are you reporting that profilers are running from job beginning to job end, instead of from test beginning to test end?

[2017-08-24 03:25] PraveenPenguin commented on #2169
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/608 avocado-misc-tests  PR

[2017-08-24 05:42] narasimhan-v commented on #2169
@clebergnu

sysinfo available for job
[code]
sysinfo not available per test
[code]

[2017-08-24 08:47] Venutiwa commented on #2169
@clebergnu yes that is correct.

[2017-08-28 10:18] mhradilek commented on #2136
@apahim The point is that if you are calling the command on a particular file you are likely expecting it to be test or contain it. In automatic discovery it would make no sense. And yes it was missing the directive.

[2017-08-29 09:44] apahim commented on #2135
Well, I'm having a hard time trying to reproduce the issue. Could you describe the steps to reproduce it? What distro/version and so on?

[2017-08-29 10:31] Venutiwa commented on #2135
I am triggering avocado-setup.py script to run fio tests:
something like this:
python avocado-setup.py --run-suite guest_fio --guest-os Ubuntu.16.04.3.ppc64le --vt qemu --no-download
python avocado-setup.py --run-suite host_fio --no-download

Following are the system details:
Linux 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:09:19 UTC 2017 ppc64le ppc64le ppc64le GNU/Linux
NAME="Ubuntu"
VERSION=

[2017-08-31 14:18] ldoktor commented on #2135
Well I'm also unable to reproduce it, but from what I see your system is really protective in terms of `subprocess` processes. Perhaps we should be more aggressive and use:

[code]

Does that solve your issue?

[2017-08-31 19:36] mbhagavathula opened #2185 "Django"
Is there any web support in django like auto test?

[2017-08-31 19:36] mbhagavathula opened #2186 "Ubuntu"
How to install  Avacodo on ubuntu 16.04

[2017-08-31 19:45] clebergnu commented on #2186
Have you tried following these instructions:

http://avocado-framework.readthedocs.io/en/53.0/GetStartedGuide.html#installing-from-standard-python-tools

If you have any issues, please reopen this issue.

[2017-08-31 19:45] #2186 closed

[2017-08-31 19:46] clebergnu commented on #2185
I don't think I understand your question.  Autotest has a server component written used Django.  Avocado actually has a results server (mostly experimental):

https://github.com/avocado-framework/avocado-server

Also written using Django.  Does this answer your question?

[2017-08-31 20:36] mbhagavathula commented on #2186
thanks i installed however I am getting an error
root@localhost:/opt/avocado# avocado list
Test discovery plugin <avocado.core.loader.FileLoader object at 0x7f10049a5630> failed: 'utf-8' codec can't decode byte 0xf2 in position 10: invalid continuation byte

[2017-08-31 20:37] mbhagavathula commented on #2185
thanks for pointing me to avocado server.  Can it run on python 3.5 ?

[2017-08-31 21:46] clebergnu commented on #2185
I don't think it will run out of the box on Python 3.  You could try and
let us know (patches are welcome).

On Aug 31, 2017 4:37 PM, "mbhagavathula" <notifications@github.com> wrote:

[2017-08-31 21:48] clebergnu commented on #2186
This looks like a Python 3 issue.  Avocado still needs some extra work to
fully work under Python 3.  Is that a requirement for you? If not, you
could try installing it under Python 2.

On Aug 31, 2017 4:36 PM, "mbhagavathula" <notifications@github.com> wrote:

[2017-09-01 10:45] Venutiwa commented on #2135
No, sorry but it does not.

[2017-09-04 12:47] ldoktor commented on #2135
That is odd. Do you use job or test profilers? Because I noticed we might have bug in the test profilers, can you try this patch and log here the output of some sample execution (like `avocado run passtest.py`)? If there are any lines with the `end_test_hook daemon` then we have (probably) a winner...

[code]

[2017-09-11 09:41] frankpuppa opened #2189 "windows troubles with test_results filenames"
Hello guys, I noticed that there is a little problem when the directories of the test results are moved from one OS to another. The problem I noticed arises mainly on window which has stricter filename rules than our friend Linux.
In the example I'm giving, the directories inside the test_results folder take a name as follow:
<Filename.py>:<TestName>;<variant>
here is an example of one of my test:

[2017-09-11 10:22] apahim commented on #2189
According to https://msdn.microsoft.com/en-us/library/aa365247:
[code]
Should we change our Test ID format (https://www.redhat.com/archives/avocado-devel/2016-March/msg00024.html) to make Windows happy?

[2017-09-11 11:44] ldoktor commented on #2189
![](https://github.trello.services/images/mini-trello-icon.png) [Test-name issue on Window](https://trello.com/c/iPZihxhn/1120-test-name-issue-on-window)

[2017-09-11 12:30] frankpuppa commented on #2189
Hi, the problem is affected by the colon in the filename, not the semi-colon, as you have instead pointed in here(https://trello.com/c/iPZihxhn/1120-test-name-issue-on-windowl). I believe it was a typo, but it is better to avoid confusion..

[2017-09-11 12:59] lmr commented on #2189
My choice would be to change the format. Windows isn't going away any time soon so making it play nice with that OS is a good idea moving forward.

[2017-09-12 06:29] Venutiwa commented on #2135
[profiler_issue_sept12.zip](https://github.com/avocado-framework/avocado/files/1294894/profiler_issue_sept12.zip)

Sorry for the delay,
Made the above changes and attached the job.log for the test, although I do not see the "end_test_hook daemon" in the logs.

Question:Do you use job or test profilers?
Answer: I think these are job profilers not for individual tests, as we do not see any any test

[2017-09-12 11:04] ldoktor commented on #2135
Hello @Venutiwa, I used the `avocado.app` logger for debugging messages, so they were present in to human output and not in the log itself. Could you please also include the UI output? Alternatively just replace the `LOG = logging.getLogger("avocado.app")` with `LOG = logging.getLogger("avocado.sysinfo")` which should store the messages in `job.log` and include it here.

Yes, the per-test-profiler

[2017-09-12 11:33] ldoktor commented on #2189
Well actually it's not just the name, it's also about the length as some systems allow longer file-names, others don't. On windows that includes the full path and not just the file name (if I understand the https://msdn.microsoft.com/en-us/library/aa365247#maxpath correctly).

Anyway, yes, we definitely want to be able to display results on windows so we'll have to find a suitable way for both, hu

[2017-09-13 06:49] Venutiwa commented on #2135
[profilers_bug_sept13.zip](https://github.com/avocado-framework/avocado/files/1298432/profilers_bug_sept13.zip)

Hi @ldoktor  attached the latest logs with LOG = logging.getLogger("avocado.sysinfo") .
When you say UI output, do you mean console output?I have added them as well.

Again I did not see "end_test_hook daemon" in the job.log.

[2017-09-13 11:09] ldoktor commented on #2135
Well there are not even the `start_job_hook` log entries which means the patched code was not executed. Are you sure you applied the patch correctly and (more importantly) you ran `make install` or `make develop` afterwards to propagate the change? To make sure please change the version number to something else to see whether that particular version is the executed one:

[code]

[2017-09-13 11:16] apahim commented on #2135
@Venutiwa, considering we don't have a reproducer and the debug process is quite slow without one, how much trouble would that be for you to provide us access to one affected machine? If that's feasible, please reach us via e-mail to arrange the access. Thanks.

[2017-09-13 14:15] apahim commented on #2115
Fixed by https://github.com/avocado-framework/avocado/pull/2126.

[2017-09-13 14:15] #2115 closed

[2017-09-13 19:52] adereis commented on #2189
I added a comment there: https://trello.com/c/iPZihxhn/1120-serialized-test-ids-contain-the-character-invalid-in-windows#comment-59b98ae84ca2f03eca0cfa16

[2017-09-14 10:05] Venutiwa commented on #2135
Hey @apahim  @ldoktor,
Here is the current status. Apparently i was applying all the changes in sysinfo.py located in the wrong location. Located the correct file and started applying the changes from first code changes:
1.) -        self.pipe = subprocess.Popen(self.cmd, stdin=stdin, stdout=stdout,
-                                     stderr=subprocess.STDOUT, shell=True, env=env)
+        self.

[2017-09-14 10:26] apahim commented on #2135
Oh, cool. From the 1st patch, you missed the `import shlex`. Just to make sure the issue is/is not  related to the `shell=True`, could you include the `import shlex` and try again?

Anyway, with the second patch working, we can provide that a fix since we really should kill the process tree (not only the first child).

Thanks!

[2017-09-14 10:46] Venutiwa commented on #2135
Yes, after adding "import shlex" , 1st patch works too.  I do not see profilers running after the job exits.

Sorry for the delay. Thanks for all the help, appreciate it.

[2017-09-14 22:11] kryptek opened #2199 "Failed to load plugin from module "avocado_runner_remote""
Seems like the commit from 23 days ago might have broken this plugin. I installed it and when I run `avocado plugins`, it spews the following error:

[code]

[2017-09-14 22:29] clebergnu commented on #2199
@kryptek the same commit (a67b2fb4f1bc2ddbf85caec26e80e8aa81f1d387) also renamed the import on the avocado_runner_remote module:

[code]

Maybe you're running a different combination of "core" Avocado and "runner_remote" plugin?

[2017-09-14 23:05] clebergnu commented on #2185
@mbhagavathula I think we've answered your question, so I'm closing this issue.  If you any other questions, please let us know.

[2017-09-14 23:05] #2185 closed

[2017-09-14 23:16] kryptek commented on #2199
Good point; I was just pip installing the framework and then i cloned the repo at HEAD to install the plugin. Is there a more proper way of doing that?

[2017-09-14 23:23] clebergnu commented on #2199
Yes, there is:

https://pypi.python.org/pypi/avocado-framework-plugin-runner-remote/53.0

That reminds me that we should also list those plugins at:

http://avocado-framework.readthedocs.io/en/53.0/GetStartedGuide.html#installing-from-standard-python-tools

[2017-09-15 00:55] clebergnu commented on #2199
@kryptek PR #2200 takes care of this, hopefully eliminating further confusion.  Please let me know if we can be of more assistance.  If you don't consider this solved, please reopen this issue.  And thanks for reporting that issue.

[2017-09-15 00:55] #2199 closed

[2017-09-15 17:13] apahim commented on #2135
Fixed by #2207

[2017-09-15 17:13] #2135 closed

[2017-09-19 21:38] clebergnu commented on #2189
The issue reported here has been fixed on PR #2201.

[2017-09-22 08:20] jscotka commented on #1792
Hi, yes, this works for me.
     Honza

[2017-09-24 14:24] ldoktor commented on #1792
Great, closing this issue.

[2017-09-24 14:24] #1792 closed

[2017-10-02 18:12] clebergnu commented on #2189
Fixed on #2233

[2017-10-02 18:12] #2189 closed

[2017-10-02 23:53] UnitasBrooks commented on #2122
I am now getting a 503 installing the way we previously discussed:

yum --disablerepo=* --enablerepo=avocado install python-avocado-49.0-0.el7.centos.noarch py

Loaded plugins: fastestmirror, ovl
https://repos-avocadoproject.rhcloud.com/static/epel-7-noarch/repodata/repomd.xml: [Errno 14] HTTPS Error 503 - Service Unavailable
Trying other mirror.
https://repos-avocadoproject.rhcloud.com/static/epe

[2017-10-02 23:54] clebergnu commented on #2122
@UnitasBrooks yes, and we're dealing with it.  Sorry for the trouble it may be causing.

[2017-10-03 00:04] UnitasBrooks commented on #2122
Thanks @clebergnu.

[2017-10-03 02:12] clebergnu commented on #2122
@UnitasBrooks I've set up a temporary repo until we've the original one fixed:

http://18.222.0.242/avocado-el.repo
http://18.222.0.242/avocado-fedora.repo

[2017-10-09 05:01] sathnaga opened #2247 "avocado aexpect tmp files not getting cleared"
tmp files created by tests are _**not**_ getting cleaned properly and making the root filesystem completely filled leaving behind subsequent tests crashed and failed to start due to low space.

[code]

[code]

[2017-10-09 05:33] sathnaga commented on #2247
It is more relevant for avocado-vt, created there, https://github.com/avocado-framework/avocado-vt/issues/1183

[2017-10-09 05:33] #2247 closed

[2017-10-09 06:24] sathnaga opened #2248 "RFC: Profillers to be per test configurable"
How about making profilers as per test configurable rather than framework wide.

Usecase:
Not all tests needs all profilers to be configured, for example, cpu tests might not memory/io profilers
but we might have to  run all tests together as suite.

How about driving/enabling it through test yaml?

Do not have an implementation proposal right now, but lets have it brainstormed about possibility a

[2017-10-10 05:15] narasimhan-v commented on #2169
@clebergnu Is there something that can be done here ?

[2017-10-10 05:18] narasimhan-v commented on #2169
@clebergnu Is there something that can be done here ?

[2017-10-10 05:23] narasimhan-v commented on #2248
@sathnaga That is very good to have.

I am not sure what is the best possible approach to implement it. My view is, since there is a `tagging` available for test, we can use that to identify the profilers needed when running that test. But it would not be user configurable.

[2017-10-10 05:24] #2111 closed

[2017-10-11 13:18] ldoktor commented on #2169
@narasimhan-v I wanted to describe how easy it would be and discovered that writing it is actually faster than trying to describe it. Please take a look at the #2254.

[2017-10-11 13:24] ldoktor commented on #2248
Well the question is how useful would such option be, because it'd add complexity to test execution while the gain would be just a few spared bytes in the output. I can imagine being able to specify filters to not start some of the profilers for some tests.

Anyway it'd be nice to send RFC with some use-cases and ideally examples on the usage to the mailing list so we can actually brainstorm and n

[2017-10-11 14:51] narasimhan-v commented on #2169
@ldoktor Looks good. I was trying a subset of changes of your `sysinfo: Allow per-test-sysinfo collection`, and could not collect for profilers. Thanks for this. Will test and report.

[2017-10-11 16:42] ldoktor commented on #2169
Well it is written a bit in a hurry, but it seemed to work for me. Please let me know whether you were also successful.

[2017-10-16 09:37] ldoktor commented on #2027
We decided not to backport this to 36lts as it's a new feature and the new 51lts already tackles this.

[2017-10-16 09:37] #2027 closed

[2017-10-16 09:39] ldoktor commented on #2024
Just a little update, other batch of py3k patches were merged https://github.com/avocado-framework/avocado/pull/2260 and more is coming. @clebergnu focused on having experimental Py3 support ready for testing early next sprint.

[2017-10-16 09:56] lmr commented on #1924
Indeed, self.srcdir was intended to store test sources, and self.workdir is used for artifacts created as a result of, for example, stuff in self.srcdir being built.

[2017-10-16 09:59] lmr commented on #1924
I suppose for multiple variants, if the same code base is used among them, the same code base could be copied over, but that seems wasteful. Maybe a simple symlink can be placed in case the source code is the same among all variants.

[2017-10-17 02:37] zhangliang4418 opened #2275 "why this is "<" not ">" ?"
https://github.com/avocado-framework/avocado/blob/d1503a1dcfe684a1b6ab03fd79546eb0f2bfb511/optional_plugins/runner_remote/avocado_runner_remote/__init__.py#L107

[2017-10-17 02:39] zhangliang4418 commented on #2275
if "<", only loop once times.

[2017-10-17 08:26] apahim commented on #2275
Yep, a bug. Are sending the fix?

[2017-10-17 08:30] narasimhan-v commented on #2169
@Venutiwa please check if this solves your case

[2017-10-17 14:06] zhangliang4418 commented on #2275
OK，thx，I‘ll send bug fix lately。

[2017-10-17 16:44] clebergnu commented on #1924
IMO, looking at the use cases, `srcdir` is just our attempt to set a policy on what some temporary (work) files mean.  There's no extra value in `srcdir` when compared to `workdir`.  Actually, it seems to cause recurring confusion (myself included).

About `workdir`, there's of course value in it.  Tests frequently need a temporary writable location.  Naming-wise though (a hard task), it could eve

[2017-10-18 16:24] ldoktor commented on #1924
I'd also prefer to keep the `workdir` name, people are used to it. The question is whether `srcdir` is necessary as people can use their `workdir` directly or `teststmpdir` to share the location.

[2017-10-18 16:32] clebergnu commented on #1924
Yes, I also think `srcdir` provides little to no value.  And with that being flagged and agreed upon, I'd say we can start the deprecation process for it.

[2017-10-25 09:29] sathnaga commented on #2248
@ldoktor Sure, get your point, will re-validate the usecase and will bring it to mailing list with more details if required. Closing it for now.

[2017-10-25 09:29] #2248 closed

[2017-10-29 09:15] #2275 closed

[2017-10-31 09:07] ldoktor commented on #1924
OK, so the answer to this issue would be `srcdir` is not really useful, use `teststmpdir` in case you want to share the files across all tests, or `tmpdir` to work with this test's data only.

[2017-10-31 09:07] #1924 closed

[2017-11-01 00:34] kryptek opened #2279 "Running a test with args?"
The binaries I'm running for my test require specific args to be passed in but it doesn't seem like this is supported (I'm trying this with the remote runner). Is there a work around or can someone point me in the direction of where I would need to look to add this functionality?

[2017-11-01 08:25] apahim commented on #2279
The syntax `avocado run "my_binary arg1 arg2"` is not supported because Avocado cannot differentiate an argument from a second test. And if you escape the whitespace, Avocado cannot differentiate the argument from the continuation of the test name, if the test name contains a white-space. Anyway, there are some supported ways to run a test with arguments.

- Option 1: Create an instrumented test w

[2017-11-01 13:22] ldoktor commented on #2279
Option three would be `--external-runner` where list of tests is actually list of arguments to the external runner. For example:

[code]

anyway the external-runner is not supported together with remote-runner so you can only do that locally.

Would one of suggested solution work for you, or is there something we can do to improve your situation?

[2017-11-01 13:33] ldoktor commented on #2279
Actually there is fourth solution and that is `yaml_loader`. You can create test-definition file (`tests.yaml`):

[code]

and run it using `avocado run -- tests.yaml`:

[code]

Which works with remote runner as well (remember, you need to pass the `tests.yaml` to the remote machine yourself).

[2017-11-02 11:34] apahim commented on #2279
@ldoktor, option 3 was already mentioned, but option 4 is a good one indeed.

[2017-11-03 04:47] narasimhan-v commented on #1924
Thanks @ldoktor @clebergnu @lmr

[2017-11-04 11:30] wellfrogliu opened #2282 "how can i display my results on html or other result document?"
hello, i am a newer, i want to display some results on the html. For example, i test a ssd with avocado, i want to put results such as speed of wr/rd, bad block. but i don't find the solution. thank u.

[2017-11-06 09:17] lmr commented on #2282
The HTML report wasn't designed to display such results in it. Just use the logs for that.

[2017-11-06 09:23] apahim commented on #2282
Hey, welcome!

Not sure I got you question. Are you intending to change the HTML report format? If yes, that's not supported. But any log you generate inside your test can be seen on HTML report.

For instance, take a look at this test::

[code]
Here's the logged line:

![output_hswtlp](https://user-images.githubusercontent.com/4717757/32433542-9dcb864c-c2db-11e7-8645-1df8f70dc2e7.gif)

[2017-11-06 09:31] clebergnu commented on #2282
The whiteboard is intended to hold test-specific information, and it's a "first class citizen" of the test class:

http://avocado-framework.readthedocs.io/en/55.0/api/core/avocado.core.html#avocado.core.test.Test.whiteboard

One possible improvement to the HTML report would be to display the whiteboard contents.  Adding one extra column may be too much at this point, but it'd be possible to show t

[2017-11-06 09:50] apahim commented on #2282
Yep, agreed. And whiteboard is specially useful if you want to isolate your messages and/or generate the output in a given format for further parsing.
As per HTML improvements, I'd create icons (i.e. ![111398-200 resized](https://user-images.githubusercontent.com/4717757/32434836-80b6d580-c2df-11e7-84d9-2d459a9ec789.png)![83827-200 resized](https://user-images.githubusercontent.com/4717757/3243482

[2017-11-06 09:52] lmr commented on #2282
@apahim the changes you mentioned sound fine to me, and should be easy to do, given that bootstrap has elegant support for icons.

[2017-11-06 11:56] wellfrogliu commented on #2282
@lmr @apahim @clebergnu  Thank you for for your reply.  I have got it. I think the  log is very complex for other person. I just want to display  the results for others, in other words I want a report. I think I must do the report only myself.  thank u very much.

[2017-11-06 13:17] ldoktor commented on #2282
That depends on what you mean by report. `tap` plugin simply reports `ok/not ok` and is available in `results.tap`.

As for the whiteboard, yes, it is especially designed to store user content so perhaps you can use it that way.

Another thing you might consider is to create a special logger and mention your messages in it. Then display it and report the output, which might look like this:

[code]

[2017-11-06 14:00] wellfrogliu commented on #2282
glad to get your reply.  This is the report i like. But i think the whiteboard also can be ok for me . Thank you very much.
![avocado](https://user-images.githubusercontent.com/21235456/32444384-69e7b262-c33d-11e7-829c-49de148a293a.png)

[2017-11-06 14:11] clebergnu commented on #2282
@wellfrogliu your mock up seems to suggest that this custom data (ssd read/write speed) is *job* related, that is, not limited the scope of *one* test.  Is that a requirement?  Or would it make sense to have that date under the test description?

[2017-11-06 16:29] wellfrogliu commented on #2282
That is just my  thought.  Do you have some good ideas.  Thank you!

[2017-11-07 10:29] harish-24 opened #2283 "RFC: Get distribution specific package source directory"
Idea is to provide a distribution-specific "ready-to-build" source of a given package.

Use-case:
Tests makes use of the build-directory and run selftest (if required) for any distribution-specific package. As each source may be built in a different way, a "ready-to-build" source path would be ideal
to return.

Prerequisite: Enable source package repository and Optional package repository for inst

[2017-11-07 13:47] lmr commented on #2283
I'm not sure whether most distributions do have source packages (in the sense Red Hat does), although I suppose the implementation would abstract this concept. For example, the Debian package rebuild procedure is fairly involved [1]. The procedure has to make sure we have deb-src repos for the debian package one wants to build. Also, it has to ensure the dpkg-dev package is installed, so on and so

[2017-11-08 02:55] harish-24 commented on #2283
@lmr About the question, Yes it is mainly targeted to run gcc, gdb etc test suites. Thanks.

[2017-11-08 14:49] fkromer opened #2285 "Built-in test TrinityTest.test does not terminate"
If the `TrinityTest.test` (located in `/usr/share/avocado/tests/trinity.py`) is executed when running all built-in tests with `avocado run /usr/share/avocado/tests` (I use [v55.0 from PyPi](https://pypi.python.org/pypi/avocado-framework/55.0)) the test doesn't terminate (it was running for 35 minutes before I aborted it).

[2017-11-08 15:01] apahim commented on #2285
Any logs that could provide a clue? I see that trinity version is quite outdated... Current is 1.8 and we keep the 1.5 in our repository. That alone deserves a PR already, but if we can find/fix your issue in the process, it would be ever better.

[2017-11-08 15:07] fkromer commented on #2285
I could provide a log file that is quite long (about 15 MB). Even the output starting at `2017-11-08 14:15:37,716 test             L0381 INFO | START 55-/usr/share/avocado/tests/trinity.py:TrinityTest.test
` wouldn't fit into here I guess. Can I provide it to you somehow else?

[2017-11-08 15:10] fkromer commented on #2285
Can I skip this test from the test suite execution for now by adding an option to `avocado run /usr/share/avocado/tests`?

[2017-11-08 15:27] apahim commented on #2285
Can you paste the 'interesting' lines to fpaste.org?

[2017-11-08 15:38] apahim commented on #2285
I was going to tell you to use a 'negative lookbehind' regex in the test reference filter. Something like:

`avocado run /usr/share/avocado/tests:'^(?!.*Trinity)'`

But guess what? The filter is not working for directories, only for files. I will open a bug. Anyway, the alternative would be create the list of files externally, filter out the files you don't want and then provide the filtered list

[2017-11-08 15:42] apahim commented on #2285
Well, you can send the full job.log file to my dropbox: https://www.dropbox.com/request/oxEYNVwCWf224rdkpqZb

[2017-11-08 15:44] fkromer commented on #2285
Thanks for the hint for blacklisting tests. I pasted the interesting part of the log file already [here](https://paste.fedoraproject.org/paste/y0UaOiviPTGF1GD-ZgpJyA).

[2017-11-08 15:46] apahim commented on #2285
![](https://github.trello.services/images/mini-trello-icon.png) [[BUG] Test Reference filter not working for directories](https://trello.com/c/7VQ3syLt/1167-bug-test-reference-filter-not-working-for-directories)

[2017-11-08 16:03] fkromer opened #2286 "Test repository test Compilebench.test throws RuntimeError"
If the test `Compilebench.test` (located in `~/avocado-misc-tests-master/perf/compilebench.py`) is executed when running the performance tests with `avocado run ~/avocado-misc-tests-master/perf` (I use [avocado v55.0 from PyPi](https://pypi.python.org/pypi/avocado-framework/55.0)) it throws a RuntimeError. The following tests in the test suite are executed.

[code]

[2017-11-08 16:08] apahim commented on #2285
From the logs, there's nothing wrong. Seems like the test should indeed take a long time to finish, given the number of directories/files created by the `data_factory.make_dir_and_populate()` call.

[2017-11-08 16:11] fkromer commented on #2285
Do you know how long the execution takes roughly?

[2017-11-08 16:13] apahim commented on #2286
That test is "community maintained". Please report the issue in their GitHub page. But wait, did you see the "[Errno 28] No space left on device" message? The test PASSed on my machine.

[2017-11-08 16:14] apahim commented on #2285
I tell you when it finishes here :)

[2017-11-08 16:19] fkromer commented on #2285
Great, thanks :)

[2017-11-08 16:20] fkromer commented on #2286
Yes, the log file contains `L0479 DEBUG| [stderr] IOError: [Errno 28] No space left on device`.

[2017-11-08 16:43] fkromer commented on #2286
:) Do you know how much free space is required on the device? Dependent on that the test could be unsuitable anyway... BTW: Is there a quick way to investigate the documentation of the tests?

[2017-11-08 17:10] apahim commented on #2286
Sorry, I don't.

There's no such documentation. But just blindly run all the tests from that generic/public test repository makes no much sense for me. They are pretty much intended to serve as reference, so you can customize them for your needs or use them as examples to create your own tests. Ok, if you see something to improve, you should send a Pull Request there, but I doubt they will simply

[2017-11-08 17:53] apahim commented on #2285
@lmr, trinity test is running for almost 2h now in on system. I think we should just drop it or move it to the avocado-misc-tests repository. Thoughts?

[2017-11-09 08:15] lmr commented on #2285
@apahim I think that trinity by default runs on a loop. It was a test that I used for its usefulness, and also it helped me to test my Ctrl+C avocado patches at the time. We need to confirm the first statement, but moving to avocado-misc-tests seems a good idea.

[2017-11-09 08:19] PraveenPenguin commented on #2285
@apahim @lmr in `avocado-misc-tests` already has trinity test , you can find this in below path

`https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/fuzz/trinity.py` you are looking any tweak on this as it can be run as avocado self test

[2017-11-09 08:50] fkromer commented on #2286
Having a look into the source code is totally fine for me. (Python is usually self-documenting enough to figure out what the code does without having comments or docstrings.)

You are right. But as I run the tests on an embedded device which runs Ubuntu I was not sure about the relevance/suitability of all tests. Running all tests and analysing potentially cancelling/failing tests seemed reasonabl

[2017-11-09 09:24] apahim commented on #2286
Ok, cool. For the tests you want to skip, you can decorate them with a skip decorator: http://avocado-framework.readthedocs.io/en/55.0/WritingTests.html#avocado-skip-decorators.

If you do that conditionally, i.e. for embedded systems, you can send a pull request with your changes so next person running those tests on embedded devices will have it skipped as well.

Here an example: https://github.

[2017-11-09 09:30] fkromer commented on #2286
`@skipIf` was exactly what I am was thinking about :wink: (Self-configuring tests dependent on the environment conditions seem a bit too advanced in the first place.)

[2017-11-09 10:02] fkromer commented on #2286
Closed due to move of issue into avocado-misc-tests repository.

[2017-11-09 10:02] #2286 closed

[2017-11-09 14:12] apahim commented on #2285
Oh, great, so let's just drop that test from our examples.

[2017-11-09 14:13] apahim commented on #2285
![](https://github.trello.services/images/mini-trello-icon.png) [Update "trinity" example test](https://trello.com/c/uCcng8dN/1168-update-trinity-example-test)

[2017-11-13 12:25] apahim commented on #2282
![](https://github.trello.services/images/mini-trello-icon.png) [Add link to the test whiteboard in HTML results](https://trello.com/c/9tGhBicJ/1170-add-link-to-the-test-whiteboard-in-html-results)

[2017-12-05 15:42] fkromer opened #2326 "Avocado crashes during remote execution of builtin tests"
I try to execute tests on a remote machine. On the remote machine and on the "triggering" machine I installed `avocado` via `pip`. In addition to that I installed [avocado-framework-plugin-runner-remote](https://pypi.python.org/pypi/avocado-framework-plugin-runner-remote) on the "triggering" machine with `sudo pip install avocado-framework-plugin-runner-remote`. But when I execute the simple faili

[2017-12-05 15:51] clebergnu commented on #2326
@fkromer I believe this is the issue already fixed by 53afe5bd88e220dec57f5b4ae104ca1e0821181e.  Can you please verify with this commit (53afe5bd88e220dec57f5b4ae104ca1e0821181e) applied?

[2017-12-05 16:21] fkromer commented on #2326
@clebergnu I "applied" [Hacking and Using Avocado](http://avocado-framework.readthedocs.io/en/latest/ContributionGuide.html#hacking-and-using-avocado) and tried again ... works fine with [53afe5b](https://github.com/avocado-framework/avocado/commit/53afe5bd88e220dec57f5b4ae104ca1e0821181e). (Will be included in Avocado 57.0 I guess.)

[2017-12-05 16:21] #2326 closed

[2017-12-05 16:22] clebergnu commented on #2326
Yes @fkromer, it will. Thanks for verifying the fix.

[2017-12-06 00:24] twirrim opened #2328 "Avocado ppa is invalid, and way out of date"
If you install the PPA in Ubuntu, it fails on update because:

[code]

It's also about two years out of date (109 weeks, version 0.30.0 being the latest release) but linked to from http://avocado-framework.github.io/download.html as where to "Get yourself some fresh Avocado"

[2017-12-06 07:56] apahim commented on #2328
Yep, not that fresh. @lmr, do you intend to update that repo? Otherwise, we should remove it from our docs.

[2017-12-07 08:37] omps opened #2331 "running network test like netperf and iperf"
How is this implemented? can anyone guide me to some example. Also, how we are runing HW test like bonnie and lmbench tests with avocado.

[2017-12-07 09:24] vssanchana opened #2332 "Avocado crashed while running some tests"
**TEST 1:** /usr/bin/avocado run avocado-misc-tests/memory/transparent_hugepages.py --force-job-id 35a332caf32d6ec7c07bc9987fca61172c2cf303  --job-results-dir /home/shruvenk/
**JOB ID**     : 35a332caf32d6ec7c07bc9987fca61172c2cf303
**JOB LOG**    : /home/shruvenk/job-2017-12-07T03.39-35a332c.log
 (1/1) avocado-misc-tests/memory/transparent_hugepages.py:Thp.test:
Avocado crashed: TestError: Unable

[2017-12-07 09:35] PraveenPenguin commented on #2331
@omps you can refer https://github.com/avocado-framework-tests/avocado-misc-tests for tests.

after cloning repo it can be run as

`avocado run avocado-misc-tests/perf/lmbench.py`

[2017-12-07 09:36] PraveenPenguin commented on #2331
netperf , lmbench  and bonnie test is already part of this repo

[2017-12-11 07:03] Venutiwa opened #2341 "Sysinfo not getting collected post test guest run."
During guest run (for FIO worload) it was observed that Sysinfo that is captured post workload is not executed. The post directory created in tests results directory is empty. Looks like either sysinfo was not collected or it was not populated into post folder. However in host run of same workload we do see sysinfo captured in post directory of host test results.

Please note that there was a fix

[2017-12-11 10:48] apahim commented on #2332
Not sure what's happening in your case, but Avocado creates a dedicated process to run the test in. If it takes 60s or more for that process to be created, you'll see that error message. When that happens, it usually means the system is so busy that it cannot even create a new process.

[2017-12-11 20:10] twirrim opened #2345 "Avocado variants documentation incorrect?"
Example documentation page: http://avocado-framework.readthedocs.io/en/56.0/optional_plugins/varianter_yaml_to_mux.html#yaml-to-mux-plugin

The pattern is repeated elsewhere in reference to the command, but the argument `-m` doesn't seem to be valid, one example from that page: `avocado variants --tree -m <file>`.

From a quick grep through all the files in avocado it doesn't seem like "-m" is a v

[2017-12-11 20:14] apahim commented on #2345
It is part of the varianter `yaml_to_mux` plugin: https://github.com/avocado-framework/avocado/blob/master/optional_plugins/varianter_yaml_to_mux/avocado_varianter_yaml_to_mux/__init__.py#L352

[2017-12-11 20:18] twirrim commented on #2345
hmm.  It's also mentioned here: http://avocado-framework.readthedocs.io/en/56.0/WritingTests.html#accessing-test-parameters, no reference to the yaml_to_mux plugin there.

[2017-12-12 06:46] apahim commented on #2345
Yep, that part of documentation deserves an update. Are you going to send a PR for that? Otherwise, I will create a card in our short-term backlog. Just let me know. Thanks!

[2017-12-12 09:19] ldoktor commented on #2331
Exactly, Avocado is a testing framework that can ran (just about) anything as a test. There are some "example/tests" included, but they are definitely not intended for testing. Out there there are several repositories with tests and the most advocated one is the https://github.com/avocado-framework-tests/avocado-misc-tests because sharing tests is better for all parties.

Let me close this issue a

[2017-12-12 09:19] #2331 closed

[2017-12-12 10:47] omps opened #2348 "Comparing results."
Well, a quick question regarding comparison of result. In autotest there is this result database TKO which can be used to compare result, how the same can be done with Avocado. In general, would like to compare the result of a particular test on 2 different arch, which can help us identify any performance gain/loss if any, I see resultdb is there to collect the result but its documentation looks i

[2017-12-12 10:53] apahim commented on #2348
The only comparison tool we have is the `avocado diff`, which compares some aspects of two given jobs, identified by Job ID or Job Results Directory, generating a unified diff report.
A contribution with such comparative tool which plots graphs and so on would be very welcomed.

[2017-12-12 11:30] omps commented on #2348
@apahim thanks for replying, any guidance in this direction would be a lot helpful.

[2017-12-13 00:47] clebergnu commented on #2348
@omps resurrecting avocado-server may also be something worth investigating.  Specially this:

http://avocado-server.readthedocs.io/en/latest/RestAPI.html#jobs-job-id-tests-test-id-data

Seems suitable for holding performance data.  And then the HTML UI could be extended to diff and plot performance data.  Just a thought.

[2017-12-13 05:52] omps opened #2352 "Result DB setup"
Cannot find any document for setting up resultdb?

the closest i can get from avocado docs is http://avocado-framework.readthedocs.io/en/latest/optional_plugins/results.html?highlight=resultdb

Could you please suggest how this has to be setup.?

[2017-12-13 09:00] omps commented on #2352
got it.

http://avocado-server.readthedocs.io/en/latest/Introduction.html

Thanks.

[2017-12-13 09:00] #2352 closed

[2017-12-13 09:03] omps commented on #2348
@omps

TODO
1.  Implement compare result using diff.
2. Put to HTML UI
3. Plot the graph.

[2017-12-13 10:42] apahim commented on #2352
Please don't confuse ResultsDB[1] with Avocado Server[2]. Despite the fact that they have many overlapping features and goals, they are not the same.

[1] - https://fedoraproject.org/wiki/ResultsDB
[2] - http://avocado-server.readthedocs.io/en/latest/

[2017-12-13 11:05] ldoktor commented on #2341
![](https://github.trello.services/images/mini-trello-icon.png) [ISSUE: Sysinfo not getting collected post test guest run](https://trello.com/c/ew0eMTBN/1188-issue-sysinfo-not-getting-collected-post-test-guest-run)

[2017-12-13 14:01] ldoktor commented on #2345
Well it's mentioned there because to date we don't have other way to provide params than yaml_to_mux plugin (or pict plugin) but we do have planned support for stock way to provide params and then it might be possible to improve the documentation to avoid such dependencies.

On the other hand having references to yaml_to_mux/pict plugins from params documentation seems useful to me. At least users

[2017-12-13 14:14] ldoktor commented on #2348
@omps also you might want to improve the `diff` to support custom performance data. Originally we wanted to advocate `whiteboard` as arbitrary-data storage, but feel free to send other RFC with real-world examples. It might slow-down a bit your development, but you might as well get good ideas and have a better implementation as we are as well interested in such features.

[2017-12-13 14:48] ldoktor commented on #2332
Hello @vssanchana, this is unfortunate and hard to debug. Is this 100% reproducible, or only occasional would be my first question. I only have PowerNV machine so I can't really reproduce it.

Anyway would you please try applying this patch:

[code]

to running Avocado (don't forget to `make deploy` or `make install` it afterwards) to get more details about the execution.

Additionally would you p

[2017-12-28 17:30] fkromer opened #2386 "Add "awesome-avocado-framework" repo reference to "awesome" repo"
I created a repository [awesome-avocado-framework](https://github.com/fkromer/awesome-avocado-framework) which summarizes helpful references about Avocado. I would like to add the list to [awesome](https://github.com/sindresorhus/awesome). For having a PR accepted the list should have at least some stars (the more the better). Would be great if you could star the repo.

[2018-01-02 13:42] ldoktor commented on #2386
Hello @fkromer, nice collection, how about simply including those in the main documentation? I think it'd make sense (we do actually have some references already and we meant to add links to existing test repos to simplify collaboration) and your commits would be warmly welcomed.

[2018-01-02 13:45] ldoktor commented on #2386
(note that the official documentation is available on http://avocado-framework.readthedocs.io/en/latest/ and linked from http://avocado-framework.github.io/ as well as available within the source code, therefor easily accessible. That's why I'd prefer that to some other location)

[2018-01-02 13:51] lmr commented on #2386
@ldoktor, apparently the awesome repo requires that the list repo is named awesome-[name-of-the-project], and that is why he created it like that. Of course replicating that info into the official avocado docs would be very helpful as well.

So @fkromer if you have some time, please send a PR adding that info to the official avocado repo. Thanks!

[2018-01-02 17:18] fkromer commented on #2386
@ldoktor @lmr Right, I consider the list more as promotion than actual documentation. And the awesome-list seems to be a way better place for promotion than the documentation does. However I try to find some time to add it to the docs as well. What would you consider a reasonable location for it (w.r.t. other sections, e.g. after section "xyz")?

[2018-01-03 08:09] apahim commented on #2341
@Venutiwa could you please expand on "guest run"? Are you simply running Avocado in a Guest VM or are you using one of the remote plugins? Is the Guest VM configured (in avocado.conf) to `per_test = True`?

[2018-01-03 17:26] fkromer opened #2390 "Question: Benefits of remote execution of tests"
If I understand it correctly to beeing able to execute tests on a remote machine it is required to install `avocado`, test dependencies like `gcc` etc. ([Running Tests Remotely - Remote setup](http://avocado-framework.readthedocs.io/en/latest/RunningTestsRemotely.html#remote-setup)) and repositories including tests like e.g. `avocado-misc-tests` on the remote machine.

That means I need to ensure

[2018-01-04 09:25] apahim commented on #2390
The only benefit is indeed being able to trigger the test from a different machine, while collecting the logs from the remote execution. Tests dependencies are not resolved, nor tests files are copied over.
FYI, we have plans to include a way more powerful remote mechanism:
https://www.redhat.com/archives/avocado-devel/2017-April/msg00002.html
But that is still under development.

[2018-01-04 10:02] fkromer commented on #2390
@apahim Ah, ok. I read the thread you hyperlinked. However I was not sure if there is already something which can be used in the meanwhile as workaround.

[2018-01-04 10:02] #2390 closed

[2018-01-05 08:38] Venutiwa commented on #2341
@apahim We are using avocado-vt to and virttest to run tests on guests.

[2018-01-08 11:54] apahim commented on #2341
@Venutiwa, please provide the steps to reproduce the issue. Thanks!

[2018-01-08 13:13] apahim commented on #2341
@Venutiwa well, if you're using some test which deploys Avocado on the Guest (i.e. https://github.com/autotest/tp-qemu/blob/master/generic/tests/avocado_guest.py), you have to make sure the configuration file which enables the sysinfo features you want is also deployed on the Guest. In that case, your test should take care of that, like copying your /etc/avocado/sysinfo/ from the Host to the Guest

[2018-01-09 13:48] ldoktor commented on #2390
Basically the `remote` plugin is here only as simplification to (test) developers, who want to trigger something on a different machine/container eg. to have results on a different OS. For QA/CI there are usually different ways to provision machines (jenkins/beaker/...) as well as to fetch and provide results.

It's similar to html results plugin. The usage for CI is minimal, but for developers it

[2018-01-09 15:02] fkromer commented on #2390
@ldoktor You probably already know there is this prioritization issue :smile: However if it gets really relevant for me I will think about it for sure...

[2018-01-10 10:22] pingl2016 opened #2399 "Request to add the attribute 'whiteboard' back"
Hi Cleber,
In the pr #2355, you stopped to select the attribute 'whiteboard'. However i find avocado-vt(avocado-vt/virttest/env_process.py) still grab the value for the variable witheboard, and avocado(avocado/avocado/core/test.py) continue to write it to the json result(avocado/avocado/plugins/jsonresult.py). If we really don't need it, I think we should clean comprehensive.
If the whiteboard is

[2018-01-10 10:24] pingl2016 commented on #2399
@clebergnu Could you help to take a look on this issue? Thanks.

[2018-01-16 22:37] dpquigl opened #2408 "Support for Other Platforms"
I would love to use avocado to rewrite the tests for a project I'm involved in however there is a requirement that we also be able to run them on illumOS, BSD, and MacOSX. Is there any intention on expanding the support of avocado to other platforms besides Linux?

[2018-01-17 18:10] ldoktor commented on #2408
Dear @dpquigl, currently we only actively test Avocado on Linux (primarily Fedora/RHEL), but ~a year ago we got many fixes for MacOSX and without plugins @clebergnu successfully used Avocado on Haiku.

So basically we're trying to write code in a portable way, but we don't have maintainers for other OSs. Anyway contributions towards this goal are welcome.

[2018-01-19 08:31] luckyh opened #2410 "[BUG] utils.process: I/O operation on closed file"
Got the following error during running vt test `multi_disk.virtio_scsi_variants.multi_lun`.

[code]

[2018-01-22 18:11] ldoktor commented on #2328
@lmr any updates on this?

[2018-01-22 18:13] ldoktor commented on #2283
Correct me if I'm wrong, but this support was already included, wasn't it? Feel free to re-open if some part is still missing.

[2018-01-22 18:13] #2283 closed

[2018-01-22 18:17] ldoktor commented on #2122
I believe this was addressed. Note that there is a new server so let us know if anything goes wrong...

[2018-01-22 18:17] #2122 closed

[2018-02-11 13:13] omps opened #2439 "xunit render method error avocado --dry-run on arch-linux"
[code]
While running the same without dry-run doesn't gives render method for xunit.
[code]

[2018-02-13 09:25] phracek commented on #2024
@clebergnu @ldoktor How is it going with porting to Python 3? Do you have any idea, when it will be released?

[2018-02-13 09:29] ldoktor commented on #2439
This is quite odd and looks like some differneces in `python2-lxml`. Unfortunately this dispatcher does not allows to log the full traceback. Would you please try applying https://github.com/avocado-framework/avocado/pull/2445 and using `avocado --show all` (or just `avocado --show app,avocado.debug`) and put the traceback here? It should look similar to this:

[code]

[2018-02-13 17:05] clebergnu commented on #2024
Hi there @phracek ,

We have been working actively on the Python 3 port.  The current state of master, together with a few pending PRs (#2441, #2442) gets all **unittests** passing on Python 3:

[code]

I'm now working on the functional tests, and a large number of them are passing:

[code]

One interesting aspect of functional tests, since most of them execute avocado as a command line applicatio

[2018-02-13 17:46] clebergnu commented on #2024
As a proof to the previous point, after one fix, this is how the functional results look like:

[code]

[2018-02-13 18:49] clebergnu commented on #2024
And to further increase our optimistic mood:

[code]

[2018-02-14 13:27] phracek opened #2447 "[RFE] better 'human readable' logs provided by avocado"
Hi folks, I would like to ask you if it's possible to provide some short explanation logs into avocado out.
Nowadays output looks like this:
[code]

What about to improve it to something like that:
[code]

This can improve better understanding of tests what's going on.

I am able to prepare a PR, but please point me which python codes are relevant.

[2018-02-14 15:02] omps commented on #2439
@ldoktor

please find the output below.

[code]

[2018-02-14 15:10] clebergnu commented on #2439
@omps this is because the Python 3 port is still not complete.  It runs, but still has bugs.  That one has already been fixed in my development branch.  The fix is:

[code]

[2018-02-14 15:16] clebergnu commented on #2447
Hi @phracek this sounds interesting indeed.  A few initial thoughts:

1) Avocado uses the Test ID (what you see by default) in a number of places, including in the results in the filesystem, and it's a good idea to keep them consistent;
2) Adding a "Test Short Description" concept, which can be optional (think of SIMPLE tests), seems to be the way to go here.  For this, looking at `avocado/core/sa

[2018-02-14 15:18] clebergnu commented on #2408
@dpquigl have you had any success running Avocado on those platforms?  With the Python 3 port progressing, I'd imagine we're improving our portability too.

[2018-02-14 15:18] clebergnu commented on #2399
This has been resolved by #2431

[2018-02-14 15:18] #2399 closed

[2018-02-15 00:45] clebergnu commented on #2024
And we're almost there:

[code]

[2018-02-15 05:49] omps commented on #2439
thanks @clebergnu its so obvious but somehow in the flow missed to acknowledge that i am using python 3.
Will apply your patch and see if that works. thanks a lot.

[2018-02-15 06:06] ldoktor commented on #2439
no problem, (mainly) Cleber is working hard on making py3 fully supported. This is why I like bugzilla, which has a nice template to include description, package versions, steps to reproduce and additional info. Anyway at least we identified a place where we lack tracebacks as well as (hopefully) the main issue.

[2018-02-15 08:18] phracek commented on #2447
Hi @clebergnu , of course Test ID should remain as we see them by default.
I like second option. This could be a way. If Test Short Description is present, then show it in the output instead of Test ID. Personally, I don't want to mix Test ID with "Test Short Description" like you mentioned in third option.

[2018-02-21 11:32] phracek commented on #2447
@clebergnu Do you have an idea when `avocado` will support it?
Or let me know how to do it or debug it and I will send you a PR.

[2018-02-23 00:18] uberhacker commented on #1798
This issue has apparently reoccurred in the 58.0 release.  Can we reopen?

[2018-02-23 02:33] clebergnu commented on #2024
Current status:

[code]

[2018-02-23 06:38] ldoktor commented on #1798
Hello @uberhacker, the `python-setuptools` is still listed as a dependency, can you please provide the actual version you're installing as well as the error message?

[2018-02-23 10:10] harihare commented on #2341
Sorry for the delay in response.
we are not installing avocado on the guest. we are running avocado-vt  qemu infrastructure of avocado to run the test. Hence guest will not have the avocado running to set the sysinfo.

It will be good to know how to collect the performance data from guest for the test run in the guest using avocado-vt.

Thanks in advance.

[2018-02-23 10:38] ldoktor commented on #2341
Hello @harihare, it's quite hard to give you good advice without some background info. Ideal would be a RFC sent to mailing list with description of the situation and the expected results, ideally with some dummies and fake-results. Avocado is really flexible so we should be able to do almost anything but first we need to see the overall picture.

Here I assume you're using the https://github.com/

[2018-02-23 12:12] harish-24 opened #2476 "[BUG] utils: build.py fails with latest update"
With the removal of few arguments, `build.run_make` fails.

Ex: caller: https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/memory/libhugetlbfs.py#L180

hits with the following issue.
[code]

[2018-02-23 12:14] harish-24 commented on #2476
Fails at https://github.com/avocado-framework/avocado/blob/master/avocado/utils/build.py#L40 argument is empty.

[2018-02-23 14:23] uberhacker commented on #1798
@ldoktor:
[code]

[2018-02-23 14:36] ldoktor commented on #1798
I see, the issue was that `spec` file lacks this dependency and that was addressed, unfortunately without the `setup.py`. Fixing it now.

[2018-02-28 11:40] phracek commented on #2024
Looks really good.

[2018-03-08 06:34] harish-24 commented on #2476
Closing this with #2478

[2018-03-08 06:34] #2476 closed

[2018-03-08 15:24] clebergnu commented on #2439
This should have been fixed by bfab1c6b20f8489c343cfc8c8964d8905b0f72a1.

[2018-03-08 15:24] #2439 closed

[2018-03-14 15:08] #2410 closed

[2018-03-17 14:36] PraveenPenguin opened #2521 "avocado crashed as [Errno 2] No such file or directory: '/var/lib/libvirt/images/avocado_bGRMUJ'"
I try to execute avocado-misc test using  upstream  avocado lib but avocado crashed

[code]

[2018-03-18 10:36] apahim commented on #2521
Errors are coming from Avocado-VT. Is Avocado-VT a requirement for you? If not, try `make clean; make develop`, but we should investigate the Avocado-VT error anyway.

[2018-03-19 05:50] PraveenPenguin commented on #2521
@apahim thanks now it worked when do `make clean; make develop`

[2018-03-19 10:33] harish-24 opened #2524 "Memory utility has static values after import"
With the recent introduction of Datasize patch in `avocado/utils/memory.py`, once it has been imported in a test, the values throughout the tests are persistent. This is probably due to object initialized when import and usage in test does not reflect new values and persists to values when initialized.

With the change, thp swap test https://github.com/avocado-framework-tests/avocado-misc-tests/bl

[2018-03-19 10:56] apahim commented on #2524
Yes, it should be fixed indeed. Working on that.

[2018-03-19 11:05] harish-24 commented on #2524
@apahim Thanks :+1:

[2018-03-19 13:27] PraveenPenguin commented on #2521
closing this issue as it tuns environment  issue @apahim thanks for help

[2018-03-19 13:27] #2521 closed

[2018-03-21 05:57] harish-24 commented on #2524
Closing this as #2525 fixes this.

[2018-03-21 05:57] #2524 closed

[2018-03-21 14:32] clebergnu commented on #2447
@phracek `safeloader` os probably one of the modules you want to start with.  Please attempt to hack something and propose a draft and I'll provide as much guidance as I can get.

[2018-03-28 02:29] amoskong opened #2556 "Copy files to VM by sftp before executing test insider VM"
I write some subtests in main_test.py, and it imports another module (usage_module.py), and I have problem to copy usage_module.py to VM. We might also share usage_module.py for other test file.

My current cmdline:
[code]

Result:
Only main_test.py and main_test.py.data/ will be copied to VM before executing.

I tried to append 'usage_module.py' to avocado cmdline, but it reported that the usage_

[2018-03-28 02:30] amoskong commented on #2556
@lmr @clebergnu do you have some suggestion on it?  Thanks.

[2018-03-28 17:26] ldoktor commented on #2556
Hello Amos, if the `main_test.py` is copied you have to be using really old Avocado. We removed the support to copy files a long time ago as it was not reliable (basically the issue you are describing here). There was a long discussion about that with several proposals, but given the circumstances (not enough development power) we decided to remove it to not give false hopes and we advised users t

[2018-03-29 05:21] ldoktor commented on #2556
Btw we usually just ship libraries via pip or rpm (depending on which team). Good about it is that we had to clean the libraries up and created them as a proper modules, which uncovered some hidden issues.

[2018-04-03 06:57] luckyh opened #2561 "Process: UnicodeDecodeError: 'ascii' codec can't decode byte 0xbb"
[code]

The issue is caused by two things:

1. there is some junk in the output of command `qemu-kvm -cpu ?` see https://bugzilla.redhat.com/show_bug.cgi?id=1532195
2. after merged https://github.com/avocado-framework/avocado-vt/pull/1476, `stdout` would be replaced by `stdout_text` which currently would raise error if there are bytes could not be decoded in the output stream.

To solve this probl

[2018-04-03 11:12] ldoktor commented on #2561
I don't think using `errors=ignore` should be the default. Anyway I do see the need for such option so how about introducing `CmdResult.get_stdout(errors=None)` which would be generic way to get stdout (stderr) with custom errors setting?

[2018-04-03 11:14] ldoktor commented on #2561
Also note that on python2 this raises exception, but hopefully with https://trello.com/c/wsd2z7WS/1265-unify-py3-py2-default-encoding-handling we should get better defaults and it should simply include the garbage characters...

[2018-04-04 02:11] luckyh commented on #2561
That sounds good! Let's wait for the new approach. Thanks.

[2018-04-04 14:30] clebergnu commented on #2561
`result.stdout` is already available, and user can call `result.stdout.decode()` with `encoding=` and `errors=`.

[2018-04-05 06:29] harish-24 opened #2567 "make fails with latest updates"
`make` from `build.make()` fails with `*** missing separator. ` on various tests. The following type of failure is observed on kernel self test, ltp to name a few.
[code]
I found that there were changes to srcdir/workdir at *3c2c06d05f81731cd48ab9b483d2f749a98935ba* , so I checked out to the previous commit before this *bba095904a02b20c6626cf23f814e9dfaf066999* and tried running the tests.

The is

[2018-04-05 07:56] apahim commented on #2567
Bisect is pointing to a different culprit:

[code]

working on a fix.

[2018-04-05 08:31] apahim commented on #2567
The problem is that `self.name.str_filesystem` does not replace `;` in the filename.

[2018-04-05 08:42] harish-24 commented on #2567
@apahim Thanks for the quick update. Running with the above patch, will post the observation in PR #2568.

[2018-04-12 02:41] uberhacker commented on #1798
@ldoktor: Has this issue been addressed yet?  I'm getting the same error with the 60.0 release.

[2018-04-12 19:07] ldoktor commented on #1798
There were some issues related to python3 packaging, but new package should be released soon (right @clebergnu?).

[2018-04-13 13:00] #2567 closed

[2018-04-13 13:52] uberhacker commented on #1798
Thank you for the feedback @clebergnu.  I'm attempting to install from source since a package manager is not available on my Chromebook.

System specs:
[code]
Installation:
[code]

[2018-04-17 23:15] lmr commented on #1798
Is virtualenv an option? Much better and cleaner than performing a system wide install.

[2018-04-19 06:54] ldoktor commented on #1798
A bit of googling suggests the `setuptools` were probably not installed properly: https://stackoverflow.com/questions/7446187/no-module-named-pkg-resources I'd not suggest the first answer, but later people suggest `pip install --upgrade setuptools`. If that doesn't help make sure your `pip` is the latest (run `pip install --upgrade pip` first) and then try again. Worst case try the first answer,

[2018-04-23 00:44] uberhacker commented on #1798
Just wanted to update you guys that I found a solution.  Not sure why it makes any difference but this works:
[code]

[2018-04-23 14:19] omps opened #2592 "Dependency resolution for third party test suites."
In this article, http://avocado-framework.readthedocs.io/en/52.0/WritingTests.html#running-third-party-test-suites

while running third party suites, a build.make method is called to make the untar'red third party suites. my question was how the dependency resolution will be taken care for?

for eg. if the synctest.tar.gz depends on gcc and libgif to be present, but are not installed on system how

[2018-04-24 05:53] omps commented on #2592
RTFM: software_manager.install_distro_packages({'fedora': ['coreutils']})
Document link: http://avocado-framework.readthedocs.io/en/52.0/WritingTests.html#class-level-setup-and-teardown
Thanks Closing the issue.

[2018-04-24 05:53] #2592 closed

[2018-04-27 02:59] hahakiki2010 opened #2601 "Software manager: cannot use a string pattern on a bytes-like object"
When running software manager with python 3.6.4, this issue just raised. I think the root cause is that the module still use cmdResult.stdout but not cmdResult.stdout_text. PR #2600 has submitted to fix this issue. Pls help on the review. Thanks
[code]

[2018-05-02 08:30] ldoktor commented on #1798
OK, good to know. Let us know if anything changes but it looks more like `pip` issue than ours.

[2018-05-02 08:30] #1798 closed

[2018-05-09 01:30] amoskong opened #2622 "virt: revert snapshot: libvirtError: File exists"
* Version info
avocado 36.4
libvirt-3.7.0-4.fc27.x86_64
libvirt-client-3.7.0-4.fc27.x86_64
libvirt-daemon-3.7.0-4.fc27.x86_64

* Description
This problem isn't easy to be reproduced, the snapshot revert works well for most of time.
It seems the problem of libvirt, anyone touched this problem?

* Avocado Log:
[code]

[2018-05-10 12:35] Vincinator opened #2624 "runner_remote and runner_vm plugins are not loadable after installation."
**Context:**
Installation of runner_remote and runner_vm completes  without errors. I tried installing avocado and the plugins with pip and with the setup.py from the sources.

**The Problem:**
runner_remote and runner_vm are not loadable after installation. Calling ```avocado plugins``` will result in
```Failed to load plugin from module "avocado_runner_remote": ImportError('No module named api',

[2018-05-10 17:44] clebergnu commented on #2624
@Vincinator can you please describe your installation method? The missing `api` module is probably `fabric.api`, so I'm guessing fabric failed to install on your system.

[2018-05-11 15:49] Vincinator commented on #2624
@clebergnu i could successfully install avocado with the optional remote and vm plugins on a different machine.
I used this method for the failing and the working environment.
[code]
Fails on my ubuntu server, works on my arch laptop.

On the ubuntu server, where the setup fails for me, i also tried to install it in an virtual env via pip.
[code]

Executing ```pip list``` shows that some fabric ve

[2018-05-11 15:59] Vincinator commented on #2624
I installed Fabric3  with ```pip install Fabric3 ```  now it works also on my Ubuntu server. Thanks!

[2018-05-11 15:59] #2624 closed

[2018-05-15 00:30] drahmany opened #2628 "on fresh install - no module named api (for remote runner)"
Failed to load plugin from module "avocado_runner_remote": ImportError('No module named api',)

suspicious line during install:

Requirement already satisfied: cffi>=1.7; platform_python_implementation != "PyPy" in ./lib/python2.7/site-packages (from cryptography>=1.1->fabric->avocado-framework-plugin-runner-remote==54.0) (1.11.5)

happened with both 54 and 61.

[2018-05-15 00:34] drahmany commented on #2628
[@#[](url)](url)

[2018-05-15 02:32] drahmany commented on #2628
turns out fabric may have been updated so fabric.api wasn't working. I am using 1.14.0 and it seems to work fine again. Is there a better way to limit the dependencies? This is the 4th or 5th time we have had to force versions to keep avocado working.

[2018-05-21 04:41] amoskong opened #2633 "fail to install avocado on ubuntu 18.04"
Anyone tied to install avocado 36.04 on ubuntu 18.04?

[code]

[2018-05-22 07:39] ldoktor commented on #2633
It looks like the wheel 36.4 package installation is broken. You can install it from sources using `pip install --no-binary :all: avocado-framework==36.4` and @clebergnu can you please double-check it's on our side? Alternatively could you please remove the binary whl package for 32lts? 61 and 52 works well...

[2018-05-24 15:22] lnsyyj opened #2641 "Failed to load plugin from module "avocado_runner_remote": ImportError('No module named api',)"
[code]

[2018-05-24 15:25] lnsyyj commented on #2641
[code]

Resolved Thank you

[2018-05-25 16:09] #2641 closed

[2018-05-30 03:59] ldoktor commented on #2628
Hello guys,

I'm sorry to hear that. Requirements are always tricky as other project might just release a new version unnoticed and we don't want to restrict the newer versions. I looked at it and the problem is that Fabric introduced 2.x.y release, which is a complete rework. PR to limit us to 1.x.y is here https://github.com/avocado-framework/avocado/pull/2645

We can try adding some selftests t

[2018-05-30 04:29] ldoktor commented on #2628
Actually we do have selftests that fail with the latest fabric, so it should have been caught by travis. It was not because of cliff broken dep to-be-fixed in https://github.com/avocado-framework/avocado/pull/2643 which prevented travis py2 checks. Anyway trying `make check` on my machine with fabric2:

[code]

Anyway remember with `requirements.txt` you are always tracing the latest and occasiona

[2018-06-01 18:14] ldoktor commented on #2641
Btw I forgot to mention it here, but thanks to your report we have this PR: https://github.com/avocado-framework/avocado/pull/2645

[2018-06-04 10:42] amoskong commented on #2633
Thanks, I had successfully install avocado 36.4 in ubuntu 18.04.

[2018-06-04 15:39] ldoktor commented on #2633
Glad to hear that. Btw 36 is unsupported (for a while) so you really should move to the next LTS which is 52.x. Anyway I added a card to solve this (best effort) so closing this issue.

[2018-06-04 15:39] #2633 closed

[2018-06-04 15:56] clebergnu commented on #2633
@ldoktor there's no binary wheel package on 36lts:

https://pypi.org/project/avocado-framework/36.4/#files

[2018-06-04 16:03] ldoktor commented on #2633
Then do you have any ideas on how to solve this issue? (ps we can move the discussion to https://trello.com/c/pQrnVFSB/1336-bug-disable-binary-package-for-36x )

[2018-06-05 00:01] amoskong commented on #2633
Sure, I already tried 52.x

On Mon, Jun 4, 2018 at 11:39 PM, Lukáš Doktor <notifications@github.com>
wrote:

[2018-06-05 03:41] luckyh opened #2647 "Bad performance on flushing the tap result"
If a test produces a large amount of logs, it would wait for more than few hours to get all the logs flushed into the tap result file. (can run vt test `io-github-autotest-qemu.pxe_boot.with_query_cpus` to reproduce this)

I've checked the code and found that:

1. currently, avocado will write all the test logs into the tap result file (just for vt tests?)
2. after wrote each single line, avocado

[2018-06-06 15:53] lnsyyj opened #2649 "does the Avocado Test Framework have an interface to test the rest API？"
Hello,
does the Avocado Test Framework have an interface to test the rest API? Is there a test example document?

[2018-06-13 19:28] mmathesius opened #2671 "package build fails due to test_broken_pipe() error on ppc64/ppc64le"
When using koji to build avocado 62.0 for Fedora 28, and koji randomly selects a ppc64 or ppc64le architecture builder, the build will always fail.

The reason is the following error during the Python3 run of the test_broken_pipe() self-check:

[code]
I have also observed this failure with avocado 61.0, and with Fedora Rawhide.

The build failure does _not_ occur on other builder architectures or

[2018-06-13 19:42] mmathesius commented on #2671
Example failed ppc64le build: https://koji.fedoraproject.org/koji/taskinfo?taskID=27598292

[2018-06-21 09:03] narasimhan-v opened #2684 "Utility for network"
Hi,

What is the take on an ethernet interfaces related utility ?
netifaces was previously used in the tests, but later removed from avocado dependencies.

[2018-06-22 07:01] Blackrose opened #2685 "pip install error about version"
Hi, I use pip to install avocado. But some packages have unresolved dependency version about django.The avocado need django 1.6, django-rq 1.1.0.While the django-rq 1.1.0 needs django 1.8.So, It's seems the avocado use old django version.

[2018-06-22 07:43] yuanaisha opened #2686 "avocado run remote host job failed"
I just test the avocado-framework-plugin-runner-remote plugins.I want to run sleeptest.py on another host, my local host can ssh remote hosts(here is avocado-test-3) without passwd:
[code]
but job failed,debug info:
[code]

Does anyone know the problem?

[2018-06-25 06:58] apahim commented on #2686
We don't copy over the test file itself. It has to be available remotely, in the same path specified in the command line, or in the default test directory. Your "sleeptest.py" seems not to be available on the remote system.

[2018-06-26 06:43] ldoktor commented on #2647
Should be addressed by https://github.com/avocado-framework/avocado/pull/2688

[2018-06-26 06:43] #2647 closed

[2018-06-26 06:46] luckyh commented on #2647
@ldoktor thank you!

[2018-06-26 07:02] ldoktor commented on #2647
you're welcome, it was partially selfish because I hate the huge `results.tap` files (in my CI they can be around 200-600MB and I don't see a point in storing redundant messages by default).

[2018-06-26 08:05] amoskong opened #2693 "timeout of avocado.utils.process.run() doesn't work with `sudo`"
Problem:
Root user can't kill sudo process, and there is no permission exception raised.

It should not a Avocado framework problem, and we can solve it by using sudo together, or remove all sudo.

* Test with normal user:
[code]

[code]

* Test with root user:
[code]

Related with: https://github.com/scylladb/scylla-artifact-tests/issues/103

[2018-06-26 16:25] mmathesius commented on #2671
I was able to track down access to a ppc64le architecture VM. Note the following:

[code]

Running the same things on an x86_64 arch VM behaves differently:
[code]

[2018-06-28 11:03] narasimhan-v opened #2695 "Is PyYAML 3.12 needs to be updated in the documentation ?"
[code]

[2018-06-29 08:39] ldoktor commented on #2671
Hello @mmathesius, I'm not able to reproduce the test failure on my machine, but I am able to reproduce the simplified reproducer even on my x86 machine. It looks like timing issue depending on the speed of the machine.

Anyway I proposed a fix by removing the check for the number of lines and only relying on the presence/absence of certain words.

[2018-06-29 12:44] mmathesius commented on #2671
Strange. I've seen the additional messages exclusively on ppc64 and ppc64le machines. In an case PR #2696 should take care of it.

Thanks for fixing this!

[2018-07-03 14:18] ldoktor commented on #2649
I'm not aware of any utils that would be present in Avocado to help with rest API testing, but there are plenty of python projects that can be leveraged to do that.

Another approach would be to use some external tool via `--external-runner` and use Avocado only as the man in the middle (gather sysinfo, record case for replay and store everything in well defined format).

[2018-07-03 15:00] ldoktor commented on #2684
Hello @narasimhan-v, the basic Avocado dependencies are set in `setup.py` (and `optional_plugin/*/setup.py`) and are limited to Avocado itself. Then we have the `requirements.txt` which contains slightly bigger set and includes some optional dependencies of `avocado.utils`. But the `netifaces` (I assume that's the one you complain about) is not used in Avocado project, therefore it should not be i

[2018-07-03 15:05] ldoktor commented on #2685
Avocado itself does not depend on `django`, only the `avocado-server` requires it. I'm just guessing but haven't you tried installing `pip install avocado; pip install avocado-server`? Because in `pip` the Avocado project is called `avocado-framework`, because `avocado` was previously existing `django` project.

If that's not the case, please mention the steps that leads to this issue.

[2018-07-03 15:58] clebergnu commented on #2685
@Blackrose I think you're referring to the Django extension: http://avocado.harvest.io/.  This is a different project.

[2018-07-03 15:58] #2685 closed

[2018-07-03 18:41] narasimhan-v commented on #2684
@ldoktor I agree about the utilities not using them, but most of the network related tests in https://github.com/avocado-framework-tests/avocado-misc-tests/tree/master/io/net use `netifaces`.

So, how are we to proceed here ?
1. Add netifaces to requirements.txt in avocado and proceed using it in tests ?
2. Implement a utility in avocado with the necessary network related modules, and use that in

[2018-07-04 13:01] ldoktor commented on #2684
Simplest is to modify your provisioning scripts to add your requirements. I mean you need to install "gcc" and other non-python dependencies somewhere, right? And that is also the right place for python dependencies (and ideally from distribution packages and not from pip)

Later if you decide other people would benefit from having those, you could create `requirements.txt` within `avocado-misc-te

[2018-07-04 13:16] ldoktor commented on #2693
Hello @amoskong, well this is a corner case introduced by user and could be handled by asynchronous execution and custom execution of `process.run("sudo kill %s" % pid)`. Still we could improve the `kill_process_tree` to support `sudo=True`.

What is worse is that we fail even on:

[code]

and we should address that. One solution would be to attempt to use `sudo=True` when sending the signal to pr

[2018-07-04 13:19] ldoktor commented on #2693
![](https://github.trello.services/images/mini-trello-icon.png) [Improve timeout handling for "sudo=True" processes](https://trello.com/c/ROPWdFFr/1358-improve-timeout-handling-for-sudotrue-processes)

[2018-07-04 13:28] ldoktor commented on #2695
@narasimhan-v would you please provide more information about versions? I do have PyYAML 3.12 and it works well for me:

[code]

Ideally try running:

[code]

[2018-07-04 14:00] narasimhan-v commented on #2684
@ldoktor The idea was to try and bring back the requirement which was existing previously, but  I understand the idea behind (2) :-)

I will have it in my provisioning script. Thanks

[2018-07-04 14:05] narasimhan-v commented on #2695
@ldoktor https://github.com/avocado-framework/avocado/blob/master/requirements-docs.txt has PyYAML 3.11, which does not work well with `construct_python_str`,
3.12 works just fine.

[2018-07-04 14:14] apahim commented on #2686
@ldoktor any clues?

[2018-07-04 15:36] lnsyyj commented on #2641
@ldoktor congratulate

[2018-07-04 15:39] lnsyyj commented on #2649
@ldoktor Thank you very much, I think if avocado has such a feature, it will be very convenient to use.

[2018-07-05 11:52] omps opened #2699 "Remote tests failing"
Hi,

I am trying to run remote execution on one of the host. Avocado is installed on the remote server using `pip install avocado-framework`. The test path is for local machine. Not sure why this is failing any insight would be a lot helpful.

[code]

[2018-07-05 15:06] mmathesius commented on #2695
For what it's worth, the Fedora `python-avocado` package builds recently started failing in Rawhide only (see https://apps.fedoraproject.org/koschei/package/python-avocado?collection=f29) with the same message while running self-tests:
[code]
There is a full traceback of the exception included in the `build.log` linked from the above Koeschi page.

[2018-07-06 04:19] PraveenPenguin commented on #2699
@omps have your system hostname is `hostname` as below line is says it failed to login
```root@hostname:22 (TIMEOUT: 60 seconds)```  if not i think you need to provide right hostname

[2018-07-09 02:58] amoskong commented on #2693
It makes sense.

[code]

BTW, I solved(workaround) my original problem by executing cmd without 'sudo'.

[2018-07-10 10:51] ldoktor commented on #2684
OK, thank you for understanding. I think it makes sense to at least put these into `avocado-misc-tests/requirements.txt`, but it should not exists in `avocado` as other users might want to run different tests and they don't need such requirements.

[2018-07-10 10:51] #2684 closed

[2018-07-10 10:57] ldoktor commented on #2686
Yep, it's a known odd behavior https://trello.com/c/QfWF6QDL/1348-avocado-vm-remote-runner-warning-about-missing-log-file but we neglected it for a while now. Basically on remote execution all the result plugins are still executed, but in the end the results are fetched from the remote system and they override the dummy-generated ones. For now please ignore the message and once we get to fix it th

[2018-07-10 10:57] #2686 closed

[2018-07-10 11:01] ldoktor commented on #2649
Yep, unfortunately I don't see anyone from the core team working on it in any foreseeable future so let me close this issue. Anyway if you decide to add such support, please send a RFC to avocado-devel mailing list (or just a PR here, but sending RFC first can avoid many troubles while attempting to get things upstream).

[2018-07-10 11:01] #2649 closed

[2018-07-10 13:20] ldoktor commented on #2695
@narasimhan-v would you please provide the output of the commands from https://github.com/avocado-framework/avocado/issues/2695#issuecomment-402479325 ? I'm not able to reproduce it with 3.10, 3.11, 3.12, 3.13b1, 3.13rc1, 3.13, 4.2b2, 4.2b4.

Anyway I am able to reproduce it with 4.2b1 so it looks like they had a breakage which should be fixed in the released version. Anyway we could update our re

[2018-07-10 13:33] ldoktor commented on #2695
I created https://github.com/avocado-framework/avocado/pull/2701 to explicitly ban the versions that did not worked for me, @narasimhan-v please let me know whether it changed anything.

[2018-07-10 13:40] ldoktor commented on #2693
Btw you don't (and should not) execute `"sudo sleep 10"`, but simply `"sleep 10", sudo=True` which actually executes `sudo -n sleep 10` (to avoid interaction). Also with https://trello.com/c/ROPWdFFr/1358-improve-timeout-handling-for-sudotrue-processes fixed it should allow forwarding signals even for `sudo=True`.

[2018-07-10 13:41] #2693 closed

[2018-07-10 13:43] ldoktor commented on #2699
@omps the remote runner does not copy any tests. Do you have the `avocado/examples/tests/sleeptest.py` files available on the remote machine? (try ssh-ing into the machine and execute the suggested `avocado list -V avocado/examples/tests/sleeptest.py`).

[2018-07-10 13:45] ldoktor commented on #2628
the requirements fix had been merged.

[2018-07-10 13:45] #2628 closed

[2018-07-10 13:51] ldoktor commented on #2622
Hello @amoskong, I'm not a heavy user of this feature, but never had such issue. From our side the usage is pretty basic so it must be libvirt issue. Would you please try reaching upstream python-libvirt community and explain them the workflow? Not sure whether/how this plugin changed but simplified version of what we do in current release is:

[code]

Closing it here as the exception comes from `

[2018-07-10 13:51] #2622 closed

[2018-07-10 13:55] ldoktor commented on #2601
#2600 had been merged and this issue seems fixed...

[2018-07-10 13:55] #2601 closed

[2018-07-10 14:07] ldoktor commented on #2556
We are not going to develop anything like this in foreseeable future. If you want to contribute this as plugin, please send an RFC.

[2018-07-10 14:07] #2556 closed

[2018-07-10 14:11] ldoktor commented on #2447
@phracek do you want to keep this issue open (meaning do you actively work on this) or is it something long-term that eventually you'd welcome, but you don't need it? Btw not sure whether this is relevant, but for comparison reasons I wanted something like: https://trello.com/c/vDNFZF5h/1340-add-support-to-format-jobdata-results-into-various-formats which might overlap with your idea a bit (you wa

[2018-07-10 14:17] ldoktor commented on #2408
@dpquigl we most certainly want to support other platforms, depending on the complexity, but without a clear aim we can't add anything.

If you want to add support, ideally send a PR fixing issues for a given platform and if available add it to `.travis.yml` test matrix. If you need help with it, please send us information about which version you tried and how it misbehaved. Ideally a docker image

[2018-07-10 14:17] #2408 closed

[2018-07-10 14:20] lnsyyj commented on #2649
Okay thank you

[2018-07-11 03:18] yuanaisha opened #2704 "--filter-by-tags can not work with runner-remote"
--filter-by-tags did not work, all tags run together:

[code]

if I run this on my local host, it worked,only run tags=net:

[code]

Is my usage wrong? Or --filter-by-tags  and runner-remote cannot work together

Thank you!

[2018-07-11 08:19] phracek commented on #2447
You can close the issue. Your trello card seems to be similar or even better then this issue. Support for various formats seems to solve my problem.

[2018-07-11 08:19] #2447 closed

[2018-07-11 13:14] ldoktor commented on #2649
I mean we are open to all ideas, that's why we have robot and glib plugins, but we can't do everything ourselves. These plugins for example came from the community, we refined them and put in our sources. So if you plan to use Avocado for this kind of testing, do try to develop even just a dirty proof-of-concept, we might be able to help you polishing it...

[2018-07-11 14:46] ldoktor commented on #2704
Currently it is not supported, but it's a core Avocado function so let me add the support for it (It's fairly simple)

[2018-07-11 14:47] ldoktor commented on #2704
(just a little background, only whitelisted arguments are passed to remote runner to limit the need for testing as remote runner scope is fairly limited...

[2018-07-11 15:14] ldoktor commented on #2704
@yuanaisha please take a look at https://github.com/avocado-framework/avocado/pull/2706

[2018-07-12 04:42] ldoktor commented on #1612
@famz this proposal is with us for quite a while but we don't really have any plan on working on this any time soon (we want to tackle the multi-stream, though). Do you plan on preparing something or can we close this as wontfix (until someone finds the time?).

[2018-07-12 04:45] ldoktor commented on #1986
@jscotka this was a design decision, the `__init__` in python should be generally fairly simple and most prep work should be done in `setUp` rather than `__init__`. Ideally one should never need to modify `__init__` in avocado tests, the public API is `setUp`, `test*` and `tearDown`.

[2018-07-12 04:45] #1986 closed

[2018-07-12 04:46] ldoktor commented on #2003
@jscotka there is a trello card so it will get implemented once the priority reaches the top (feel free to vote there).

[2018-07-12 04:46] #2003 closed

[2018-07-12 04:49] ldoktor commented on #2008
@jscotka there is a PR associated with this, it just needs some love. Do you use this library? Can you please take a look at it and respond with v3?

[2018-07-12 04:50] #2024 closed

[2018-07-12 05:01] ldoktor commented on #2136
We have 2 cards: https://trello.com/c/bT5qP6y5/1354-loader-in-fileloader-lets-allow-individual-discoveries-to-report-their-issues-and-report-that-instead-of-generic-not-instrumente and https://trello.com/c/HB3ha5Xe/1090-rfe-run-pylint-when-test-is-python-file-but-does-not-look-like-instrumented-test that should improve the situation, let me close this issue and keep track of the progress on trello

[2018-07-12 05:01] #2136 closed

[2018-07-12 05:19] ldoktor commented on #2282
There is a trello card associated so let's just wait when it's prioritized and developed. Feel free to vote to increase it's priority.

[2018-07-12 05:19] #2282 closed

[2018-07-12 05:21] ldoktor commented on #2285
It looks like all related PRs were merged and seem to address the original description. Closing.

[2018-07-12 05:21] #2285 closed

[2018-07-12 05:22] ldoktor commented on #2328
Unfortunately there is nothing we can do about that as we don't own that repo. Feel free to create your own and if so please update our documentation to point to the new updated one.

[2018-07-12 05:22] #2328 closed

[2018-07-12 05:29] ldoktor commented on #2341
The support to perform per-test-sysinfo-collection had been merged, it just needs to be enabled. Here the situation was about specific avocado-vt test, it's possible there as well but requires changing configuration on the destination guest, which should be implemented as part of the avocado-vt test. Let's close this issue as Avocado part seems to be implemented, feel free to follow up on avocado-

[2018-07-12 05:29] #2341 closed

[2018-07-12 05:32] ldoktor commented on #2345
The documentation had been split and links to mux plugin were included. There is still one step to avoid using it in examples, but it is not really related to this issue.

[2018-07-12 05:32] #2345 closed

[2018-07-12 05:38] ldoktor commented on #2348
@omps there are few requests in this issue, but nothing really specific. Diffing results quite heavily depends on the result format so please provide real-world examples ideally with expected results or directly send PRs with `diff` improvements.

Note `diff` received some improvements already, I'm using it to compare qemu-iotests on different machines and it works like a charm. Still there is htt

[2018-07-12 05:38] #2348 closed

[2018-07-12 05:41] ldoktor commented on #2386
Personally I'm very conservative, I don't collect badges, don't follow cool social things etc. so I don't really want to join. Anyway @avocado-framework/maintainers if you want to, I'm not against. In the mean-time I improved our documentation to list some of the content I find useful (and some extra) https://github.com/avocado-framework/avocado/pull/2702

[2018-07-12 05:41] #2386 closed

[2018-07-12 05:48] famz commented on #1612
I don't have time for this in the near future as well. So closing.

[2018-07-12 05:48] #1612 closed

[2018-07-12 06:58] yuanaisha commented on #2704
@ldoktor thank you ,I see it.

[2018-07-13 17:45] #2704 closed

[2018-07-13 17:52] #2141 closed

[2018-07-13 19:32] mopsfelder commented on #2141
Awesome!  Thank you, @ldoktor!  :1st_place_medal:

[2018-07-13 23:10] #2671 closed

[2018-07-14 04:57] ldoktor commented on #2695
OK the non-working broken releases were blacklisted, please let us know if the problem persists...

[2018-07-14 04:57] #2695 closed

[2018-07-14 17:57] ldoktor commented on #2141
You're welcome, but send the thanks to Fabric guys, I just enabled it...

[2018-07-18 19:02] mmathesius opened #2721 "avocado 63.0 package fails to build in Fedora Rawhide due to selftest issues"
Attempts to build avocado 63.0 in Rawhide fail during selftests.

I fixed a few of the issues I ran into with a PR I just created, https://github.com/avocado-framework/avocado/pull/2720. That PR also includes an update to provide diagnostic information for an assertion in `test_dry_run()` that is failing for reasons I do not understand.

When including the above mentioned PR and attempting to buil

[2018-07-18 19:08] clebergnu commented on #2721
Hi @mmathesius pr #2720 looks good, just needs a `Signed-off-by` line.  WRT rawhide, yes, I found similar issues and took note here:

https://trello.com/c/544JmwRv/1375-rpm-build-failures-on-f29

Given that your PR already fixes some of that, I'm moving that card to WIP.  I'll take a look at the other issues preventing it from building.

[2018-07-18 20:48] mmathesius commented on #2721
@clebergnu I was not aware of that make recipe. Thanks! I was just manually running `git archive` from my local repo, then using `fedpkg` to create the SRPM, and `mock` to build it locally. In this case, I _also_ used `fedpkg` to throw the SRPM to `koji` for a scratch build--since that seems to turn up additional strange and unusual failures.

[2018-07-18 21:39] clebergnu commented on #2721
One of the errors I'm getting is rawhide is on `test_dry_run (selftests.functional.test_basic.RunnerOperationTest)`

Which can be seen here:

[code]

The ```Test params:``` line should be followed by the params, but it's not.

[2018-07-18 23:52] clebergnu commented on #2721
OK, I can reproduce it under rawhide.  It only manifests when running under Python 3:

[code]

The `yaml_to_mux` failures end up producing no parameters to the tests.

[2018-07-19 12:55] ldoktor commented on #2721
OK, I see, I need to get back to https://trello.com/c/Q8QVmj8E/1254-bug-non-ascii-character-breaks-yaml2mux that should solve those kind of issues... Hopefully the `:recursive:` PR will go smoothly so I can fully focus on this one now.

[2018-07-19 21:56] clebergnu commented on #2721
I have a simpler reproducer:

[code]

While this, works fine:

[code]

[2018-07-19 23:28] clebergnu commented on #2721
Looks like https://www.python.org/dev/peps/pep-0479/ is "to blame" here.

[2018-07-20 17:41] clebergnu commented on #2721
And a simpler reproducer:

[code]

When run under Python 3.7:

[code]

[2018-07-20 18:55] clebergnu commented on #2721
@mmathesius this fixes the F29 builds for me.  Would you please try it?

[2018-07-20 21:00] mmathesius commented on #2721
@clebergnu PR #2723 (along with PR #2720) _does_ fix the F29 builds for me locally using mock--so I think that change is good. I checked it by incorporating those fixes into my fork of the latest downstream Fedora package at https://src.fedoraproject.org/fork/merlinm/rpms/python-avocado/commits/latest.

Unfortunately, handing the same SRPM to koji for building in Rawhide (see https://koji.fedorapr

[2018-07-20 21:07] clebergnu commented on #2721
Yes, this last one is clearly a different issue. So, let's keep this issue open, and possibly give #2723 and ack to get it out of the way.

[2018-07-20 21:29] clebergnu commented on #2721
@mmathesius I think you're right about the cause of the failure.  `examples/tests/simplewarning.sh` calls a generic `avocado` command, which gets added to the path by the test code.  That generic `avocado` command is `scripts/avocado`, from the source tarball, which contains the unversioned `/usr/bin/env python`.

The fix should be something like:

[code]

[2018-07-23 08:14] amoskong commented on #2693
Thanks.

[2018-07-23 19:36] clebergnu commented on #2721
Closing as resolved.

[2018-07-23 19:36] #2721 closed

[2018-07-26 15:35] mmathesius opened #2737 "build self-tests fail on aarch64 hardware"
When building the downstream avocado 63.0 package for Fedora, and an aarch64 builder happens to be randomly selected, the self-tests fail due to apparent mis-identification of the CPU architecture.

The following messages can be found in the `build.log` associated with Koji build https://koji.fedoraproject.org/koji/taskinfo?taskID=28622511:

[code]

[2018-07-29 16:45] narasimhan-v opened #2742 "default execution order"
Hi,

Is there any reason `DEFAULT_EXECUTION_ORDER` is set to `variants-per-test`.
https://github.com/avocado-framework/avocado/blob/master/avocado/core/runner.py#L278

[2018-07-30 16:35] ldoktor commented on #2742
Hello @narasimhan-v, the reason is historical and there was no reason in changing it as for different use-cases different mode is better. For example I use the default for iotests, because that way I see how the same test behaves under different setting.

As for the example from open-power-host-os, it worries me. Tests should never depend on other tests so calling one test `test_setup`, other `tes

[2018-07-30 17:51] narasimhan-v commented on #2742
@ldoktor The need for this arises from https://github.com/avocado-framework-tests/avocado-misc-tests/pull/964
I need the test to either go through the full cycle / just create / just remove bonding. We previously used to handle it via yaml parameters: like `setup: True`, `cleanup: False` will create and exit. In bonding, I took the approach of `test_setup` and `test_cleanup`.

Can you explain a bi

[2018-07-31 15:04] #2737 closed

[2018-08-03 15:09] ldoktor commented on #2742
Each test is a standalone entity. Sometimes they require setup so "setUp" and "tearDown" methods were developed to allow, well, set up and tear down. Failures during setup/teardown are visibly different from failures during test method, so there should be no need for that. In case of shared setup, one still has to check before each test, whether the setup was performed or not, because one can exec

[2018-08-03 17:43] clebergnu commented on #2742
Each test being a standalone entity, as @ldoktor put it, is part of a conscious design decision.  It may look like it gets in the way of some tests, but it's actually there to also help the overall design of tests.  How can you tell that a failure in test "b" was not really caused by test "a"?  TBH, I actually consider the default (process based) isolation of Avocado too weak, and would not be afr

[2018-08-04 05:11] narasimhan-v commented on #2742
Thanks @ldoktor @clebergnu .

I understand the point of tests being standalone.

The one place where I currently do not see this being applicable too well is the below scenario.
I need to run tests on the bond interfaces like:
Bonding.test_setup
NetDataTest.testbigping
ScpTest.test_ping
ScpTesttest_floodping
TcpdumpTest.test
Bonding.test_cleanup

What is the best approach here ?

[2018-08-06 14:51] ldoktor commented on #2742
Well the question is whether you need to run multiple set of tests in one job. If yes that developing `test_cleanup` is probably the only way you have until we have Job API, because we do have the means to create shared setup, but we don't have means to initiate test_cleanup at ones will (only after all tests were executed. Usually it should not matter, but in case some tests require the default c

[2018-08-09 20:30] TheMeaningfulEngineer commented on #1148
Hey, know this is an old thread but seems like addressing an issue I'm facing currently.
Also using avocado to test embedded systems and my tests run commands on the host to
be executed through the serial on the embedded device.

To be able to have everybody in the team contribute to writing tests they all have to
written as simple tests.

For now I'm achieving execution ordering and by prepending

[2018-08-12 10:30] Blackrose opened #2759 "unexpected keyword argument when pass '-h'"
Hi All, I am newer on avocado. Now, I am wring a recipe to install avocado into yocto image.I had already build into my custom image.And I can got the version.Besides, other argument always shows me "unexpected keyword argument".
Below is version message
[code]
Below is pass '-h ' argument
[code]
Could you give me some hint?

[2018-08-13 08:30] Blackrose commented on #2759
I change version 63 to 62.It's work on my board.And I had another problem, I use remote runner argument to execute an test on board.The avocado of PC shows "Avocado job failed: JobError: Remote machine does not seem to have avocado installed".But I definitely sure the avocado is install on board.

[2018-08-22 09:19] rbeims opened #2790 "Exception in yaml_to_mux plugin initialize"
I'm just starting using avocado, and I stumbled across this initialization issue:
[code]

The command I'm running is this:
```avocado variants -m remote_connection_github.yaml -c```

The yaml file being used is this:
[code]

I have tried to run tests using this file, but I always get the result reported in the beginning.
Am I missing something?

[2018-08-22 12:37] rbeims commented on #2790
I don't know if it's relevant for this case, but I'm using avocado with python3.

[2018-08-22 12:53] rbeims opened #2791 "assertRaises() doesn't seem to work properly"
I have some tests written for python unittests, and I would like to use them in avocado, together with avocado parameters.
The avocado documentation states that its main class derives from unittests, so I replaced the unittests superclass with avocado.Test in one of my files.
Now when running the test in avocado, the test errors out because of an exception, but this exception is raised specificall

[2018-08-22 14:47] clebergnu commented on #2790
Hi @rbeims , we do have a couple of issues with YAML to Mux on Python 3, but they *should* only happen if the input given is not ascii.  These issues are tracked here:

https://trello.com/c/Q8QVmj8E/1254-bug-non-ascii-character-breaks-yaml2mux

I've tried your example in the latest master:

[code]

And it seems to work:

[code]

My first guess is that you're running the version 63.0 or earlier, on

[2018-08-22 14:50] clebergnu commented on #2791
In my first quick analysis, I believe you're absolutely right, and that should result in a PASS.  Let me take a look at where the possible issue is, and how hard it's to come up with a fix.

[2018-08-28 21:34] mmathesius opened #2819 "avocado 64.0 package build selftests frequently fail"
The newly released avocado 64.0 package builds quite reliably using mock locally on x86_64, but I have found that it frequently fails during selftests when the SRPM is built using Fedora koji.

For example, running `make MOCK_CONFIG=fedora-29-x86_64 rpm-release` succeeds. However, subsequently attempting to build the same SRPM in the Fedora infrastructure by running `koji build --scratch f29-candi

[2018-08-30 07:24] #2790 closed, assigned to nobody

[2018-09-18 03:37] clebergnu commented on #2819
@mmathesius sorry for taking this long to act here.  Would you be able to (easily) trigger new builds so that I can look at the failures? I looks like the log files are not there anymore (given that they are scratch builds).

[2018-09-18 03:39] clebergnu commented on #2759
@Blackrose is this by any change the same issue that was reported on the mailing list? Either way, are you still facing the same issue? If so, would you care to detail how Avocado was installed on the remote machine (the development board system IUUC)? Thanks

[2018-09-18 03:41] clebergnu commented on #2742
@narasimhan-v have you managed to implement your use case?

[2018-09-18 13:57] mmathesius commented on #2819
I can _very_ easily trigger new builds--simply by running using the `koji` command listed in the description after generation of an SRPM by running `make ... rpm-release` or `make ... srpm-release`.

Here's a fresh scratch build: https://koji.fedoraproject.org/koji/taskinfo?taskID=29749922

[2018-09-26 07:16] pevogam opened #2872 "Running travis on each commit times out"
Hi, is it possible the run travis simply on the final commit of a PR rather than all of them (maybe just check for signed commits for all) since this really limits the length of a PR? My PR doesn't contain many commits (10 atm) and they are all on the same topic and properly separated.

I don't see the point of squashing changes which are different and irrelevant to each other (and thus break gran

[2018-09-26 10:36] lolyu opened #2873 "kernel: TypeError in calling KernelBuild.download"
[code]
By reading into `avocado.utils.kernel.KernelBuild.download`:
[code]
if `url` is `None`, `base_url` should be assigned to the default one instead of `url`.

[2018-09-26 16:12] Blackrose commented on #2759
I had resolved this issue.The remote machine need use bash as default. Though my board use sh from busybox. When I change shell from sh to bash, this error has gone. I saw the pass sign on test.

[2018-10-04 20:10] mmathesius commented on #2819
The release of avocado 65.0 didn't help this issue. In fact, mock builds now also fail for me most of the time.

However, after iterating a few times to skip specific self-tests that were failing, it came down to three troublesome tests:

- `test_whiteboard` in `selftests/unit/test_runner_queue.py`
- `test_environment_vars` in `selftests/functional/test_export_variables.py`
- `PyCDLib:test_basic_w

[2018-10-11 09:10] lolyu opened #2900 "ssh: multiplex mode fails to start"
[code]
issuing command `# netstat -nt | grep [address_of_rhvm]`, there is nothing. A successful master connection should leave a established connection. I don't know if my usage of `Session` is wrong. If this is an issue, `ControlPath` should be added to the command to solve this and I will fix this with a patch later.

[2018-10-11 09:16] lolyu commented on #2900
Desired output:
1. build master connection.
[code]
2. multiplex the channel.
[code]

[2018-10-16 11:04] dllg opened #2902 "Problem using remote-host without password"
Hi,

I'm having issues using the remote-host option to run tests on a remote host.
In this case I have created a docker image with sshd to test remote-host avocado.

`$ avocado run --remote-hostname=localhost --remote-username=root /root/dummy.py
JOB ID     : 6a871946ca4265a9155ef6034a866bc27c8cbd07
JOB LOG    : /Users/te9016/avocado/job-results/job-2018-10-16T12.54-6a87194/job.log
LOGIN      : ro

[2018-10-17 12:06] #2902 closed

[2018-10-17 12:09] dllg commented on #2902
I missed the --remote-key-file option. 👍

[2018-11-05 15:02] cacarrara commented on #2873
Fix ##2893

[2018-11-05 15:02] #2873 closed

[2018-11-06 16:49] fj-sanchez opened #2904 "runner_docker plugin generates invalid long hostnames for a docker container"
Every time that a container is launched a temporary hostname is generated, if the local machine hostname is long, for example has many labels part of a network domain, it will generate a very long hostname producing an error when calling the `docker` command. Apparently the max. hostname lengh supported by Docker is 64 characters to make it compatible with Windows...

[avocado-framework/avocado/bl

[2018-11-07 16:32] brianjmurrell commented on #1815
Just to clarify though, `setUp()` is run before any `@skip` decorators are processed?  At least that seems to be my experience with 52.1.

[2018-11-08 13:48] fj-sanchez opened #2905 "--ignore-missing-references doesn't work properly with --docker"
Hi,

I have a docker image where I copy all the tests to the /tests folder and set this folder as WORKDIR.

[code]
I am trying to run avocado like this `avocado run --ignore-missing-references=on --mux-inject sleep_length:5 arg1:11 arg2:22 --docker alpine-avocado -- sleeptest.py test.sh` and this is the results if I run it from the `test` folder:
[code]

And this if I try from somewhere else:

[co

[2018-11-08 15:04] fj-sanchez opened #2906 "Defining different docker images for different tests"
Hello,

I have two use cases where having the ability to define which docker image to use would be great:

1 - Different tests with different environment requirements
I have some tests that require a number of libraries/tools available in order to work. What I would like to do is to be able to set which docker image to use with each test.
2 - One test running under different environments
For some

[2018-11-11 12:46] fj-sanchez commented on #2905
I have tried again with the code from the repository directly instead of the installed from pip and it seems to work there... Anyway, I have seen how the remote runner is using a DummyLoader but the docker runner is not using anything like that. Shouldn't the docker one include this loader as well?

[2018-11-12 12:38] ldoktor commented on #1815
This card is about `@skip` decorator and not the `self.skip` method. In case the `@skip` decorator is used the test class is not executed. The only code from the test that is executed is the main body and test's `__init__` to get the instance. When the instance is obtained and `skip` decorator detected the execution is interrupted without executing tearDown.

You can try this:

[code]

From the ou

[2018-11-13 10:53] jscotka opened #2907 "traceback caused by running avocado via ssh with set LC_ALL=C"
see PR in cockpit project:
https://github.com/cockpit-project/cockpit/pull/10544
there is command like ``env LC_ALL=C ssh avocado run /tmp/avocadotest.py`` causing this trouble.
But this trouble is not relevant just to ``process`` lib I've met it also with scheduler, that function inside avocado ``runner`` like ``_get_tests...`` failed with same error

[code]

[2018-11-13 12:57] clebergnu commented on #2907
@jscotka if you know the encoding of the command you're running (and it's not the Python's default encoding), you should give `run()` that encoding as the argument.  Please check the input you give to `run()`, and the result of `locale.getpreferredencoding()`.

[2018-11-13 14:59] brianjmurrell opened #2908 "tearDown() not being given enough time when test times out"
Per the [discussion](https://www.redhat.com/archives/avocado-devel/2018-November/msg00017.html) on the [avocado-devel list](https://www.redhat.com/mailman/listinfo/avocado-devel), I would like to propose that `tearDown()` only getting 1 second to execute when the test times out to be a bug.

I'm not sure what a reasonable timeout for `tearDown()` after a test timeout occurs is, but I think it ough

[2018-11-13 15:21] ldoktor commented on #2907
Exactly. You are running this:

[code]

therefor you are trying to execute non-ascii characters using system encoding (which is ascii), therefor it's bound to fail. Please specify the encoding you use in your code (should be utf-8 on py3) and in order to work properly I'd suggest to use `LC_ALL=C.utf8` as well.

[2018-11-14 08:18] jscotka commented on #2907
Ah, thanks. I've missed  it and trouble were, that from some reason it worked well inside older avocado version, and there were same code invocation via LC_ALL=C, so it was strange that it stops working

[2018-11-14 12:11] ldoktor commented on #2907
Yes, older Avocado was py2 and was pretty lenient in terms of encoding. In order to support py3 we had to explicitly encode/decode all the places where strings/unicodes/bytes are combined, which also requires all the tests/libs to do the same. Anyway we did our best to provide better default (system encoding) than python (ascii or utf8) so in your case, as you are using utf8 chars, I'd simply use

[2018-11-20 15:05] fj-sanchez opened #2914 "Error when using resultsdb and any remote runner"
Hi,

I get an error when running a test with resultsdb enabled in a Docker container:

[code]

In the DB it gets created the job/group but with 0 results. I am using release 66.0 from the repo in develop mode.

Any idea how to fix it?

[2018-11-20 15:06] fj-sanchez commented on #2905
To update to my previous comment, I cannot get it working anymore, I am currently using a virtual environment without pip version of avocado, just the GIT clone with develop setup. Still no working properly.

[2018-11-20 21:02] fj-sanchez commented on #2914
After digging in the code I think the problem is here:

[avocado_runner_remote/__init__.py](https://github.com/avocado-framework/avocado/blob/master/optional_plugins/runner_remote/avocado_runner_remote/__init__.py#L549)
[code]
Which is not adding the whiteboard information as expected by the resultsdb plugin:

[avocado_resultsdb/__init__.py](https://github.com/avocado-framework/avocado/blob/master

[2018-11-21 12:49] ldoktor commented on #2907
Note you can use `proc.stdout_text` and instead of explicit decoding you could use `astring.to_text` from the `avocado.utils.astring` library (along with other useful string handling methods there).

Anyway as mentioned earlier, no changes would be probably necessary if you simply used the proper system encoding (`LC_ALL=C.utf8`) as you are in fact using those wide characters.

All in all, py3 sup

[2018-11-21 12:51] jscotka commented on #2907
@ldoktor sure :-) thanks for debugging this issue

[2018-11-28 14:09] brianjmurrell commented on #2332
FWIW, I have just hit this issue.  It's really quite intermittent.  This is the first time in dozens of test runs since I started using Avocado.

Should we reopen this issue since it seems to be valid?

[2018-11-28 14:17] clebergnu commented on #2332
@brianjmurrell definitely, yes.

[2018-11-28 16:11] ldoktor commented on #2332
@brianjmurrell the previous attempt to fix failed on not-enough-data. Do you have more details or ideally a simpler reproducer? The code before sending early_status is fairly simple (unless one overrides the default `Test.__init__`.

[2018-11-28 22:06] mmathesius commented on #2819
Avocado 66.0 still has self-test failure issues when using the Fedora build infrastructure, although with a slightly different set of troublesome tests.

Here are patches I used to disable several tests to get release 66.0 to build reliably for Fedora: https://src.fedoraproject.org/rpms/python-avocado/blob/04abfe7b49a5c7c78c77ac91d7f66f62cf27d320/f/avocado-66.0-skip-unreliable-selftests.patch

Not

[2018-11-30 15:31] bonzini opened #2927 "GLib loader mistakes bytes for str"
Note the `b:'/public/new'` in the test name:

    $ avocado run --loaders glib -- tests/check-qdict
    JOB ID     : 5989cdf8165c171425bc59657c78311ebb8b8661
    JOB LOG    : /home/pbonzini/avocado/job-results/job-2018-11-30T16.28-5989cdf/job.log
     (01/15) tests/check-qdict:b'/public/new': PASS (0.05 s)
     (02/15) tests/check-qdict:b'/public/put_obj': PASS (0.08 s)

[2018-12-03 18:02] brianjmurrell opened #2933 "expectedFailure() decorator"
As [suggested on the ML](https://www.redhat.com/archives/avocado-devel/2018-November/msg00050.html), I'm opening an issue here to support `unittest`'s `expectedFailure()` decorator.

[2018-12-07 07:45] parimalpp opened #2948 "Unable to install avocado on sles12sp3"
When i did " pip install --user avocado-framework" on my sles12 box
it said : Could not find a version that satisfies the requirement avocado-framework (from versions: )
No matching distribution found for avocado-framework

Can someone please help?

[2018-12-07 15:14] clebergnu commented on #2948
@parimalpp I don't have easy access to a SLES12sp3 box, so, could you please try to gather more information on the failure?  Running `pip vvv install --user avocado-framework` should be a good start.

[2018-12-10 03:49] parimalpp commented on #2948
@clebergnu
Thanks a lot, i did a silly mistake of not configuring the DNS properly in the system.
When i ran "pip -vvv install --user avocado-framework" i saw that my box was unable to reach the PyPi website as my dns was incorrect. After pointing my DNS to the right server i was able to install avocado.
Thank you for your help.

[2018-12-10 03:49] #2948 closed

[2018-12-12 04:23] parimalpp opened #2966 "How to get a variable from an external file and where to place that file in ~/doc/avocado/tests folder"
Hi,

I am very new to avocado & know that this is a simple usecase but nowhere in the documentation i could find the exact usage of external variables or files.

I have a file /home/user/test.py for which the the file level data directory is /home/user/test.py.data/
My testscript lets say abc.py contains:

import os
from avocado import Test
class newTest(Test):
     def test_printMethod(self):

[2018-12-19 17:25] mmathesius opened #2978 "avocado 67.0 package fails to build for Fedora 30 due to selftest issue"
Upon checkout of avocado 67.0, running `make MOCK_CONFIG=fedora-30-x86_64 rpm-release` fails with:
[code]

Builds using MOCK_CONFIG of fedora-28-x86_64, fedora-29-x86_64, and epel-7-x86_64 all succeed.

I suspect this has something to do with the encoding of the command string passed to `process.run()`, but I can't quite put my finger on it...

[2018-12-21 07:21] parimalpp commented on #2966
Can someone please reply to this query?

[2018-12-29 12:19] rayx opened #2981 "A possible race condition issue in avocado"
I hit the issue when I ran a QEMU test. The test actually finished, but avocado process didn't exit. It just hung there for ever.

So I took a closer look and found the main thread in the process was waiting for a worker thread. The worker thread didn't exit because it thought there was still IO but there wasn't - a symptom of race condition.

Below was pstree output:

<pre><code>
  |   `-bash,247

[2019-01-02 06:58] narasimhan-v opened #2983 "avocado list unnecessarily checks for kvm package on RHEL"
When checking for test types, there is a check for 'kvm' package.
This heppens only with RHEL.

[code]

[2019-01-02 07:04] narasimhan-v opened #2984 "avocado list does not consider 'test_dir' for shell scripts"
**Conf file:**
[code]

**SHELL:**
[code]

**PYTHON:**
[code]

[2019-01-02 07:04] narasimhan-v commented on #2984
This is a recent behaviour change, not seen on earlier commits.

[2019-01-09 10:03] narasimhan-v commented on #2984
@ldoktor @clebergnu

[2019-01-10 16:55] ldoktor commented on #2984
Hello @narasimhan-v, it looks like you're using older Avocado, this was fixed in 6286638d2a9db37f1b37e7100ed73c3eb1383817 anyway can you double-check?

[2019-01-15 05:53] rayx opened #2997 "aexpect-helper processes are left uncleaned"
I notice that the test system on which I ran avocado-vt test have a lot of aexpect-helper processes left uncleaned.

<pre>
# ps -ef | grep aexpect-helper | wc -l
38
</pre>

Among them some were used to run tcpdump:

<pre>
  |-aexpect-helper,1097 /usr/bin/aexpect-helper
  |   `-bash,1099 -c tcpdump -tnpvvvi any 'port 68 or port 546' && echo idZoV4XX > /dev/null
  |       `-tcpdump,1101 -tnpvvvi any

[2019-01-23 12:49] pevogam commented on #2872
Further issues with checking each commit:

1) This demotes doing larger feature developments for the sake of smaller 1-2 commit fixes.
2) I had some cases where I had reasonably separated commits that had to be squashed into larger ones encompassing more changes and thus being harder to read and review. So far I wasn't able to CI test a branch with more than 4-5 commits.
3) Breaking into smaller b