[2020-07-09 20:55] clebergnu commented on #3985
Should be fixed by #3986 , please reopen if there are any issues left.

[2020-07-09 20:55] #3985 closed

[2020-07-10 11:18] beraldoleal commented on #3985
Thank you @clebergnu

[2020-07-12 16:17] narasimhan-v commented on #3601
@willianrampazzo Sure, that sounds interesting and way better to handle all requirements. How far along are we ? Is there any way I can also pitch in ?

[2020-07-13 12:30] willianrampazzo commented on #3601
What I mean was that the representation of the sysinfo could be the same as the requirements, but I don't think this would fit the requirements resolver. I think the sysinfo collection is related to pre and post execution of a test, while the requirements feature is a pre test task.

I can see both features implemented independently. The Requirements Resolver is on hold until we advance with the N

[2020-07-13 13:05] narasimhan-v commented on #3601
@willianrampazzo I assume the implementation of the requirements is going to be independent of whether it is pre or post ? If so, why don't we have pre/post tag also part of the requirement and handle it wherever needed ?

[2020-07-13 13:15] willianrampazzo commented on #3601
I think that is possible. My suggestion to have your plugin developed now, independent of any other thing, is to speed up the availability, as the requirements resolver development is on hold for now.

[2020-07-13 13:52] narasimhan-v commented on #3601
Sure, got it @willianrampazzo

[2020-07-15 05:33] ldoktor commented on #3958
Hello @clebergnu, not sure what you want to hear from me, but basically to some extent it's possible to do that via yaml2mux loader so it should be possible directly within a job as well, provided you find a way to let the job know how to tweak the environment for different tests/groups of tests.

As for the parallel execution there used to be variables stored globally, for example the gdb executi

[2020-07-15 17:04] #3947 closed

[2020-07-15 17:25] beraldoleal commented on #3947
Thanks @richtja

[2020-07-15 18:13] willianrampazzo opened #3997 "[BUG - Job API] 'core.show' is not respected in some scenarios"
Considering the following example:

[code]

When running it as ` python3 /tmp/passjob_with_test.py`, the value of `core.show` inside the test is not respected and the `core.show` value in the `main` block is used.

The same happens if we run `avocado run /tmp/passjob_with_test.py`. The value of `core.show` inside the test is not respected. The value of `core.show` from the main block is also ignor

[2020-07-16 21:34] willianrampazzo opened #4001 "[BUG - Job API] 'run.references' is not respected in some cases"
Consider the following test:

[code]

With the following YAML file:

[code]

Running the test with `python3` or `avocado run` works as desired ignoring `test_bar` as needed:

[code]

Renaming the tests to something longer:

[code]

Running with `avocado run` is still consistent:

[code]

Running with `pyhton3` it does not ignore the second test anymore:

[code]

[2020-07-17 03:18] #3977 closed

[2020-07-17 15:53] willianrampazzo opened #4004 "[BUG - Job API] 'job.run.result.tap.include_logs' is not respected into the Job API"
Consider the following test as an example:

[code]

Test run:

[code]

Output of `results.tap` in both tests:

[code]

Expected output of the second test with `job.run.result.tap.include_logs = 'off'`:

[code]

[2020-07-17 19:33] willianrampazzo commented on #3969
The second attempt to build a solution to item 5 is available here: #4005. It uses the variants suggestion from @clebergnu.

The solution has some limitations, like running multiple Jobs instead of test cases, as it is not available yet. Also, it uses a YAML file for each group of tests to define the variants as there is not a way to describe the variants structure into the test.

[2020-07-20 16:41] harish-24 opened #4010 "avocado variants: Detect node with `null` value in yaml as an leaf node"
Currently the `avocado variants -c` does not treat a key with `null` value as a input.

[code]

As `null` is a valid yaml value, expecting the mux tree with `disk` as a leaf node and not as a node path.
Variants must look like the following
[code]

[2020-07-21 12:36] #3615 closed

[2020-07-21 20:22] willianrampazzo commented on #3969
The third attempt to build a solution to item 5 looks much more mature, in my opinion. It is available here: #4014

The Python dictionary variants remove some automation to create the variants but give us much more flexibility to define the variants the way we want. To me, it is a mid-term between a full automated YAML solution and a single test for each feature/option.

[2020-07-22 17:35] beraldoleal opened #4017 "Fix sphinx warnings on utils/service.py docstrings"
When compiling our current documentation with `make html` we have some warnings related to service.py docstrings:

[code]

[2020-07-23 14:13] beraldoleal opened #4019 "Multiple TestSuites: Decide approach with multiple configs settings"
We are moving forward trying to add support to multiple Test Suites in a single Job.  This will bring power to Avocado but also brings to us some challenges.

The current avocado Job implementation always had in mind only *one* test suite and it is constantly querying some configuration options and taking some actions. IMO, we need to review *each* of the configuration options that we are using to

[2020-07-23 14:37] beraldoleal commented on #4004
@willianrampazzo: `avocado/plugins/tap.py`:175 is registering this option as `bool`. I will do some work here, to parse 'on' and 'off' as bool in this config dict too. But have you tried with Python bools (`False` and `True`)?

[2020-07-23 14:42] beraldoleal commented on #4019
This is related to #3958

[2020-07-23 14:42] willianrampazzo commented on #4004
I think I tried, but if I recall correctly, it does not work.

I remember I tried to explicitly set this option to `off` or `False` in the command line and it did not work. I know the default is `False`, but how can I explicitly set it to `False` in the command line? Or we will not support this kind of setting, but only support setting to `True` when the parameter is available in the command line?

[2020-07-23 14:45] beraldoleal commented on #4004
@willianrampazzo as we discussed on the BP001, real boolean parameters dont have args. It is like -`-verbose` , or `--debug`, If the default is `False`, when you don't use the parameter will be `False`, but when you pass `--tap-include-logs` will be set to True.

I will do some tests and will comment here.

[2020-07-23 14:47] willianrampazzo commented on #4004
I remember that.

We need to check how the Job API will behave in this case.

Thanks for handling this.

[2020-07-23 15:12] beraldoleal commented on #4004
@willianrampazzo this is working with real booleans. I tried with the job API config dict and also with the command line. Working as expected.

Still, it is an open question:

We have today, 3 ways to configure things:

 1. Configuration File (ini)
 2. Command Line Arguments (bash
 3. Config objects on the Job API (python)

Each one is a different method with different syntax. The question is: Sho

[2020-07-23 15:20] #3885 closed

[2020-07-23 15:21] willianrampazzo commented on #4004
Good! This was impacting #3969 while using YAML files and mux to define the variants. We have switched to Python dictionaries and defining each of the variants manually, so this should not be a problem anymore.

I agree, and I would even extend this. If we are working to have a release ready for an LTS, in my opinion, we should get rid of all `on/off` options and make them true boolean in this rel

[2020-07-23 15:26] beraldoleal commented on #4004
I agree with you @willianrampazzo, I would leave only 'on', 'off', '0', '1', 'true', 'false' support in INI files because they are supported by default on configparser. I will close this. Please feel free to reopen.

[2020-07-23 15:26] #4004 closed

[2020-07-23 17:33] beraldoleal commented on #4001
@willianrampazzo:

I did some tests here, and unless I did something wrong, it is consistent:

Looking to your output here seems to me that it is consistent. The method `test_foo_foo_foo_foo_bar()` it was called, or did miss something?

You asked to run tests that start with `test_foo_foo_foo_foo`, and this should be both. Looking at your logs I can see that both were executed. Maybe I'm lost with

[2020-07-23 18:02] willianrampazzo commented on #4001
Okay, after looking again at the tests I added here and your comment, I concluded Avocado uses the test reference as a regex, so `test_foo` reference actually means `test_foo*`. This may be a feature, but may confuse testers if they are starting with Avocado.

I looked at https://avocado-framework.readthedocs.io/en/80.0/guides/user/chapters/concepts.html#test-references and thought the explanation

[2020-07-23 18:06] willianrampazzo commented on #4001
More precisely, update the documentation here: https://avocado-framework.readthedocs.io/en/80.0/guides/user/chapters/concepts.html#instrumented to state how the tests are resolved.

[2020-07-23 19:40] willianrampazzo commented on #4019
"With great power comes great responsibility" - Ben, Uncle.

It seems to make sense to me.

Okay, I see the issue now.

Reading until here, I may say to move everything that is not Job-specific to the test suite. Let me continue reading.

Okay, I agree with you that we need to look at one-by-one of the options and decide where it should take effect. It is not a trivial task and will extend the cur

[2020-07-23 20:23] beraldoleal commented on #4019
For me, this is the way to go. I will explain it below.

In teory a dict config should be plain so we can serialize and unserialize. Having TestSuite() objects inside the config, sounds strange to me.

But I think that besides the way to represent here, we need to decide the precedence. In this your example, you are assuming that `run.keep_tmp` is not used anymore inside the Job(), right? So again

[2020-07-23 20:36] beraldoleal commented on #4019
A possible alternative it is having a validation where everything inside `job.*` namespace should be equal in all TestSuite's configs. In that way, inside the `Job()` class we could copy just the first `test_suite.config` everything that starts with `job.*` and we will be with a clear conscience that this is consistent.

But again, I'm assuming that everything inside the Job() class is only using

[2020-07-24 08:52] richtja commented on #4019
For me, this is a better solution than have two different config files. But I think that for a user it can be confusing because the configuration of `Job()` will be inside the first `test_suite.config`.

What about combined these two solutions together and have `test_suite.config` inside `job.config`?

[code]

[2020-07-24 13:47] beraldoleal commented on #4019
@richtja I like partially your idea, but I still have some questions:

 1. What is part of the job config? Everything that is starting with `job.*` namespace? And the other options? Are we assuming that everything that don't start with `job.*` is about the suite config? This brings us to the point that we might need to review all the options one by one.

 2. We need to pass the TestSuite() to the

[2020-07-24 14:23] beraldoleal commented on #4001
@willianrampazzo I think that the first link you sent is the best place because talks about the references. I will submit a PR there.

[2020-07-24 16:59] beraldoleal commented on #3997
@willianrampazzo this seems to me be very similar to #4001. Is that the case? It is ignored because we have an explicity `if __name__ == '__main__':` right?

[2020-07-24 17:17] willianrampazzo commented on #3997
I don't think so, the outside Job (in the `main` block) should not influence the config of the inside Jobs (in the `test` block).

[2020-07-24 17:24] beraldoleal commented on #3997
The outside job is not executed if you are calling from avocado, right?

[2020-07-24 17:32] willianrampazzo commented on #3997
Right! And that is working fine.

[2020-07-24 17:32] beraldoleal commented on #3997
@willianrampazzo I got you, makes sense. Since @richtja is already assigned, I will leave this issue with him.

[2020-07-27 08:27] richtja commented on #3997
@beraldoleal I already did some tests here and it looks on a problem with configuration of the logging system.

[2020-07-27 08:52] richtja commented on #4019
Yes, I agree with you that we have to review all the options one by one.

Actually I don't have a nice solution for that, I have an idea that the TestSuite() can be created inside Job() based on the configuration, but I think that this brings more problems than it solves.

[2020-07-27 14:19] richtja commented on #3997
@beraldoleal @willianrampazzo, Hi I find out what problem is here, but I can not see an easy solution so I appreciated help here.

The problem is with a reconfiguration of logging handlers when the new configuration is set. In [here](https://github.com/avocado-framework/avocado/blob/master/avocado/core/job.py#L142) you can see that logging handlers are reconfigured when the new job starts but only

[2020-07-27 17:17] clebergnu commented on #4019
Let's assume that we want to preserve the *current* and simplest use case possible:

[code]

References are the most common way of populating a Job test suite, but there are other ways.  For instance Avocado-VT can load tests from a configuration file.  So, the following *example* code would achieve that:

[code]

And if Avocado-VT developers would choose to add `default ="~/.config/avocado-vt.con

[2020-07-27 17:49] beraldoleal commented on #4019
@clebergnu I'm ok with not passing the `TestSuites` to the `Job()` for now.

My only problem is the configuration consistency. Our current model of "namespace" already provides this 'separation' (the separation is the namespace itself, the dots). So, for instance, everything that starts with `job.` **should** be related to the job. Why create a second separation with a specific key? IMO, have this

[2020-07-27 18:39] beraldoleal commented on #4019
Yet on the "consistency": so far every option could be set via config file by a section + key (namespace). We know that configparser is very limited to represent lists. So how do you imagine this `job.suites` nested config inside a config file? And why all other sections inside this file are represented as a flat dict and this one is not?

[2020-07-28 01:01] clebergnu commented on #4019
I'm not sure I understood your proposal, is it something like the following?

[code]

That's one of the reasons I would avoid attempting a strict separation from what is test suite's and what is something else... I don't think there's a dichotomy here, and attempting to make things fit this way will cause frustration.

It's very easy to be consistent in those situations, and I mean consistent with

[2020-07-28 11:49] beraldoleal commented on #4019
For now, I'm just trying to collect ideas and double-check if they are consistent. If we take that: 1) we do not accept nested sections inside config files (configparser limitation) and 2) configparser support for lists is very limited, I'm trying to imagine how @richtja proposal would be represented inside a config file.

Yes, I don't like much this representation here, and I'm still trying to fi

[2020-07-28 14:19] clebergnu commented on #4019
OK. I meant `job.suites` BTW :/

That's actually one of the points of the Job API... we can have more expressiveness than with configuration files and command line arguments.  So I think this is actually consistent with the approach of scaling to more capable means when you have more complex problems.  In short, there would be no backwards mapping (from the configuration dictionary to the configur

[2020-07-28 15:43] harish-24 commented on #4010
@clebergnu @beraldoleal @willianrampazzo Any thoughts here would be helpful !

[2020-07-28 19:25] willianrampazzo commented on #4010
Hi @harish-24, what does the null represents here? If I change the null keyword by a 'null' string, your example works as desired:

[code]

So, I think I need a bit more context here to know what you are trying to accomplish.

[2020-07-28 21:38] clebergnu commented on #4017
#4023 greatly improved the documentation build, but I can still see the following issues:

[code]

So I'm reopening (reusing) this issue.

[2020-07-29 02:41] harish-24 commented on #4010
@willianrampazzo Right, you have a good example here. The only difference is that, when reading in test using `params.get`, treats it as a string. And for example `1` would mean an integer when read in test, but as yaml already supports `None` type which can be represented using a `null`, this does not work with `avocado variants` is my point here.

So basically what I want is to define a leaf nod

[2020-07-29 08:35] sathnaga commented on #3950
@clebergnu this is still failing in current master, good to have this fixed soon, tnx!
let me know incase of any help needed here.

[2020-07-29 08:37] sathnaga commented on #3950
I vote for Avocado-vt side fix .

[2020-07-29 11:53] #4001 closed

[2020-07-29 15:26] clebergnu opened #4028 "Makefile: unify rules for creating SRPM/RPM"
The `.copr/Makefile` is basically a subset of `Makefile`/`Makefile.include`.  It should be possible to combine the rules in a single file and include them everywhere it's needed.

[2020-07-29 17:41] clebergnu opened #4029 "YAML to Mux: syntax shortcut to naming the current node"
The most common use case for the YAML to Mux files is to, of course, multiplex/multiply nodes under a node with a `!mux` tag.

For instance:

[code]

Which generates variants such as:

[code]

It means that tests using these variants are able to do:

[code]

It's easy to see that there's a repetitive and inefficient pattern when creating nodes for multiplication purposes that also need to carry a

[2020-07-29 19:16] willianrampazzo commented on #4010
I got your need.

I did a test here and it is a bit awkward, but it works. Here is the code I used:

[code]

[code]

Although Avocado does not show the `null` like a leaf, when I look at the log, the `disk` was available for the test with the correct type:

[code]

So, maybe it is just a matter of correctly considering the `null` value as a leaf while creating the variants.

[2020-07-29 21:40] clebergnu commented on #3981
Hi @beraldoleal, sorry for taking so long to answer here.  I was investigating the possible solutions, and I've already produced some work towards eliminating the need to have `avocado_variants` in the configuration.  See #4031.  I have other patches that I'm preparing to send to resolve this issue.

[2020-07-30 02:56] harish-24 commented on #4010
@willianrampazzo The reason for it to appear as `None` is because for two reasons.
1. the default value is not set in test like `self.params.get('disk', default="/dev/sda")`
2. the `disk: null` is not even considered as a leaf node.

So, when you have a input as `disk:''` then you can see that treated as a leaf and as a string.

[2020-07-30 07:16] sathnaga commented on #4029
@clebergnu  This will work and will be useful for a variants name is same as the variable name or variants with just one variable defined, which is true in this case.

Only concern I have is the backward compatibility with this, if we are fine to float around both the representation for a while and let users naturally shift towards the new representation as an benefit, it will be good.

Apart from

[2020-07-30 07:54] narasimhan-v commented on #4029
@clebergnu Does this mean we support both ways of yaml representation ?
Reason being, The value need not always be the variant name.

[code]

So, does it mean we will support a combination of both formats, like below:

[code]

[2020-07-30 10:02] harish-24 commented on #4029
@clebergnu One additional point I want to clarify here is whether the datatype of the value can be preserved. Does it have any impact with the new format?
[code]
`keys` always used to be a string in old format. Now that we define only values, Are we going to treat the values based on the merit of it? i.e `8` as int and `centos` as str. And also can we define `null` values ? (as the existing format

[2020-07-30 16:25] #3981 closed

[2020-07-30 18:39] willianrampazzo opened #4034 "[BUG - Job API] 'job.run.result.tap.output' is not respected into the Job API"
Code to test:

[code]

Result:

[code]

**Expected result:** file `custom.tap` is located into the `job` directory.

Test with the command-line option work as expected:

[code]

[2020-07-30 20:00] clebergnu opened #4036 "safeloader: can not handle relative imports"
A syntax in a file such as `selftests/functional/test_basic.py`:

[code]

Will not be properly handled by the safeloader, as it doesn't properly handle the location of the module.

[2020-07-30 20:08] clebergnu opened #4038 "safeloader: can not handle class imports if not the first on a "import from""
Assuming #4036 is resolved, there's another limitation in the safeloader.  While a test such as the following (`selftests/functional/test_job_api_features.py`) is properly handled:

[code]

[code]

Adding another import *before* `TestCaseTmpDir` breaks the safeloader:

[code]

And no tests are resolved:

[code]

[2020-07-30 20:18] beraldoleal commented on #4036
@clebergnu look this discussion here #3525 , looks like it is related.

[2020-07-30 21:29] #4036 closed

[2020-07-31 19:17] willianrampazzo opened #4040 "Settings registration should execute the key_type under default values"
When registering a new namespace with the Settings module, the `key_type` is not applied to the default value. This may cause problems if the default value is anything different from a string.

[2020-07-31 19:29] beraldoleal commented on #4040
This seems to be easy @willianrampazzo . I will try to do this next week.

[2020-07-31 20:24] beraldoleal commented on #4040
@willianrampazzo actually, `default` value is expecting something already on the `key_type` format. key_type is a function to convert from command line arguments and config files.

Can you give me a "problem example" please?

[2020-08-01 19:42] willianrampazzo commented on #4040
Here is a real-world example:

Here we have the `key_type` https://github.com/avocado-framework/avocado/blob/master/avocado/plugins/xunit.py#L198. I had to apply the same function to the `default` value on line https://github.com/avocado-framework/avocado/blob/master/avocado/plugins/xunit.py#L199 because before it was registering the `default` value as `str` and was breaking the comparison at line

[2020-08-03 12:30] beraldoleal commented on #4040
@willianrampazzo I see.

The problem that I'm thinking right now is that the `key_type` is intended to be used during "arg parse" and "config parse" only. And most of the methods used in key_type was already expecting this.

In order to apply the `key_type` metho to `default` values too, we need:

1. Pass to default the values as they are parsed inside the config files (`"foo,bar"` instead of ['fo

[2020-08-03 17:30] willianrampazzo commented on #4040
Actually, no, sorry. I did not understand what you meant by item number 1.

[2020-08-03 21:20] beraldoleal commented on #4040
When using the argparse or configparse we use lists as "foo,bar" instead of ['foo', 'bar'], right?

[2020-08-04 06:46] harish-24 opened #4049 "[RFC] Creating utility/helper library specifically for avocado-misc-tests"
Avocado-misc-tests use a lot of code which is repetitive across tests. The obvious solution was to use avocado API, and we are continuing to do so. But there are still quite a few use cases which still cannot go in as a plug-gable avocado API as it is may not be useful outside as a usable functionality, but only for avocado-misc-tests repository.

A basic example would be steps to install packages

[2020-08-04 11:57] beraldoleal commented on #4049
@harish-24 I think its great you are thinking about move things inside Avocado. +1 here. But in this case/example that you gave maybe we don't need to move right now, because we (mostly @willianrampazzo) are working on a "requirements resolver" that will handle not only package installation but all kind of requirements for a test.

[2020-08-04 13:02] willianrampazzo commented on #4040
Right!

[2020-08-04 13:09] willianrampazzo commented on #4049
That is right, the initial work on the Requirements Resolver is scheduled to be introduced to the N(ext) Runner architecture, probably on release 83 or 84, after the release of LTS.

There were also some discussions about it here: https://github.com/avocado-framework/avocado/pull/3678

[2020-08-04 13:31] beraldoleal commented on #4040
@willianrampazzo sorry if wasn't clear.

Take the "show" example (`avocado/core/__init__.py:35`), or we need to change the lambda to support multiple formats or we need to change the default.

Makes sense?

[2020-08-04 13:37] willianrampazzo commented on #4040
Okay, now I got it. I had the use case of just one argument at a time for an option. In this case, I think we should better document the use of the `default` argument during the registration. It should say we need to use the "processed" value for it.

[2020-08-04 14:01] #3899 closed

[2020-08-04 15:20] sathnaga commented on #3950
@ldoktor @clebergnu can we get this addressed, master still hitting with this annoying issue. tnx in advance.

[2020-08-04 15:21] willianrampazzo opened #4052 "Implement an automated test to cover Avocado features/options efficiently."
This issue tracks the implementation of an automated test to cover the Avocado features/options efficiently, as discussed here: #3969.

**Features list:**

&#128503; assets.fetch.ignore_errors
&#128503; assets.fetch.references
&#128503; config.datadir
&#9744; core.input_encoding
&#9744; core.paginator
&#9744; core.show
&#128503; core.verbose
&#9744; datadir.paths.base_dir
&#9744; datadir.paths.cac

[2020-08-04 15:26] willianrampazzo commented on #3969
The proposal for the test of Avocado features/options described at #4014 seems to be in the right direction. As this issue was opened for the evaluation of a possible approach, I'm considering it concluded.

The tracking of the test development will follow on #4052.

[2020-08-04 15:26] #3969 closed

[2020-08-04 15:32] clebergnu commented on #3462
Closing as there's no fix needed here, as explained in https://github.com/avocado-framework/avocado-vt/pull/2691

[2020-08-04 15:32] #3462 closed

[2020-08-04 15:52] harish-24 commented on #4049
@beraldoleal @willianrampazzo Good to know. Another example would be copying test binaries/source files from data directory similar to [here](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/memory/integrity.py#L35). What do you recommend here?

[2020-08-04 16:24] willianrampazzo commented on #4049
As far as I can think of, this is still a requirement of a file. This case will also be covered by the requirements resolver. You can see all cases that we planned to initially support here: https://avocado-framework.readthedocs.io/en/80.0/blueprints/BP002.html

[2020-08-04 18:16] willianrampazzo commented on #4034
So, it turns out that the problem is related to the `latest` link. When using `job.run.result.tap.output`, the `latest` link is not created.

Here is an example with `job.run.result.tap.output` that fails when the test tries to create the `target_file` variable while using `job.run.result.json.output` option works.

[code]

[2020-08-04 19:04] clebergnu commented on #3492
I've stress tested this specific test on both a 390x and aarch64 (not on an ppc64), running 100 iterations, with 40 tasks at once, on emulated (slow) sytems. I'm closing this since I can not reproduce it on c50d6b4bcbdf6770a189c4788b13db42393d2121.

[2020-08-04 19:04] #3492 closed

[2020-08-04 19:56] clebergnu commented on #3689
I could replicate this very easily on an emulated (very slow) s390x system:

[code]

What I believe that's going on here is that we expect that no tests will be skipped, and they end up being skipped:

[code]

The test assumes, wrongfully, that within the 5 seconds, a simple `passtest.py` will finish successfully.  Since the only way we can control the environment in which those tests run is curre

[2020-08-04 20:11] clebergnu opened #4054 "Tag filtering broken"
Currently, if one executes:

[code]

All tests are found, but only two have the `fast` tag and should be returned:

[code]

[2020-08-04 20:23] clebergnu commented on #4054
My bisecting points at b9293ea9a60c2bc24635a5b6c4d21f7ee511c5dc as the culprit:

[code]

[2020-08-05 05:00] harish-24 commented on #4049
@willianrampazzo Thanks, that looks comprehensive. From the description this means we may not need a `setUp` going forward. meaning whatever we are achieving through setUp of a test will be replaced by Requirements resolver, right?

If that is the case then I would wait for that to be in place so that this issue can also be satisfied.

[2020-08-05 12:21] willianrampazzo commented on #4049
This is true for any kind of requirement covered by the Requirements Resolver. The `setUp` will still be useful to set other requirements not covered by the resolver, for example, a temporary directory.

[2020-08-05 13:16] #3689 closed

[2020-08-05 13:17] #4054 closed

[2020-08-05 13:20] #3997 closed

[2020-08-05 16:50] harish-24 commented on #4049
@willianrampazzo Thanks again. I understand lot of work has been put in to make these changes, please reach out for any help. Btw any approx. date estimate we can probably expect it arrive so that we can align accordingly?

[2020-08-05 16:57] willianrampazzo commented on #4049
We are working hard to have a good LTS on release 82. After that, the plan is to introduce the Requirements Resolver, so we should have an initial work on release 83 or 84. If everything goes fine and we keep the pace of 3 weeks sprint starting on 82, we are talking about 6 to 9 weeks after the release of 81.

[2020-08-05 19:35] clebergnu opened #4058 "N(ext) Runner: improve the coverage of the interface tests"
We currently have a functional test for N(ext) Runner script implementations at `selftests/functional/test_nrunner_interface.py`.  These are very basic, and can be augmented in areas such as:

1. The produced output of the scripts should be better parsed
1.1. Valid JSON
1.2.  Specific data structure
1.3. Specific content
2. Check more interfaces (if available)
2.1. capabilities (should be mandator

[2020-08-06 02:45] harish-24 commented on #4010
@willianrampazzo any update here?

[2020-08-06 03:55] clebergnu opened #4062 "Job Replay: write a plugin on top of the Job API"
The current implementation of the `replay` plugin leverages the `run` command, and changes its behavior.

With the Job API more mature, it makes more sense to have a `replay` plugin that is a standalone command, that instantiates a Job that is configured based on a given original (source job).

[2020-08-06 08:21] pevogam commented on #4019
Hi all, looking at some of the PRs related to this and the discussion here and somewhat from an external point of view I was wondering why is all of this extra complexity needed? Can you mention a use case or two about multiple test suites (and I mean "test suite" as implementation agnostic term the way a general user would understand it)? In particular, what are the advantages this feature offers

[2020-08-06 08:41] pevogam commented on #4019
I just saw the original issue proposing this #3958, will post my comments there. At least from viewing this issue it seems to be large an unnecessary complication of settings API that just started to stabilize.

[2020-08-06 08:54] pevogam commented on #3958
Hi @clebergnu, I wonder if this doesn't complicate things too much. The main goal it could achieve from what I see so far is to make it possible for a user to pack all sorts of diverse tests with their own config scopes into one job and group them into test suites of some reusable configuration, thus creating complex additional hierarchy within the code base which could be achieved with a bit exra

[2020-08-06 13:05] willianrampazzo commented on #4010
I understood the use case you are referring to, and I think it is a valid use case. There may be other ways to handle this kind of use case into the test, but if you feel it is worth adding it to the mux code, I'll be happy to review your PR.

@clebergnu @beraldoleal do you have any comments here that I may not have seen?

[2020-08-06 19:45] #4040 closed

[2020-08-07 08:08] yanan-fu opened #4067 "avocado.utils.cpu.get_version: IndexError: list index out of range"
This issue comes from:
https://github.com/avocado-framework/avocado/blob/9a5bb811e1c9fe5c7814fb62c91ec57fea315661/avocado/utils/cpu.py#L122

[code]

If can not get matched version, version_out is `[]`, `version_out[0]` will hit index error.

[2020-08-07 08:17] yanan-fu commented on #4067
@ldoktor @sathnaga  After involve the vendor variant to host-os, this issue will block the bootstrap, please help check it, thanks~

cc @luckyh

[2020-08-07 08:26] sathnaga commented on #4067
@yanan-fu two things to fix
1. handle for unknown arch/cpus yet.
2. educate the version strings for new arch/cpus as we encounter them,

for 1, will send a fix immediately

for 2, could you share `/proc/cpuinfo` output if possible, so that we can add version pattern similar to this https://github.com/avocado-framework/avocado/blob/9a5bb811e1c9fe5c7814fb62c91ec57fea315661/avocado/utils/cpu.py#L106,

[2020-08-07 08:37] yanan-fu commented on #4067
@sathnaga  Eh~   I just send out the fix,  but without update the pattern:
https://github.com/avocado-framework/avocado/pull/4068

Here is the cpu info of my system:
[code]

[2020-08-07 08:46] sathnaga commented on #4067
Good, saw that, Tnx!

@yanan-fu I do not have access to AMD systems, So feel free to add send PRs for missing AMD patterns too, if you would like, let me know if you need any help :-)

[2020-08-07 08:57] yanan-fu commented on #4067
@sathnaga  If i understand correctly, it is aim to get the version in 'model_name' , such as `6344` for the info above, is it ?

[2020-08-07 10:35] sathnaga commented on #4067
I belive, that's right for the version.

and similarly check if you can add get_family() support as well, https://github.com/avocado-framework/avocado/blob/9a5bb811e1c9fe5c7814fb62c91ec57fea315661/avocado/utils/cpu.py#L180

In this case I guess family is `Opteron` ?

Please make sure search string/place to get information is applicable more than one systems with different AMD cpus.

Thanks :+1:

B

[2020-08-07 11:18] beraldoleal commented on #4062
If #4055 gets accepted, we need to remove a3d92cd9aa86d5af2099407f0baf083add29fa0f after we close this.

[2020-08-07 11:47] beraldoleal commented on #3851
@willianrampazzo @clebergnu I did some investigation here and brought me back to #3666.

Unless I'm missing something, and afaik, the way that the new runner is spawning tasks with a fresh "env" is the cause here.

#3666 was about PATH, but in this case is the same for $PYTHONPATH. If we export PYTHONPATH to the current dir, we will be able to run with nrunner.

[code]

@clebergnu do you have any

[2020-08-07 12:39] #4067 closed

[2020-08-07 12:49] beraldoleal commented on #3851
@willianrampazzo @clebergnu ignore (partially) my comment. I think that I found a solution.

[2020-08-07 21:08] willianrampazzo opened #4071 "[BUG - Job API] 'plugins.disable' is not respected into the Job API"
Code to test:

[code]

Output:

[code]

Expected behavior: the `results.xml` file is not available into the results directory.

Running with a custom config file works as expected.

Config file:

[code]

Command-line:

[code]

[2020-08-07 22:35] clebergnu commented on #4019
Hi @pevogam, your point is very valid: we're letting go of some straightforwardness here so some explanation is needed.

Based on our own, and some use cases we learned from the community, people are using multiple `avocado run ...` executions to establish that their tests passed (or fail).  While there may be situations where users want to run multiple avocado jobs, most of the examples we found

[2020-08-10 01:43] yanan-fu commented on #4067
@sathnaga  Just noticed, this issue already be closed automatically after the patch be merged.

Now, `version` is under `family`,  without implement the `get_family` for amd,  it does not make a lot of sense.
Let's track it with new issue later, thanks!

[2020-08-10 08:11] pevogam commented on #4019
I see, now that I read this explanation I can confirm that on our side we have experienced this limitation plenty of times too, specifically on the command line. We still use the Cartesian config provided from legacy Autotest though and at least within the config files we could easily specify different configurations per test variants. I have glanced through the YAML2MUX varianter in the past in o

[2020-08-10 09:50] abdhaleegit opened #4076 "interfaces.py : Create a new network config file if not present and move to backup"
[code]

[2020-08-10 09:51] abdhaleegit commented on #4076
currently the code for ip config handles this way; if config file is their it will move to backup or else it will create new one without move operation.

So if no config exists, create new one and also move to backup

[2020-08-10 14:19] clebergnu commented on #4019
It's both in the command line an in a greater sense.

The Job API IMO solves most of the command line expressiveness limitations, but, the only way to use the cartesian config or the Yaml to Mux varianter accross different tests with different parameters, is if they all agree to the same structure.

This may be seen as a positive aspect for something like Avocado-VT, in which you do want to have a

[2020-08-11 10:13] pevogam commented on #4019
I guess what limits my understanding here is the fact that I rely on the same type of tests for all of my needs and often haven't really understood the need to use other test types. No matter what language a test is typed in, as long as it gets a config dictionary that could be tailored and scoped specifically to it either via config file or command line, I think everybody is happy. Correct me if

[2020-08-11 10:44] pevogam commented on #3701
Hi both, I assume this is planned for release 82 as 81 focuses on the new settings module? Would you be interested in me contributing an LXC spawner either in coordination or after some progress with this issue? Finally, are accepted blueprints like 002 (the scheduler) still extendable, amendable, or possible to further comment on in any way?

[2020-08-11 12:48] beraldoleal opened #4081 "future.settings is not taking into consideration runner.output.color at early stages"
When running Avocado with a custom config (`runner.output.color = always`) this is not being respected.

By default runner.output.color is set to 'auto' that will detect redirects and suppress color information during pipes, for instance. But with a custom config (lets say `runner.output.color = always`) the following command should produce a file with color information:

[code]

We could change t

[2020-08-11 12:52] beraldoleal commented on #4081
@clebergnu even with this being registered at `core/__init__.py:register_core_options()` this is not working. I will do a deeper investigation but if you have a hint here, will be helpful.

[2020-08-11 13:30] willianrampazzo commented on #3701
BP003 is still open for comments, feel free to add your suggestions there. I still have to add mine.

[2020-08-11 13:37] willianrampazzo commented on #4019
Hi @pevogam, as a real-world example, here how the multiple test suites can help with different combinations of parameters in the config: https://github.com/avocado-framework/avocado/pull/4079.

[2020-08-11 13:45] beraldoleal commented on #4071
This is also related to #4081. I'm working on this.

[2020-08-11 14:11] pevogam commented on #4019
Hi @willianrampazzo, so this then confirms my suspicions above that what we are talking for is a varianter functionality to be added to the job API. I wonder if there is a more modular way of achieving this (considering we already have interchangeable varianter plugins) but I guess it is good enough for the time being.

However, I still wonder about yours and everybody elses opinion about the dist

[2020-08-11 15:39] clebergnu opened #4082 "Job: warn when running jobs without test suites"
Currently, when creating a Job through the API, without test suites, the Job will not warn the user about it.

We should either present a warning, or the `RESULT` line with all `0`s, or both.

[2020-08-11 15:40] #4034 closed

[2020-08-11 15:49] clebergnu opened #4083 "Multiple test suites: suite presentation on Human UI (maybe other results)"
This is what I'm getting when running `python3 ./selftests/job_api/test_features.py`:

[code]

The test suite is not being identified.

[2020-08-11 15:52] willianrampazzo commented on #4083
Good catch!

[2020-08-11 16:45] beraldoleal commented on #3958
@pevogam I saw a few comments about this on a different thread, I hope @clebergnu has solved your questions. Not sure if is there any.

But since this was already implemented and merged, I would like to close this.

[2020-08-11 19:09] pevogam commented on #3958
@beraldoleal: Sure, go ahead and thanks for asking first! I guess this was the better place to write to instead of there but we are more or less already done with some conclusions in the other thread. I am curious if you too have some opinion or conclusion from what we discussed to share there. Any thoughts would be good.

[2020-08-11 19:19] beraldoleal commented on #3958
@pevogam Ok, I will comment there, was a little busy with some other issues. Thanks for the quick reply.

[2020-08-11 19:21] beraldoleal commented on #3958
@clebergnu I'm closing this because afaik this is merged already. Please feel free to reopen if this wasn't the case.

[2020-08-11 19:21] #3958 closed

[2020-08-11 19:43] clebergnu commented on #4071
Fixed by #4084

[2020-08-11 19:43] #4071 closed

[2020-08-11 19:43] clebergnu commented on #4081
Fixed by #4084

[2020-08-11 19:43] #4081 closed

[2020-08-12 17:50] willianrampazzo commented on #4052
The base for the test was introduced at #4079.

[2020-08-12 19:49] clebergnu opened #4086 "Settings: avocado config shows keys out of order"
It's helpful to have the keys sorted when doing `avocado config`, and they're currently not.

[2020-08-13 20:03] clebergnu commented on #4019
I'm not sure I follow what you mean by test types, because you seem to imply that any test type can get a configuration as a dictionary.  When I refer to test types here, I mean `INSTRUMENTED`, `SIMPLE`, `TAP`, etc. But, all of these inherit from `avocado.Test` and require the same interface.  With `VT` test types, which I assume is what you're using, you're also indeed guaranteed to always have t

[2020-08-14 08:34] pevogam commented on #4019
Yes, this is precisely what I imply. My starting point is something like the reason python objects have a `__dict__` attributes as pretty much all of them could be described as a dictionary. This should then be true also for test configuration parameters which are a subtype of objects, perhaps even easier to imagine as a dictionary.

Yes, from a varianter perspective however this is fine because t

[2020-08-14 12:07] beraldoleal commented on #4019
Hi @pevogam, sorry for the long delay to reply here.

Besides the @clebergnu replies, I believe that an important aspect here is consistency, usability and, learning curve when using Avocado.

You might be already familiar with some Avocado internals and for you might be easier keeping doing this way. But IMO for new users, it is much easier to understand this by simply looking at a method signatu

[2020-08-17 11:13] beraldoleal commented on #4019
Hi @pevogam,

Since the PR was already merged, please, let me know if we can close this issue or not.

[2020-08-17 12:00] #3654 closed

[2020-08-17 12:01] #3655 closed

[2020-08-17 12:02] beraldoleal commented on #3443
One 'epic' down. Thank you all.

[2020-08-17 12:02] #3443 closed

[2020-08-18 11:10] smruti77 commented on #4076
#1862

[2020-08-18 12:00] beraldoleal commented on #4076
@smruti77 not understood the relationship between 1862 and this.

Also, @abdhaleegit, after the discussion here https://github.com/avocado-framework/avocado/pull/4077, and since this is a library that exports "reasons" to the upper layers, this should be handled properly with try.. except.

I'm closing this, but please, feel free to reopen the discussion.

[2020-08-18 12:00] #4076 closed

[2020-08-18 12:05] #3937 closed

[2020-08-18 12:14] beraldoleal commented on #3667
@clebergnu based on your comment here #3666 I can't see right now how we would solve that problem without exporting the path. So IIUC, your idea is to close this and keep as it is?

[2020-08-18 14:25] clebergnu commented on #4062
I propose a different approach here now.  We already document that this combination (yaml to mux and replay) is not supported anymore, and I believe it should be kept that way:

---

https://avocado-framework.readthedocs.io/en/latest/guides/user/chapters/operations.html#job-replay

"Avocado versions 80.0 and earlier allowed replayed jobs to override the failfast configuration by setting --failfast

[2020-08-18 14:27] clebergnu commented on #4019
Given that the feature is implemented, I say this issue needs to be closed.  Discussions on further (and different) development implementation can reference this, but should be its own new issue IMO, so I'm closing this one.

Thanks everyone for the ideas and feedback!

[2020-08-18 14:27] #4019 closed

[2020-08-18 14:29] beraldoleal commented on #4062
I'm more than ok with that, @clebergnu . thanks. I will submit a PR to remove that test.

[2020-08-18 14:29] #4062 closed

[2020-08-18 15:36] #3851 closed

[2020-08-19 02:26] clebergnu opened #4094 "Job with n(ext) runner crashes with directories as references"
The following behavior can be seen on 8dc59da6d29166245cf88a0584eaa09e9acce383:

[code]

And the crash log reveals that:

[code]

The indented behavior is:

* No crashes
* Job may abort and not run if there are no resolved references
* Directories themselves should be ignored on missing references

[2020-08-19 02:46] clebergnu commented on #4094
Even with #4095, this remains an open issue.  Reproducer is:

[code]

The `JobTestSuiteReferenceResolutionError` needs to be properly handled, and possibly the test suite needs to have a flag for this situation.

[2020-08-19 02:51] clebergnu commented on #4094
I've pused 1b77348051c3d834b8134aded5a6dacba7426936 to #4095, and it seems to do the trick.

[2020-08-19 05:06] smruti77 commented on #4076
@beraldoleal just pointed that PR its because this issue handle in another way, so no need to handle like this and for closing the issue.

[2020-08-19 10:18] pevogam commented on #4019
Seems like my initial reply to https://github.com/avocado-framework/avocado/issues/4019#issuecomment-674042985 didn't send properly here but yes, it was that we can close this as well and see where the new test suite API gets us. I do agree that there should be a good learning curve for newcomers, my point was mostly about the way we provide this learning curve and that we don't reimplement alread

[2020-08-19 14:32] clebergnu opened #4097 "Consolidate "nlist" command functionality"
We're moving the N(ext) Runner functionality into (and only into) the `avocado run` command, via a test runner selection (`--test-runner=`).  Then `avocado nrun` is expected to be removed.

Something similar needs to be done about `avocado nlist`, which is a "resolver based" version of `avocado list`.  IMO it doesn't make sense to keep an experimental `avocado nlist` (without an also experimental

[2020-08-19 15:58] clebergnu commented on #4097
On [avocado/core/suite.py](https://github.com/avocado-framework/avocado/blob/6ce679bf8205bce23aea3116407f221ab252889f/avocado/core/suite.py#L107
) we can select one runner implementation based on its name:

[code]

And that's not possible here, given that `loader` and `resolver` don't share a common interface.  But, the user experience should probably be similar, allowing users to choose by:

[cod

[2020-08-19 16:12] clebergnu opened #4099 "Settings get reset after second `merge_with_configs()`"
There's an issue with settings registered by plugins, in which they get their values reset after the second `merge_with_configs()`:

https://github.com/avocado-framework/avocado/blob/6ce679bf8205bce23aea3116407f221ab252889f/avocado/__init__.py#L34

This was introduced in https://github.com/avocado-framework/avocado/pull/4091, and after it was merged, the Avocado-VT CI broke:

https://cirrus-ci.com

[2020-08-19 17:01] clebergnu commented on #4099
So the settings were getting "reset" because they were set as empty on the configuration files.  So Avocado's behavior is correct, and a fix has been sent to Avocado-VT: https://github.com/avocado-framework/avocado-vt/pull/2715

[2020-08-19 17:01] #4099 closed

[2020-08-19 17:02] clebergnu commented on #4094
Solved by #4095

[2020-08-19 17:02] #4094 closed

[2020-08-20 15:12] clebergnu opened #4102 "Avocado-VT joblock and Task-based test suite"
NOTE: This is probably going to require work on Avocado-VT, but I'm opening the issue here to better track the bugs affecting the current and upcoming releases.

When running a job with Avocado-VT plugins installed, including vt-joblock, and selection `nrunner` as the test runner, Avocado crashes:

[code]

[2020-08-20 17:24] clebergnu opened #4103 "[LTS] Functional/Integration tests with external projects"
To make sure no regressions exist in the LTS release, and to adjust expectations, it's a good idea to test with known external plugins and/or test repositories.  Examples:

* Example tests (example/tests/)
* Avocado-VT tests
  * QEMU based
  * libvirt based
* QEMU:
  * tests/acceptance
  * unit tests ("tap" tests)
* Avocado ["misc-tests"](https://github.com/avocado-framework-tests/avocado-misc-tes

[2020-08-20 17:51] beraldoleal opened #4104 "docs: Review and test examples on user's guide (section: Introduction)"

[2020-08-20 17:51] beraldoleal opened #4105 "docs: Review and test examples on user's guide (section: Introduction)"

[2020-08-20 17:52] beraldoleal opened #4106 "docs: Review and test examples on user's guide (sections: basic concepts and basic operations)"

[2020-08-20 17:53] beraldoleal opened #4107 "docs: Review and test examples on user's guide (sections: Results Specification)"

[2020-08-20 17:53] beraldoleal opened #4108 "docs: Review and test examples on user's guide (sections: Filtering tests by tags)"

[2020-08-20 17:54] beraldoleal opened #4109 "docs: Review and test examples on user's guide (sections: Configuring)"

[2020-08-20 17:54] beraldoleal opened #4110 "docs: Review and test examples on user's guide (sections: Avocado logging system)"

[2020-08-20 17:55] beraldoleal opened #4111 "docs: Review and test examples on user's guide (sections: Understanding the plugin system)"

[2020-08-20 17:55] clebergnu opened #4112 "[LTS] Testing Example/tests"
Make sure no regressions exist in the LTS release with regards to example tests (`example/tests/`)

---

This is part of https://github.com/avocado-framework/avocado/issues/4103

[2020-08-20 17:55] beraldoleal opened #4113 "docs: Review and test examples on user's guide (sections: Undestanding the test discovery)"

[2020-08-20 17:56] beraldoleal opened #4114 "docs: Review and test examples on user's guide (sections: Advanced usage)"

[2020-08-20 17:56] clebergnu opened #4115 "[LTS] Testing Avocado-VT tests"
Make sure no regressions exist in the LTS release with regards to Avocado-VT tests, including:
  * QEMU based
  * libvirt based

---

This is part of https://github.com/avocado-framework/avocado/issues/4103

[2020-08-20 17:59] clebergnu opened #4116 "[LTS] Testing QEMU's tests"
Make sure no regressions exist in the LTS release with regards to QEMU's tests, including:
 * tests/acceptance
 * unit tests ("tap" tests)

Bonus points for trying out Job API usage as a replacement/addition to the current usage:

[code]

---

This is part of https://github.com/avocado-framework/avocado/issues/4103

[2020-08-20 18:08] clebergnu opened #4117 "[LTS] Testing Avocado's "misc-tests""
Make sure no regressions exist in the LTS release with regards to * Avocado ["misc-tests"](https://github.com/avocado-framework-tests/avocado-misc-tests).

---

This is part of https://github.com/avocado-framework/avocado/issues/4103

[2020-08-20 18:08] clebergnu commented on #4117
@PraveenPenguin @narasimhan-v @harish-24 (and others) could some of you own this issue?

[2020-08-20 19:13] #4097 closed

[2020-08-20 19:31] clebergnu commented on #4103
Message sent to the DAOS community: https://daos.groups.io/g/daos/message/1126

[2020-08-20 21:45] clebergnu commented on #4115
The following is a model for reusing/adapting the project's CI jobs for this purpose:

https://github.com/clebergnu/avocado-vt/commit/7883bbc9e395ae93581a5010860b47e847da07b5

One of the most important aspects is that it runs a real test, instead of a dry-run:

https://github.com/clebergnu/avocado-vt/commit/7883bbc9e395ae93581a5010860b47e847da07b5#diff-0f7067c31caedf7df2739c9b07efa122R21

The resu

[2020-08-20 21:45] clebergnu commented on #4115
@beraldoleal @willianrampazzo @richtja as an example for the similar tasks under #4103

[2020-08-21 04:39] PraveenPenguin commented on #4117
@clebergnu sure seems a good idea

[2020-08-21 15:05] richtja opened #4121 "Logging system unification"
In some places, the loggers are used directly like in `Job.__start_job_logging()` and this can cause troubles because we use different logging configurations for different jobs. This is handled in `core.output`. We have to unify the loggers usage such as every logger manipulation should be done in `core.outpu` with proper configuration.

[2020-08-21 18:10] beraldoleal opened #4124 "docs: Review our user guide for LTS"
This is an epic issue, to keep track of the progress, check the status of all issues related to this one.

[2020-08-24 14:31] #4082 closed

[2020-08-25 15:01] clebergnu opened #4130 "LTS Release Notes Document"
We need to document the changes from the last LTS vesion (69.xLTS) to the 82.0LTS version.

Let's create two documents that contain:

1. The complete and individual changes from all releases
2. The resulting document which will contain the "squashed" version of similar entries

[2020-08-25 18:12] clebergnu opened #4131 "avocado list --resolver doesn't work with hint files"
Sample setup with QEMU's source code, plus `avocado.hint`:

[code]

Then, running:

[code]

Where `tap` would be expected.

[2020-08-25 19:07] beraldoleal commented on #4131
I know why.... :/ I will work on this.

[2020-08-25 19:18] clebergnu opened #4133 "avocado list --resolver doesn't work with --filter-by-tags*"
Also from the QEMU source tree as example. No filtering:

[code]

Expected (working without `--resolver`):

[code]

Broken with `--resolver`:

[code]

[2020-08-25 20:21] beraldoleal opened #4134 "docs-test-writer-guide: Review and test examples on section: Writing a Simple Test"

[2020-08-25 20:22] beraldoleal opened #4135 "docs-test-writer-guide: Review and test examples on section: Writing Avocado Tests with Python"

[2020-08-25 20:23] beraldoleal opened #4136 "docs-test-writer-guide: Review and test examples on section: Advanced logging capabilities"

[2020-08-25 20:23] beraldoleal opened #4137 "docs-test-writer-guide: Review and test examples on section: Test parameters"

[2020-08-25 20:24] beraldoleal opened #4138 "docs-test-writer-guide: Review and test examples on section: Multiplexer concept"

[2020-08-25 20:24] beraldoleal opened #4139 "docs-test-writer-guide: Review and test examples on section: Utility Libraries"

[2020-08-25 20:25] beraldoleal opened #4140 "docs-test-writer-guide: Review and test examples on section: Subclassing Avocado"

[2020-08-25 20:45] willianrampazzo commented on #4110
@clebergnu is `debug` option supposed to display something?

[code]

The documentation says: **debug: Additional messages useful to debug Avocado (avocado.app.debug)**

I was expecting _additional_ messages if any, but I was not expecting the normal messages to be suppressed.

Anyway, I'm just looking for confirmation that the behavior is correct and I should update the documentation, or we have a

[2020-08-26 02:23] clebergnu opened #4141 "Failure when trying to run job with custom suites"
The following is a slightly modified version of `examples/jobs/passjob_custom.py`, with the goal of eliminating the nrunner as the cause of this issue.

[code]

This results in:

[code]

Expected result is a job with 2 test suites (and thus 2 tests) executed.

[2020-08-26 03:09] clebergnu commented on #3667
@beraldoleal actually, given that the environment variable (PATH) is *not* being set on the task, it seems that it will affect the reproducibility aspects, which I was worried about in #3666. The PATH will be dynamic whenever it's not set, so I take back my vague "NACK".

[2020-08-26 03:29] clebergnu commented on #3701
With the [TaskStateMachine](https://github.com/avocado-framework/avocado/pull/4129/commits/b6284d703efc64041afd35c0f2663b55a3e5076c) part of #4129, I believe this specific issue is done.  The one about the integration of the nrunner to the job as been "revived" and put into the milestone for release 81.0.

[2020-08-26 03:29] #3701 closed

[2020-08-26 10:43] pevogam commented on #3701
Hi @willianrampazzo, can you point me to the specific open issue where we can comment? I am not sure I can easily find it and the best candidate to comment in is #3735. Is this the best choice to discuss more about the current blueprint?

[2020-08-26 11:25] narasimhan-v commented on #4103
@clebergnu Can you explain a bit more on what are the expectations here ? Is the expectation to tag releases of different projects to document the compatibility ?

More insights on the overall picture will help.

[2020-08-26 11:40] pevogam commented on #4103
Hi @narasimhan-v, I think the expectation is just a call for the projects to help out with LTS testing if they would like.

[2020-08-26 11:50] narasimhan-v commented on #4103
@pevogam should we also look at tagging tests which is used for validating avocado LTS build ?

[2020-08-26 12:12] willianrampazzo commented on #3701
Hi @pevogam, it was here: https://github.com/avocado-framework/avocado/pull/4085

[2020-08-26 12:18] beraldoleal commented on #4141
@clebergnu afaik, this is expected as we discussed, to keep consistency.

You are creating TestSuite() and Job(), from the "custom mode" (class constructors) so there will be no magic to find tests based on `run.references` on Avocado side. This expect that you create your tests by hand.

If we need some 'automatic' logic, then we should use `.from_config()` methods.

Makes sense?

[2020-08-26 12:35] beraldoleal commented on #3667
@clebergnu So, IIUC, are you ok with #3666 being merged?

[2020-08-26 13:03] pevogam commented on #4103
I am not sure if I understand what you mean. On my side for instance, what I am planning to do is simply wait for an LTS branch or signal that we will be ready for releasing 82.0, then run some local tests of our product (be it any of these) with the candidate/tested code as a dependency.

[2020-08-26 13:10] pevogam commented on #3701
Hi @willianrampazzo, I mean BP002 here and not BP003, specifically the blueprint about the requirements resolver that I think you authored. Sorry for misleading you here, I was actually thinking of finding the correct issue or place to still comment on the possibilities about the requirements resolver introduced there.

[2020-08-26 13:16] clebergnu commented on #3667
Yes, I think so.  Could you please rebase / resend it so it goes over CI again?

[2020-08-26 13:18] clebergnu commented on #4141
Yes, it does.  Then the problem is that the example job is misleading, as it uses `run.references` without `.from_config()`.  I will include a fix on v2 of #4142

[2020-08-26 13:19] PraveenPenguin commented on #4103
@pevogam what i feel @narasimhan-v  meant as from misc test font as we have tag also available inside test so we can tag test case as well, as we already have some release but that based on major changes in the avocado library  which impact misct  test repo

[2020-08-26 13:29] pevogam commented on #4103
Hi @PraveenPenguin, alright sorry for the extra noise on my side, I just expressed how I understand the progression on this issue. I guess we will wait for the rest to provide @narasimhan-v with more information.

[2020-08-26 13:34] #4141 closed

[2020-08-26 14:13] clebergnu commented on #4103
Yes, that's  the idea.

IMO, he best timing to do (or start) the testing would be right after *81.0* is tagged/released.  Because then, functionality wise, it'll be frozen.  Then *82.0* would hopefully contain all fixes found for issues found with the external projects / tests.

[2020-08-26 14:15] pevogam commented on #4103
Good to know, I was also expecting that feature development will be frozen from 81.0 to 82.0 so that we have greater stability and con provide maximum coverage with minimum reruns.

[2020-08-26 14:42] clebergnu commented on #4110
@willianrampazzo IIRC, this means that `avocado.app.debug` logging gets enabled.  You could look if any of the Avocado code still produces messages into that logging channel to check if the *feature* is working properly.

[2020-08-26 14:46] willianrampazzo commented on #3701
Oh, okay, the BP002 text was approved and merged a long time ago.

One possibility I can think for you to add your concerns is to comment on the follow on PRs when the implementation starts. Another possibility is to open an issue as an RFC for discussion on the current BP002 text.

[2020-08-26 14:51] willianrampazzo commented on #4110
I'll check that, but I think my question was not clear.

The documentation says **additional messages**, but actually no message is displayed in the console. So, should Avocado display the normal messages plus the debug messages or the correct behavior is to show nothing and forward everything to the log files?

Knowing what is the correct behavior will drive what changes are needed.

[2020-08-26 15:42] pevogam commented on #3701
I don't object the BP002 text and suggestions per se, I was rather thinking of adding some additional suggestions. My intention w.r.t. this blueprint is rather to talk about extensions. Perhaps I could start an email thread about it, we will see. Thanks for the hints though!

[2020-08-26 16:48] beraldoleal commented on #4105
@clebergnu since #3700 is still open, I will wait for all the work that you are doing on the "run" command to continue here. Makes sense?

[2020-08-26 23:36] clebergnu commented on #3866
Resolved in #4145

[2020-08-26 23:36] #3866 closed

[2020-08-26 23:48] clebergnu commented on #3667
Resolved with #3666

[2020-08-26 23:48] #3667 closed

[2020-08-26 23:49] clebergnu commented on #3700
The missing items on this epic will be addressed post 82.0 LTS.

[2020-08-27 10:57] #4131 closed

[2020-08-27 12:58] beraldoleal commented on #3695
Hi @clebergnu I think that this was working before cb9de3914a69c08fd7e976d72deeb727db461352. Looks like `_populate_task_logdir()` call was dropped.

[2020-08-27 13:10] willianrampazzo commented on #4116
`make check-acceptance` ran without problems on my machine using commit https://github.com/avocado-framework/avocado/commit/01f3ec963c7aa4694aae29e7a1fadeea3a663860

[code]

[2020-08-27 13:11] willianrampazzo commented on #4116
[job.log](https://github.com/avocado-framework/avocado/files/5136539/job.log)

[2020-08-27 14:15] clebergnu commented on #4116
`job.log` says that it used 737e1a80 instead... Just something that I
noticed that may be related to how you've set the testing wrt to the
Avocado version to be deployed by `make check-acceptance`.

On Thu, Aug 27, 2020 at 9:12 AM Willian Rampazzo <notifications@github.com>
wrote:

[2020-08-27 14:20] willianrampazzo commented on #4116
ouch, I forgot it will install Avocado in the venv and do not use my installation. I will retest it.

[2020-08-27 14:22] willianrampazzo commented on #4116
Actually, that is correct. I had setup requirements to use that commit before. Anyway, I'll test with the latest.

[2020-08-27 14:49] willianrampazzo commented on #4116
Better now:

[job.log](https://github.com/avocado-framework/avocado/files/5137068/job.log)

[2020-08-27 18:45] clebergnu opened #4150 "Avocado `jobs show` with a nrunner based runner"
Reproducer follows:

[code]

And crash log:

[code]

[2020-08-27 18:47] clebergnu commented on #4150
The same issue can be seem with:

[code]

Same crash log:

[code]

[2020-08-27 18:53] beraldoleal commented on #4150
@clebergnu, cant reproduce:

[code]

With master.

[2020-08-27 18:53] clebergnu commented on #4150
Weird... also on master.  Double checking here.

[2020-08-27 19:05] willianrampazzo commented on #4150
Also working here:

[code]

[2020-08-27 19:06] clebergnu commented on #4150
Something with some of my stale results files.  After a clean up, it's now working.

[2020-08-27 19:06] #4150 closed

[2020-08-27 19:17] willianrampazzo opened #4153 "[Bug] Avocado crash with TypeError"
With the following change on the time-sensitive job Avocado crashes:

[code]

Crash:

[code]

[2020-08-27 19:24] beraldoleal commented on #4153
@willianrampazzo can you try to create the Job also from_config ? `Job.from_config()` ?

[2020-08-27 19:29] willianrampazzo commented on #4153
Same crash:

[code]

Crash:

[code]

[2020-08-27 19:44] beraldoleal commented on #4153
@willianrampazzo PR #4154 is fixing this. The suite id is automatic because the `suite.name` is empty. We can change that with `TestSuite.from_config(config, name='foo')`.

[2020-08-27 19:50] willianrampazzo commented on #4153
PR #4154 is a workaround, right? It won't avoid users having the same problem.

[2020-08-27 19:54] beraldoleal commented on #4153
@willianrampazzo the exception was gone here. Are you getting any exception?

[2020-08-27 19:57] willianrampazzo commented on #4153
humm, I'm not following you. The exception was not in the test. With the fix on PR #4154, we are saying that every user should manually set a status server to run a test with nrunner in the Job API.

[2020-08-27 19:59] beraldoleal commented on #4153
HUm.. got it. of course. Yes. We need to fix on the root .

[2020-08-27 20:02] willianrampazzo commented on #4153
If setting the status server fixed the issue, maybe we are missing an early registration of its namespace.

[2020-08-27 20:26] beraldoleal commented on #4153
@willianrampazzo yes, but it is registering at `avocado/plugins/runner_nrunner.py:53`, probably something with the order. When importing from `core.job` and `core.suite` this Init was not called. Maybe we need to move this to the `register_core_options`... not sure.

Let's see what @clebergnu thinks here.

[2020-08-27 20:27] willianrampazzo commented on #4153
Okay, thanks for checking that!

[2020-08-27 21:04] pevogam commented on #3440
Hi @beraldoleal, I think you have achieved this conversion already and it remains to test for corner cases in the 82 LTS, thus you could close this if you want.

[2020-08-27 21:11] beraldoleal commented on #3440
@pevogam We still have a few options to migrate. And is one of the first things to do after lts.

[2020-08-27 21:12] pevogam commented on #3440
I see, alright then at least when it comes to the sysinfo problem I previously reported - all of it is fixed now.

[2020-08-27 21:39] #3695 closed

[2020-08-27 21:42] clebergnu opened #4157 "Tasks get empty status server uri when using the job API"
It should not be necessary to manually set a status server URI, such as in https://github.com/avocado-framework/avocado/pull/4154, given that it's registered.  It seems to be an issue about the settings registration and plugins.

[2020-08-27 21:52] #4153 closed

[2020-08-28 15:16] clebergnu opened #4160 "Test "elapsed time" for avocado-instrumented is broken"
Test "elapsed time" for `avocado-instrumented` is broken.

[code]

[2020-08-28 15:22] clebergnu opened #4161 "Frontpage Job API example is not runnable"
The example we have [here](https://github.com/avocado-framework/avocado#avocado-python-api) is nice pseudo code, but doesn't actually run.

This may give a bad first impression to users.

[2020-08-28 16:43] #4161 closed

[2020-08-31 15:17] anascko opened #4163 "The migration testing and vt-config file problems"
When trying to use the vt-config file and run migration tests seem avocado couldn't get params and testing fails with exeption:
10:10:55 ERROR| Reproduced traceback from: /usr/local/lib/python3.6/site-packages/avocado/core/test.py:750
10:10:55 ERROR| Traceback (most recent call last):
10:10:55 ERROR|   File "/usr/lib/python3.6/site-packages/avocado_vt/test.py", line 253, in setUp
10:10:55 ERROR|

[2020-08-31 15:28] beraldoleal commented on #4163
Hi @anascko can you also paste the command-line used, if possible?

[2020-08-31 17:08] clebergnu opened #4165 "avocado list --resolver doesn't show the reason of failed resolutions"
While the functionality of exposing the resolver was living inside the "avocado nlist" command, the reasons would be displayed on failed resolutions, such as:

[code]

This is very useful, and should be brought back.

[2020-08-31 18:40] anascko commented on #4163
@beraldoleal
Sorry, the command is:
avocado run --vt-config /var/lib/libvirt/images/avocado/avocado-vt/backends/qemu/cfg/ld_migrate.cfg --vt-guest-os "$GUEST_OS" --vt-arch "{guest-arch}" --vt-machine-type "{vt-machine}"

[2020-09-01 13:04] richtja commented on #4134
No change, everything works well

[2020-09-01 13:04] #4134 closed

[2020-09-01 15:34] richtja opened #4167 "SyncTest example not working"
This is what I'm getting when running `avocado run examples/tests/synctest.py`
[code]

[2020-09-01 15:45] clebergnu commented on #4167
I can confirm, it looks like there's a missing newline in the *produced* stdout:

[code]

[2020-09-01 17:09] #4160 closed

[2020-09-01 20:27] willianrampazzo commented on #4110
There are two entries using the `avocado.app.debug` logger. One in the `extension_manager.py` and one in the `output.py`. I think it is fine for now to let this logging stream available.

[2020-09-01 21:16] #4110 closed

[2020-09-02 11:45] beraldoleal commented on #4105
Ok, since we have already #81 released, I'm starting this review.

[2020-09-02 12:02] beraldoleal opened #4176 "legacy replay: failed to replay with test status FAIL"
Trying to follow our documentation examples, we have:

[code]

and when trying to replay:

[code]

[2020-09-02 12:08] beraldoleal opened #4177 "diff is failing: utf-8 codec cant decode byte"
First job:
[code]

Second job:
[code]

diff:

[code]

Log file content:

[code]

[2020-09-02 12:33] #4135 closed

[2020-09-02 12:35] #4114 closed

[2020-09-02 12:40] #4157 closed

[2020-09-02 12:45] beraldoleal commented on #4133
This was fixed already.

[2020-09-02 12:45] #4133 closed

[2020-09-02 12:46] beraldoleal commented on #4108
Filter by tags is working properly. Last issue was fixed here ##4133 133

[2020-09-02 12:46] #4108 closed

[2020-09-02 15:09] #4109 closed

[2020-09-02 16:26] beraldoleal opened #4181 "plugin fetchasset error: Attribute object has no attribute id"
[code]

[2020-09-02 17:06] beraldoleal commented on #4112
I tested all scripts there, and they are working properly. Only two that are not working:

 1. modify_variables.py: That was fixed by #4182
 2. synctest.py: we have already an open issue for this (#4167)

Since, we have the pr/ssues open, I'm closing this.

[2020-09-02 17:06] #4112 closed

[2020-09-02 17:08] #4107 closed

[2020-09-02 17:36] #4106 closed

[2020-09-02 17:42] beraldoleal commented on #4111
afaik, nothing has changed here.

[2020-09-02 17:42] #4111 closed

[2020-09-02 18:27] willianrampazzo commented on #4116
Tested again with the latest commit (as of now - https://github.com/avocado-framework/avocado/commit/9743353d8dfaedacb324fce06f02fedea725779e). So far, so good:

file:///home/wrampazz/src/qemu/qemu.dev/build/tests/results/latest/job.log

[2020-09-02 19:22] #4181 closed

[2020-09-02 20:00] willianrampazzo commented on #4177
It crashes when it tries to read `sysinfo/post/journalctl.gz` as a text file.

[2020-09-02 20:07] willianrampazzo commented on #4176
As we are deprecating the legacy `replay`, I think we can update the documentation to use the new `replay` subcommand for now. Although it does not support the `--replay-test-status` parameter yet, we won't spend efforts fixing something that will not exist soon.

[2020-09-02 20:18] willianrampazzo commented on #4167
Interesting, the `stdout` on Avocado is ignoring the new lines:

[code]

I also confirm the new lines are in the source code of synctest.

[2020-09-02 20:28] willianrampazzo commented on #4167
Yep, that is it, Avocado is ignoring the new lines on stdout:

[code]

[2020-09-02 20:42] willianrampazzo opened #4185 "Unknown option -V on avocado list"
While listing an invalid reference, the error message says to use `-V` parameter to see the details:

[code]

But, `-V` option is not valid for `avocado list`:

[code]

[2020-09-02 20:43] clebergnu commented on #4185
We switched to the global verbose option.  It should be `avocado --verbose|-V list ...`

[2020-09-02 20:44] willianrampazzo commented on #4185
Nice, just a command documentation change here! Thanks, @clebergnu, I'll submit a PR.

[2020-09-02 20:54] beraldoleal commented on #4176
I'm ok with that. @clebergnu what do you think here? Do we need to keep the legacy replay on the LTS release?

[2020-09-02 21:11] beraldoleal commented on #4167
I might have found a solution... let's see.

[2020-09-02 21:16] beraldoleal commented on #4167
@willianrampazzo @clebergnu @richtja I submitted a patch (#4187). Let's see.

[2020-09-02 21:24] clebergnu commented on #4176
I think this is fixed here: https://github.com/avocado-framework/avocado/pull/4188

[2020-09-02 22:11] #4176 closed

[2020-09-02 22:14] #4185 closed

[2020-09-03 11:01] pevogam commented on #4103
Hi @clebergnu, from a two-day long large scale test run covering various corner cases so far I have only obtained one error:

![image](https://user-images.githubusercontent.com/1969979/92106977-c5d00d80-eded-11ea-9486-f5aca9572322.png)

If I however check if the option is enabled, I get positive feedback:
[code]
Should I open an issue about this or do you think there is something quick I am missin

[2020-09-03 18:16] willianrampazzo opened #4189 "Docs Contributor's Guide: Review section "Brief introduction""

[2020-09-03 18:16] willianrampazzo opened #4190 "Docs Contributor's Guide: Review section "How can I contribute?""

[2020-09-03 18:17] willianrampazzo opened #4191 "Docs Contributor's Guide: Review section "Development environment""

[2020-09-03 18:18] willianrampazzo opened #4192 "Docs Contributor's Guide: Review section "Style guides""

[2020-09-03 18:18] willianrampazzo opened #4193 "Docs Contributor's Guide: Review section "Writing an Avocado plugin""

[2020-09-03 18:20] willianrampazzo opened #4194 "Docs Contributor's Guide: Review section "The nrunner and runner test runners""

[2020-09-03 18:20] willianrampazzo opened #4195 "Docs Contributor's Guide: Review section "Implementing other result formats""

[2020-09-03 18:21] willianrampazzo opened #4196 "Docs Contributor's Guide: Review section "Request for Comments (RFCs)""

[2020-09-03 18:22] willianrampazzo opened #4197 "Docs Contributor's Guide: Review section "Releasing Avocado""

[2020-09-03 18:23] willianrampazzo opened #4198 "Docs Contributor's Guide: Review section "Avocado development tips""

[2020-09-03 18:23] willianrampazzo opened #4199 "Docs Contributor's Guide: Review section "Contact information""

[2020-09-03 19:02] willianrampazzo commented on #4198
I don't have Eclipse installed, so I'm leaving the section "Remote debug with Eclipse" as is.

[2020-09-03 20:36] willianrampazzo commented on #4197
So far so good!

[2020-09-03 20:36] #4197 closed

[2020-09-03 20:40] willianrampazzo commented on #4196
This section is missing most of the content. IMHO, now is not the time to fulfill this section as it does not impact the LTS release.

I'm closing this issue. Feel free to reopen in any case.

[2020-09-03 20:40] #4196 closed

[2020-09-03 20:51] willianrampazzo commented on #4189
So far so good!

[2020-09-03 20:51] #4189 closed

[2020-09-04 07:39] richtja commented on #4196
@willianrampazzo I can't find the issue about fulfilling this section, maybe we should create one to not forget about it after LTS.

[2020-09-04 11:43] #4198 closed

[2020-09-04 11:44] #4199 closed

[2020-09-04 11:55] beraldoleal commented on #4140
AFAICT, no changes here.

[2020-09-04 11:55] #4140 closed

[2020-09-04 11:57] beraldoleal commented on #4139
We could improve this page, but IMO we could do this after LTS. AFAICT nothing has changed here.

[2020-09-04 11:57] #4139 closed

[2020-09-04 13:03] beraldoleal opened #4203 "self.params is not being populated"
If we have a simple test `/tmp/test.py`:
[code]

And execute Avocado with parameters:

[code]

foo bar parameters is not present in `self.params`:

[code]

[2020-09-04 13:07] beraldoleal commented on #4137
I new issue was found #4203 , but besides that #4204 will close this issue here.

[2020-09-04 13:15] willianrampazzo opened #4205 "Documentation: Complete the "Request for Comments" section on Avocado Contributor's Guide"
Right now the section has just place holder for future improvement:

https://avocado-framework.readthedocs.io/en/latest/guides/contributor/chapters/rfc.html

[2020-09-04 13:16] willianrampazzo commented on #4196
@richtja good idea, done! https://github.com/avocado-framework/avocado/issues/4205

[2020-09-04 13:25] beraldoleal commented on #4113
Fixed with #4184

[2020-09-04 13:25] #4113 closed

[2020-09-04 13:28] beraldoleal commented on #4138
I don't know if it was a lack of coffee or something, but we don't have this section. Closing this.

[2020-09-04 13:28] #4138 closed

[2020-09-04 13:34] #4137 closed

[2020-09-04 13:38] beraldoleal commented on #4192
We can improve this a lot, of course. But IMO this is not the time. We could do this after LTS. AFAICT, this documentation effort is only to find errors for LTS.

I'm closing this, but please feel free to reopen this issue.

[2020-09-04 13:38] #4192 closed

[2020-09-04 13:39] beraldoleal commented on #4191
We can improve this a lot, of course. But IMO this is not the time. We could do this after LTS. AFAICT, this documentation effort is only to find errors for LTS.

I'm closing this, but please feel free to reopen this issue.

[2020-09-04 13:39] #4191 closed

[2020-09-04 13:40] beraldoleal commented on #4190
We can improve this a lot, of course. But IMO this is not the time. We could do this after LTS. AFAICT, this documentation effort is only to find errors for LTS.

I'm closing this, but please feel free to reopen this issue.

[2020-09-04 13:40] #4190 closed

[2020-09-04 14:10] #4105 closed

[2020-09-04 14:11] #4195 closed

[2020-09-04 14:23] beraldoleal commented on #4193
This section was improved a few weeks ago, I did a review here and afaict nothing has changed here.

[2020-09-04 14:23] #4193 closed

[2020-09-04 14:25] #4136 closed

[2020-09-04 14:26] #4124 closed

[2020-09-08 10:31] richtja commented on #4203
Hi @beraldoleal, I was looking at it and everything works well. I think that we don't have a method for printing list of all parameters so you can't test existing parameters like this.

There is a bug you should be using `self.log.info("PARAMS: %s", self.params)`

This log message is not generated by your code

[2020-09-08 12:34] beraldoleal commented on #4203
Hi @richtja nice catch. I was using log as print. My bad. :/ Thanks , thats true.

[2020-09-08 12:34] #4203 closed

[2020-09-08 15:17] clebergnu commented on #4103
Yes @pevogam, please do open an issue.  I think I know what's the cause here, but we can discuss it better in a proper issue.

[2020-09-08 15:20] pevogam opened #4208 "Recent testing of the LTS 82 candidate shows that sysinfo is no longer triggered"
From a two-day long large scale test run covering various corner cases of the current LTS 82.0 candidate so far I have obtained the error:

![image](https://user-images.githubusercontent.com/1969979/92106977-c5d00d80-eded-11ea-9486-f5aca9572322.png)

If however I check if the option is enabled, I get positive feedback:
[code]

Checking the results path for the collected sysinfo files also shows it

[2020-09-08 15:21] pevogam commented on #4208
This testing process is part of #4103.

[2020-09-08 19:53] beraldoleal opened #4210 "Decide a better (or review the current one) approach for test.id"
Today we have a `TestID()` class that was very well discussed in the past and has its own heuristic to create a consistent test.id.

With the introduction of TestSuites() we need to identify the test by the suite which belongs also to avoid collisions. So we are pre-pending, the suite.name on HumanOutput when we have multiple Test Suites.

We should make this as clear as possible for our users and

[2020-09-09 15:01] #4167 closed

[2020-09-09 15:10] #4038 closed

[2020-09-09 15:19] clebergnu commented on #4208
@pevogam can you confirm that `/usr/lib/python3.8/site-packages/avocado/etc/avocado/sysinfo/commands` and similar files exist and have content?  I'm trying to understand if this is an installation related bug or not.  On my development environment, it's working fine.

[2020-09-09 15:27] clebergnu commented on #4208
Now, on a container, I get:

[code]

And:

[code]

In summary, I can not reproduce this so far.

[2020-09-09 16:01] clebergnu commented on #4208
@beraldoleal @willianrampazzo @richtja can any (or some) of you also try to reproduce this, please?

[2020-09-09 16:17] richtja commented on #4208
I also tried that and have the same results as @clebergnu, can't reproduce it either.

[2020-09-09 16:41] willianrampazzo commented on #4208
Can't reproduce either!

[2020-09-09 16:58] richtja opened #4222 "status_journal_summary should be queue"
In class `StatusRepo` we have list `_status_journal_summary` for storing global journal of status updates. And we are dealing with this list as a queue which is not efficient and we should change this representation for something better.

[2020-09-09 17:40] pevogam commented on #4208
Hi @clebergnu, I just rebased on the most recent master and no longer encounter this. I encountered it on 49922841ea70dbbb3d48141c578de8edd1c0ad3e when I last tested (last week) but I guess it is not worth the extra investigation. I will continue my testing on the master branch now. Thanks for checking this!

[2020-09-09 17:44] pevogam commented on #4210
Thanks for the write-up!

I thinks this is optimal but let's see what the others say in the future.

I would drop this because it adds the assumption that each test should be associated with a file and a path in particular which is not the case for many varianter-generated tests.

This also sounds very good.

[2020-09-09 18:04] #4102 closed

[2020-09-09 18:09] clebergnu commented on #4177
Fixed by #4224

[2020-09-09 18:09] #4177 closed

[2020-09-09 18:23] #4083 closed

[2020-09-09 19:01] willianrampazzo commented on #4116
Latest test (https://github.com/avocado-framework/avocado/commit/1a8f61a0dc5568568a906f4ce0b6f5b186d0a04b). Still good:

[job.log](https://github.com/avocado-framework/avocado/files/5197469/job.log)

[2020-09-09 19:36] #4165 closed

[2020-09-09 20:05] beraldoleal opened #4228 "distutils depreaction"
https://www.python.org/dev/peps/pep-0632/

We have one module using this: `avocado.utils.kernel`.

[2020-09-09 20:11] clebergnu commented on #4115
A bootstrap/list/dry-run on Cirrus CI with Avocado adff4c6578c6c127cbc39b4eb7849fa20aa01a8d can be seen [here](https://cirrus-ci.com/build/5562944157122560)

[2020-09-09 20:31] clebergnu commented on #4115
QEMU based:

* Avocado-VT (adff4c6578c6c127cbc39b4eb7849fa20aa01a8d)
* Avocado (2a0c9ec)
* tp-qemu (fe2d4539e8eccf7dd5ffcebbf35c33e5458a5438)
[code]

[2020-09-09 20:54] clebergnu commented on #4115
Libvirt based:

* Avocado-VT (adff4c6578c6c127cbc39b4eb7849fa20aa01a8d)
* Avocado (2a0c9ec)
* tp-libvirt (46749368f3da1084f52eb9560cae4ecc6e2f2a9c)

[code]

[job.log](https://github.com/avocado-framework/avocado/files/5197911/job.log)

[2020-09-09 20:54] clebergnu commented on #4115
Closing this as testing has been successful.

[2020-09-09 20:54] #4115 closed

[2020-09-09 20:55] clebergnu commented on #4117
@PraveenPenguin have you seen any regressions? There are no known bugs to be fixed before the LTS release, so now would be a good time to test with Avocado 2a0c9ecfca4ec962fb41d775d2d0c0c3be966bcc.

[2020-09-09 20:56] clebergnu commented on #4116
@willianrampazzo maybe one final run with Avocado 2a0c9ecfca4ec962fb41d775d2d0c0c3be966bcc and then we can consider this done.

[2020-09-09 20:57] clebergnu commented on #4052
Moving this to sprint 83.

[2020-09-09 20:57] willianrampazzo commented on #4116
Sure! Starting it.

[2020-09-09 21:34] willianrampazzo commented on #4116
So far, so good. Closing this issue.

[job.log](https://github.com/avocado-framework/avocado/files/5198062/job.log)

[2020-09-09 21:34] #4116 closed

[2020-09-09 21:44] clebergnu commented on #4117
For "sport" I tried running some of the misc-tests.  Here's `memory/memcached.py`, run with `avocado --show=test run -m memcached.py.data/memcached.yaml -- memcached.py`.
[job.log](https://github.com/avocado-framework/avocado/files/5198093/job.log)

Which resulted in (TAP output):
[code]

[2020-09-10 05:40] PraveenPenguin commented on #4117
@clebergnu sure I will try and update in some time

[2020-09-10 11:50] beraldoleal commented on #4130
I have created one big document with the merged one at the top and a copy of previous releases following this merged.

https://docs.google.com/document/d/1ggMlnHIcgsNTvx-ARz0FaatZljt40uJog71LAJWLesg/edit?usp=sharing

Please, let me know if this will work or if we should split.

[2020-09-10 15:04] clebergnu opened #4230 "Validate / document upgrade from 69.x to 82.0"
The goal of this issue is to compile information to create a documentation such as the following section:

https://avocado-framework.readthedocs.io/en/81.0/releases/lts/69_0.html#upgrading-installations

[2020-09-10 15:13] clebergnu opened #4231 "Validate / document Test API changes from 69.x to 82.0"
The goal here is to produce something like:

https://avocado-framework.readthedocs.io/en/81.0/releases/lts/69_0.html#porting-tests-test-api-compatibility

One approach would be to check out the `examples/tests` folder from the 69lts branch, and attempt to run them with the latest and greatest Avocado.

[2020-09-10 15:15] pevogam commented on #4130
I have noticed the following being displayed on the GitHub page of the project:

![image](https://user-images.githubusercontent.com/1969979/92752357-8aa38080-f391-11ea-9c18-78d951f31789.png)

Does this make sure that it is updated to something more recent version there? Perhaps it could at least be updated with the latest release?

[2020-09-10 17:26] beraldoleal commented on #4130
I will guess that a simple tag will not be detected in GitHub as a release. I guess we need to create a proper release (or pre-release) with the GH interface.

[2020-09-10 18:06] beraldoleal commented on #4231
Hi @clebergnu , afaict, I have found a few issues:

1. we removed the implicity module import `main` from `avocado` and now is part of `avocado.core` only;

  I guess that this is a good thing, otherwise will have the main import even when we don't need it;

2. Some TypeErrors when using the `utils/gdb`, here is one example:

[code]
3. An error with synctest:

[code]

Besides that, we are good.

[2020-09-10 19:21] pevogam commented on #4130
Alright, at the very least it is good letting you know how the GitHub web page looks at the moment for pure awareness reasons.

[2020-09-10 20:05] clebergnu commented on #4231
So I guess only item 1 would impact test writers, and deserve attention.  The migration instructions would be to drop the main import unless really needed, and if needed, resort to the Job API instead. See `examples/jobs/passjob_with_test.py`.

[2020-09-10 22:51] clebergnu commented on #4117
@PraveenPenguin we'll be tagging Avocado 82.0 LTS tomorrow, so please let us know ASAP if you've found any blocked while running any of the misc-tests. Thanks!

[2020-09-10 22:52] #4230 closed

[2020-09-11 05:22] PraveenPenguin commented on #4117
@clebergnu I ran major of test case expect   IO test cases seems me good, will update you more on this

[2020-09-11 12:26] beraldoleal commented on #4231
@clebergnu, I'm closing this then. Please, feel free to reopen.

[2020-09-11 12:26] #4231 closed

[2020-09-11 14:08] clebergnu commented on #4117
Hi @PraveenPenguin thanks for your efforts here! I believe the testing done is sufficient to cover the goal of this card, so I'm closing this as a result of the successful testing.  Thanks a lot!

[2020-09-11 14:08] #4117 closed

[2020-09-11 14:08] clebergnu commented on #4103
All children issues are resolved, closing this epic.

[2020-09-11 14:08] #4103 closed

[2020-09-11 14:12] pevogam commented on #4103
Hi @clebergnu, there are some current errors with Avocado VT that I just described in

https://github.com/avocado-framework/avocado-vt/pull/2758

that I am hoping we can resolve on the Avocado VT side.

[2020-09-11 19:45] clebergnu commented on #4130
And both release notes document have been finalized... 82.0 is coming VERY SOON!

[2020-09-11 19:45] #4130 closed

[2020-09-12 15:38] sathnaga opened #4235 "Avocado crashed during vt-bootstrap in python3.8"
Latest versions of avocado, avocado-vt

avocado and avocado-vt installed using below steps as avocado-vt is not yet tagged for 82.0 used a HEAD-1 for avocado to force install 81.0
[code]

avocado vt-bootstrap
[code]

the same versions of avocado, avocado-vt work fine in python3.9 environment, is this anything to do with specific python version?

[2020-09-12 16:02] sathnaga commented on #4235
looks like the issue is due to avocado-vt plugin installation is not populating `/usr/share/avocado-plugins-vt` in below environment
[code]

[2020-09-12 16:03] sathnaga commented on #4235
same works fine other 3.7, 3.9.0rc1 envs

[code]

[2020-09-15 11:55] pevogam commented on #4130
Happy to see this on the GitHub page!:

![image](https://user-images.githubusercontent.com/1969979/93207277-6960dc80-f763-11ea-9c83-e1d8664603d7.png)

[2020-09-17 02:33] t0xic0der commented on #4228
Hi @beraldoleal,

To address this issue, one has to replace `distutils` functionalities with any other viable alternatives like `sys`, `os` etc. right?

[2020-09-17 02:36] t0xic0der commented on #3565
To address this, we need to find the occurrences of duration calculation and rework them with `time.monotonic()`, right? (If so, I can refer to @clebergnu's recent merge on this issue to begin with but should I make PRs per change or PR for the whole if assigned to?)

[2020-09-17 10:40] beraldoleal commented on #4228
Hi @t0xic0der, Actually we need to replace `distutils` call with `setuptools`.

[2020-09-17 10:42] beraldoleal commented on #3565
@t0xic0der yes, we are replacing it with `time.monotonic()`. Ideally, we prefer small PR so will be easier for review and acceptance.

[2020-09-17 11:54] t0xic0der commented on #3565
Great. I think I would be able to do this. Could you assign this to me?

(By small PR, do you mean one PR per module change?)

[2020-09-17 11:59] beraldoleal commented on #3565
Yes, I do think so. Maybe you will find out that in order to change something in a specific module you need to also change in other places. Not sure.

[2020-09-17 12:00] t0xic0der commented on #3565
Alright, if I discover so (and if I have any more questions regarding such recurrent change) - I'd ask here.

[2020-09-17 12:04] t0xic0der commented on #4228
Makes sense. Small PRs for this too?

[2020-09-17 14:29] clebergnu commented on #4235
@sathnaga thanks for reporting this, I'll take a look and try to reproduce it.

[2020-09-17 16:58] beraldoleal commented on #4228
This one will be small.

[2020-09-18 16:21] pevogam opened #4244 "Support for progressing output in the `process.run` function"
I have a developer colleague that told me he cannot use the function:

https://github.com/avocado-framework/avocado/blob/704dc9ee59f382eb157221b012d05cb255d4b7c7/avocado/utils/process.py#L972

despite it being the standard function for commands on the hosts in avocado. The reason he reported was that the command he runs in code is "qemu-img convert", which will output the progress of the conversio

[2020-09-18 18:06] willianrampazzo commented on #4244
Hi @pevogam, I did a quick test here, and it seems to be working without problems.

Here is the test example I used:

[code]

And here is an excerpt from the `job.log` file:

[code]

The percentages will show up as `DEBUG` messages.

I can also tell the logger to add it as `INFO`:

[code]

Then, I see at the end of `job.log` the following:

[code]

Do you have more details about the test your coll

[2020-09-18 18:38] willianrampazzo commented on #4235
I could not reproduce it on:

[code]

[2020-09-18 19:59] pevogam commented on #4235
I get the same problem in Travis CI of the Avocado I2N plugin:
[code]

[2020-09-18 20:01] pevogam commented on #4244
Thanks a low @willianrampazzo! I will compare this with our cases.

[2020-09-18 20:25] willianrampazzo commented on #4235
@pevogam I think your error messages are not related to the problem reported by @sathnaga.

[2020-09-19 12:51] pevogam commented on #4235
@willianrampazzo The error I get is recent and has the same error message so it is reasonable to believe it is related but I could be wrong.

[2020-09-20 02:22] t0xic0der commented on #4228
Hi @beraldoleal, you can assign this to me. One of the issues I am working on (#3565) is halfway done as of now.

[2020-09-21 08:16] sathnaga commented on #4235
it is the same issue @pevogam @willianrampazzo

[2020-09-21 09:20] sathnaga commented on #4235
able to recreate in f33 version aswell, cleanup the environment
[code]

Steps to recreate:
[code]

[2020-09-21 10:21] sathnaga commented on #4235
@pevogam tried to fix it via, avocado-framework/avocado-vt#2769, feel free to try in your environment and check if it fixes, thanks!

@clebergnu @willianrampazzo fyi...

[2020-09-21 11:36] willianrampazzo commented on #4235
I was able to reproduce this error message.

But I cannot reproduce this error message. That is why I mentioned I don't think they are related.

[2020-09-21 13:09] sathnaga commented on #4235
ah, okies, actually this is not an issue, you would see this very first time you do vt-bootstrap...

this is actual issue we are discussing about and @pevogam error message also had this issue.

[2020-09-22 02:18] samiraguiar commented on #4244
@willianrampazzo thanks for the quick reply. I'll try to detail the problem I was facing as initially described by my colleague @pevogam. After digging a bit I believe I've managed to understand the issue better and I can hopefully provide more context.

Although `process.run` does send the output of the process to the logs, in my tests when the underlying process buffers the output (e.g. libc whe

[2020-09-22 07:12] PaulYuuu commented on #4163
Hello @anascko, logs should be about avocado-vt, do you still encounter this problem?
If yes, can you try to execute following commands on your host and provide results?

[code]

[2020-09-22 10:39] richtja opened #4246 "Automated testing of examples in the documentation"
Before the LTS release, we spent a lot of time testing and fixing the documentation examples to make them compatible with changes in the avocado code. Because of that, we should create automated tests for checking the compatibility between documentation and code. This issue should bring a discussion about what will be the best solution to fo this problem. Here are some possible solutions:

- Use s

[2020-09-22 13:42] pevogam commented on #4208
The issue reemerged in a different environment and I think I found it:
[code]
So as it turns out the default values set for sysinfo collectibles are all prepended with "etc/avocado/sysinfo/" while the RPM installs these in `/etc/avocado/sysinfo`:
[code]
Before the `avocado.conf` used to be corrected for this but the line responsible was removed in 768455c3e276e86dd5155298857a063951ea7dd6:
[code]
S

[2020-09-22 13:59] willianrampazzo commented on #4246
I was thinking when this problem appeared, before the LTS release, can't we import the tests from `examples/` dir? Then, we test only once, and the user will have the test ready to run when they want.

If this is possible, but we find that many examples are not in the directory right now, we can create something like `examples/docs` and reference that as the examples from our documentation.

Just

[2020-09-22 14:55] beraldoleal opened #4247 "Create a BP000"
We are using Blueprints for a while but we need a BP000 that will describe the BP concept and usages and serves as a guideline for new blueprints.

[2020-09-23 08:30] richtja commented on #4246
@willianrampazzo Thanks for the reply, because this is exactly what I mean by the third option; maybe I didn't express myself clearly.

Here I can see a problem that we have to import all those examples into rst documentation, and I think that won't be easy to maintain in the future.  But maybe I am wrong.

[2020-09-23 17:17] willianrampazzo commented on #4246
Okay, got it!

I think keeping the tests in one place and test them will make things easy for the users and us whether this is on the `examples` directory or into the documentation.

The idea to use the tests from the `examples` directory is to have the documentation examples ready to be executed and avoid the copy/paste from the documentation to a test file and then running on the user side.

Thi

[2020-09-24 06:16] t0xic0der commented on #4228
Please look into #4248.

[2020-09-30 10:04] pevogam commented on #4247
I think describing the concepts of blueprints is the perfect topic for a BP000. I have already had some colleagues asking me what is meant by "blueprints" in avocado. It is also useful to clarify if blueprints are supposed to propose new features, new contribution guidelines or new changes under discussion in general and this should be differentiated with a contribution guideline document.

[2020-09-30 11:35] beraldoleal commented on #4247
Yes, it was totally my fault, because we were discussing blueprint during the meetings and I introduced the BP001 without the BP000.

The first draft is almost ready for a PR.

[2020-10-03 09:08] Darshnadas commented on #3565
Is this issue still open? I am a newbie looking for some easy contributions to get started. I would like to work on it too!

[2020-10-05 20:51] willianrampazzo opened #4255 "[NRunner] State machine do not detect test abort."
The NRunner state machine is not detecting an aborted test to finish its execution.

Steps to reproduce:

```avocado run --test-runner=nrunner examples/tests/abort.py```

The expected behavior is Avocado finishing after some seconds, but Avocado keeps executing and never ends:

[code]

[2020-10-06 16:01] richtja commented on #4246
Ok, we both agree on this. I will start working on it if  @clebergnu or @beraldoleal don't have any comments on this.

[2020-10-06 17:35] willianrampazzo commented on #4255
One more detail I noticed. If I do a small change to the test and sleep for 3 seconds, the legacy runner will consider the `timeout` attribute. The next runner is not considering that.

Example:

[code]

The second run should also have been interrupted.

And maybe, this should be a separate issue?

[2020-10-06 17:43] clebergnu commented on #4255
Yes @willianrampazzo the timeout support is certainly a separate issue.

[2020-10-06 17:47] willianrampazzo commented on #4255
Okay, thanks, I can think that it is still not supported, and not necessarily a bug. I'll open a new issue.

[2020-10-06 17:49] willianrampazzo opened #4257 "[NRunner] Add support to timeout class attribute."
The legacy runner will consider the `timeout` class attribute while running tests. The next runner is not considering that.

Example:

[code]

The second run should also have been interrupted.

[2020-10-06 18:15] clebergnu opened #4258 "avocado.utils.gdb.GDBRemote: introduce utility methods for commonly used commands"
Some commands, such as `s` (step), `c` (continue), and several others are very commonly used.  There may be a benefit in having utility methods that employ a common behavior, and return a parsed version of their respective reply packets.

Reference: https://lists.gnu.org/archive/html/qemu-devel/2020-10/msg01435.html

[2020-10-08 13:21] richtja commented on #4255
@clebergnu, @willianrampazzo I did some testing here and  I think that these two issues are connected.

When I run the legacy runner without timeout the runtime is 10 seconds which is the default timeout for dead processes. If I delete this default timeout the legacy runner behaves same as nrunner.  I think that the problem is that the nrunner doesn't have default timeouts.

[code]

[2020-10-08 19:45] willianrampazzo opened #4263 "[Software-Manager] Cannot find `sudo` in PATH but it is available."
While running `avocado-software-manager`, it complains about not finding the `sudo` command in any of the `PATH` dirs, but it is available in one of them.

[code]

[2020-10-08 20:02] willianrampazzo commented on #4263
I have not investigated deeper, but the problem may be here https://github.com/avocado-framework/avocado/blob/master/avocado/utils/path.py#L77

[code]

[2020-10-08 20:23] clebergnu commented on #4263
If your system is like mine, the following check on `find_command()` will fail for `/usr/bin/sudo`:

[code]

[2020-10-08 21:23] willianrampazzo commented on #4263
Yep, that is it:

[code]

[2020-10-09 14:01] beraldoleal opened #4265 "Test is skipped when using nrunner and status_server_uri"
[code]

[2020-10-09 14:10] willianrampazzo commented on #4265
Maybe you already have the port in use. It runs without problems here:

[code]

[2020-10-09 14:46] beraldoleal commented on #4265
Nope. There are no sockets listening on this port. I tested with other ports too.

[2020-10-09 15:08] willianrampazzo commented on #4265
Interesting. What do you have on your test? You are using a venv, right? I'll try to reproduce here.

[2020-10-09 15:42] clebergnu opened #4266 "Show test logs on conditions"
When running tests on certain scenarios, such as on CI environments, it's usually not a good idea to pollute the output with very verbose output.  On the other hand, when failures occurs, the only debugging aid is many times printing out the entire test log.

The proposal here is to print test logs only on certain conditions, defaulting to test failures.

A summary of the behavior can be thought o

[2020-10-09 16:07] beraldoleal commented on #4265
It was something with my env. For some reason, after a clean and make develop it is working. Thanks @willianrampazzo

[2020-10-09 16:07] #4265 closed

[2020-10-09 20:46] clebergnu commented on #4266
I think this last bit puts us on the same boat. My proposal is that the user would have to *request* such a feature to be enabled, that is, something like `--show-test-logs-on=FAIL,ERROR,INTERRUPTED` would only be set in a CI environment where there's no other way for the user to look at logs.

The location of the output (before the total final job outcome, right after each test, etc) is not somet

[2020-10-09 20:49] pevogam commented on #4266
Definitely on the same :boat: now. I wish there was a more standard and mainstream way to deal with such CI restrictions since many projects in many different languages have the same problems of hard debugging due to lack of access to the logs. I guess such an option could help for this here but this remains a local solution to a global problem.

[2020-10-09 20:59] clebergnu commented on #4266
This is certainly an widespread problem.  We're starting to think and plan solutions, though.  BTW, @beraldoleal will hold a meeting next Tuesday to brainstorm around the current situation of status and result services/servers in Avocado... One of the use cases is being able to push Avocado results to servers where you can inspect the outcome, compare results, etc.  If you're interested, we can ce

[2020-10-09 21:19] pevogam commented on #4266
It is actually a good idea that Avocado as a test framework is thinking of addressing this since it will be able to solve it for everyone using it in a CI at least to some extend.

Definitely interested and this makes me wonder what happened to the usual meetings happening on each release? Some of the email discussions we started can also be clarified at least to some extend in such brainstorming

[2020-10-12 10:17] Dahaka934 opened #4268 "Tags are not taken from the Test class"
Tags are taken only from the current class instead of a real Test class.
Example:
[code]
I expect to be able to get `self.tags['key']` in my `test_my_test` function, but dict` self.tags` is empty.

[2020-10-13 14:35] beraldoleal opened #4269 "status server uri should be different from listen"
nrunner.status_server_uri should not be used to both, server and client. We should have different settings for configuring the client.

[2020-10-13 14:44] #4263 closed

[2020-10-14 03:35] tiagohonorato commented on #3468
@beraldoleal and @willianrampazzo can I help with the migration to importlib?

[2020-10-14 08:13] richtja commented on #3468
@tiagohonorato Yes no problem, I will assign it to you.

[2020-10-14 14:20] beraldoleal commented on #3468
@tiagohonorato, thanks for helping here. Very much appreciated.

Just one side note: Looks like today we are using `imp` only inside `loader.py` and `safeloader.py`, as mentioned by @willianrampazzo . And since we are planning to remove the legacy runner, not sure if is worthed.

But, again, I'm not 100% sure here. @clebergnu can you confirm this, please?

[2020-10-14 15:55] clebergnu commented on #3468
`safeloader` will remain, it's used in the resolvers too.  So, at least that part, is definitely worth it.

[2020-10-20 19:12] willianrampazzo opened #4273 "[RFC] avocado-software-manager always return 0"
Opening this issue as an RFC to discuss the current behavior of `avocado-software-manager` as it may become a future item to be worked on.

When running `avocado-software-manager`, the exit code will always be `0`, independent of possible errors:

Success command:
[code]

Failed commands:
[code]

I was expecting `avocado-software-manager` to exit with the same `exitcode` as the command it internal

[2020-10-20 19:37] clebergnu commented on #4273
I'd go with sharing, where applicable, the exit codes defined in `avocado.core.exit_codes`.  I don't think the underlying utilities exit codes are useful, given that this is actually supposed to be a generic interface that hides the underlying backends.

[2020-10-20 20:09] willianrampazzo commented on #4273
Okay, I agree that the exit code does not need to match the utility exit code. Returning something defined on `avocado.core.exit_codes` is more than enough.

[2020-10-20 21:33] beraldoleal commented on #4273
+1

[2020-10-21 10:24] richtja opened #4274 "Job API run.external_runner not working"
with command line no problem :

[code]
Job API not working:

[code]

[code]

[2020-10-21 18:43] willianrampazzo commented on #4274
Regarding the use of the `external-runner`. Using a reference as an argument to the external runner while trying to execute `avocado run` works in the command-line, but I feel it is counterintuitive. IMHO, a reference should be something tangible and not an argument for another test executor. I would like to hear other opinions here.

Another situation I found is related to the reference resolutio

[2020-10-22 07:56] richtja commented on #4274
In this, I don't see a problem. I understand the reference as an argument passed to the `runner` and it doesn't matter if it's a path or number or string, if the runner understands it. And if change this behavior, we have to solve how to pass parameters to `external runners` if it's needed.

@willianrampazzo Thanks for the investigation, I just create an issue and didn't investigate yet.

[2020-10-22 11:51] willianrampazzo commented on #4274
I thought this was the case. I did an initial investigation because I was curious about the behavior for different kinds of references.

Okay, I think `avocado-vt` also has a use case for references different than real files. Now that I thought more about it, I got the point, that's fine.

[2020-10-27 16:38] #4269 closed

[2020-10-28 19:57] #4273 closed

[2020-10-28 21:55] #4274 closed

[2020-10-29 02:52] tiagohonorato commented on #3470
Hi @willianrampazzo  and @nasirhm, I noticed that there are also some references to grandparent directory `...`:

[code]
Do you think those could be an issue in the future? If so, since `os.path` does not go beyond the parent directory, changing from `...` to `....utils` would avoid future compatibility issues?

[2020-10-29 12:30] willianrampazzo commented on #3470
The `utils` directory should be really self-contained. The more we avoid ambiguity and future problems, the better.

Changing those you listed will not hurt. Feel free to send a PR if you are willing to. We can have further discussion on it if needed.

[2020-11-03 17:55] tiagohonorato commented on #3470
@willianrampazzo, I think I misinterpreted your proposal to use `os.path.pardir` at first. The imports would not be affected by using `os.path`. Your suggestion is to replace the references to the string `'..'`, correct?

[2020-11-03 19:01] willianrampazzo commented on #3470
@tiagohonorato this issue was part of an effort to migrate from Trello. The original card does not say much too, the link is here: https://trello.com/c/CwOBc8q2/734-use-symbolic-ospathpardir-instead-of

If I read correctly, this issue was to find places in the code where there were mentions to `..` instead of using the `os` library. I don't think this issue relates to imports.

I did some greps (`

[2020-11-03 19:53] beraldoleal opened #4286 "Add support to custom skip exit codes for exec-test (ExecTestRunner)"
Today, `exec-test` type only accepts "pass" (when returncode == 0) and "fail" (when returncode != 0). We need to provide a configurable way to let users decide: "what is a skipped test"? So users should be able to configure the return codes for skip.

[2020-11-03 22:53] pevogam commented on #4205
This issue is related to #4262 where we clarify some differences between an RFC and a blueprint so I assume some text/meaning can be taken from there.

[2020-11-03 23:13] pevogam commented on #3950
Is this issue still truly open? I think we detected some troubles matching this description before releasing and fixed them already.

[2020-11-04 03:52] tiagohonorato commented on #3470
@willianrampazzo I totally agree with you, thanks for the explanation. I did some greps as well (indeed not fun, using `\` seems to do the trick though) and found the following:
[code]
From those, at first sight, I would say that maybe the first three would be potential candidates. I can take a closer look though.

Additionally, I also have found some occurrences referencing present directory as `

[2020-11-04 13:36] willianrampazzo commented on #3470
Okay, thank you, I'll leave it up to you to decide :)

Absolutely!

[2020-11-04 13:37] willianrampazzo commented on #3470
@tiagohonorato do you want me to assign this issue to you?

[2020-11-04 14:20] tiagohonorato commented on #3470
Sure, if @nasirhm is not willing to continue, I would be happy to help!

[2020-11-04 14:37] willianrampazzo commented on #3470
@tiagohonorato as it's being some time we heard from @nasirhm, I assigned it to you. This should be a simple task.

[2020-11-04 20:07] tiagohonorato commented on #3470
@willianrampazzo, would be preferable to send the alterations for `os.path.curdir` and `os.path.pardir` in the same PR (different commits) or different PRs?

[2020-11-04 20:13] willianrampazzo commented on #3470
You can use the same PR with different commits, no problem. Add a description to the PR explaining what you are changing and it should be good to go.

[2020-11-05 11:46] smruti77 opened #4290 "controlpath file is not removing if reboot is happen in middle of the test"
we already added in the test to exit the session after completing the test. if test is running fine we are not getting ERROR: Failed connecting issue. but sometime in between test any interruption happen or in middle of the test any reboot is happening than the controlpath file is not removing ,we are again facing ERROR: Failed connecting issue.

[2020-11-05 12:25] beraldoleal commented on #4290
Can you please provide more information ? What controlpath are you talking about? Can you describe a "how to reproduce" here?

[2020-11-05 12:45] beraldoleal opened #4291 "Do we really need all the avocado-runner-* sub-commands?"
To be honest, I'm opening this discussion, because I'm trying to find an good excuse to have all the sub-commands that we have, and probably I'm missing something.

Today we have a few commands starting with `avocado-runner-*`:

[code]

I undestand that we are trying to make the runners standalone applications and that is fine for now. But I would like to know if it is just me that find this follo

[2020-11-05 14:31] clebergnu commented on #4291
One of the reasons is that the Avocado job can find suitable runners *based* on the executable names.  Think about runners written in languages other than Python that will not register entry points, or have Python modules matching a certain name.

But, I've meant to simplify that use case, and remove that duplication for a long time.  This issue was the missing bit, so thanks! See: https://github.

[2020-11-05 14:41] beraldoleal commented on #4291
Thanks, @clebergnu , but I'm still not sure if adding a default 'kind' here will make this less confusing.

We will still have a lot of sub-commands like "avocado-runner-exec-test runnable-run". I'm still not sure if we need to expose this as a command line for our users.

[2020-11-05 14:45] willianrampazzo commented on #4291
I agree it may be confusing to have lots of `avocado-runner-*` commands. My personal preference would be one runner manager entry point dispatching the correct runner kind. After @clebergnu comment, I could think of one way of doing that: having the runners located in one single directory and the runner manager where the runners are located now. PR #4292 would still be valid, but we would not need

[2020-11-05 15:11] clebergnu commented on #4291
I don't think 0.01% of users will interact with those runners, do you? On the other hand, comparing to the previous runner, it's almost impossible to reproduce what the Avocado runner will effectively run, and the reason for having those interfaces is to be able to replicate that exactly.  This makes debugging much simpler.

OK, I think I get your point.  I like the apparent simplification, but, t

[2020-11-05 15:16] clebergnu commented on #4291
So what you're proposing is similar to `/usr/bin/git` and `/usr/libexec/git-core/*`.  It's kind of the reversed solution we currently have here.  The upside of our current approach is that a `avocado-runner-qemu-iotest` runner could live in the project's own source/build tree and "just work".

[2020-11-05 16:40] beraldoleal commented on #4291
That is my point. If they will not interact, why are we exposing this? I'm thinking as an end-user, and this is not good, this could be an entry barrier. If users will not need it, but when typing `avocado<TAB><TAB>` will make them curious about what this is. Getting the help for any of those commands will make not a good first impression, in my option.

We could try to separete better what is nee

[2020-11-05 17:28] clebergnu commented on #4291
The overall discussion is usability, but there are many different smaller topics.  The most important ones I can think of:

1. Pros/cons of exposing various "avocado-runner-" executables
2. Pros/cons of having a command line parser for avocado-runners

Those 0.01% of "Avocado users" interacting directly with "avocado-runner-*" will be those that are interested in integrating Avocado to their proje

[2020-11-05 17:41] willianrampazzo commented on #4291
The idea I was proposing does not change much of what we have now. It would remove the entry points and let the runner manager find it. We can always set the runner path with a parameter. This would be a mid-term between what we have now and what @beraldoleal is suggesting as I see one of his concerns is having lots of commands listed when typing `avocado-<TAB><TAB>`.

Moving the runners to a spec

[2020-11-05 18:12] beraldoleal commented on #4291
As an end-users I would like to have simple logic: "run this command/test", I don't need to understand how or if is a runnable or a task, users should don't care. Those are the users that I think we are loosing because of the complexity. We are forcing them to understand internal concepts just to have they tests running.

As a avocado contributor (or advanced user), if I would like to write my own

[2020-11-06 10:30] smruti77 commented on #4290
i am talking about ssh controlpath what is present in this directory, /root/.ssh
ex, avocado-master-root@121.1.1.88:22

[2020-11-06 17:51] pevogam commented on #4291
Just a quick chime in here on my "vanilla" side. As a not so advanced user that doesn't know all the blows and whistles of the Avocado command line, I can say I don't understand most of options listed by @beraldoleal when opening this issue :sweat_smile: Not sure if this is useful to anyone at all but just adding it here in case it is a super small form of feedback.

[2020-11-06 20:19] willianrampazzo commented on #3470
I think we are good here. Closing as the related PR was merged.

[2020-11-06 20:19] #3470 closed

[2020-11-06 20:21] willianrampazzo commented on #3468
Related PR was merged, so closing this. Thanks @tiagohonorato.

[2020-11-06 20:21] #3468 closed

[2020-11-09 01:55] chunfuwen opened #4298 "We may upgrade isort to fix inspekt issue under avocado-vt project"
When running inspekt under avocado-vt project,  the error "module 'isort' has no attribute 'SortImports'" occurred , but I check the dependence of avocad-vt ,there is no any dependence on isort, but avocado has dependence on isort under the file requirements-selftests.txt.
Therefore I suspend this is caused by isort under avocado.
Below are detailed logs
*******************************************

[2020-11-09 10:15] beraldoleal commented on #4298
Hi @chunfuwen , thanks for reporting this. I don't see any problem with updating our requirements since this is an issue with isort back compatibility. But IMO, this should be properly handled at inspector repo/project.

[2020-11-09 11:07] abdhaleegit commented on #4290
Hey @beraldoleal this is a similar one as discussed https://github.com/avocado-framework/avocado/issues/3810#issuecomment-645370367

We have a CI automation framework where in the same tests were run on multiple different kexec kernels and things are fine till here as each test is calling host.remote_session.quit() to cleanup master control path job and files ( a good path test)

At times we have

[2020-11-09 11:24] beraldoleal commented on #4290
Hi @abdhaleegit, thanks for the detailed report.

What is your suggestion?

Because the way I see this there is no much an "internal running software" could do here. Because all systems are exposed to some kind of kernel/system crash, specially on a "system stress test". Yes, we could add a try.. except, checking for this controlpath there, and if exists, we could remove it. But IMO this is not th

[2020-11-09 14:12] willianrampazzo commented on #4290
From @abdhaleegit comment:

I don't see how Avocado would keep the status before and after a possible crash. This is really a test specific issue and I also agree it should be handled on the test side.

[2020-11-11 15:48] tiagohonorato opened #4300 "Improve redability when acquiring parent directory path"
Maybe we could improve the readability on occasions where we obtain the parent path using:

[code]
Based on the discussion in #4289 and looking on how the `os.path` module is used in the project, one possible alternative could be:

[code]
The above is also used in `selftests/check_tmp_dirs`

[2020-11-11 17:05] willianrampazzo commented on #4300
Hi @tiagohonorato, thanks for bringing this discussion.

In fact, IMHO, if the final result is the same and it does not affect performance, which I don't think it does, I don't see a problem in changing that.

I think one point brought by @beraldoleal that is worth discussing is the import of the functions instead of the modules, just like on his example:

[code]

If we agree that it keeps the rea

[2020-11-11 19:31] beraldoleal commented on #4300
I agree with @willianrampazzo , we can keep like that. But if you would like to change, IMO we should try the suggestion that I mentioned on #4289 and @willianrampazzo posted here. But this would need to change other parts of the module. So yes, it is welcome but I don't think that has a high priority, right now.

[2020-11-11 19:41] #4257 closed

[2020-11-11 20:19] tiagohonorato commented on #4300
Hi @willianrampazzo and @beraldoleal, thanks for bringing that up as well.

I guess is like what @willianrampazzo said, although importing the functions is definitely less confusing to read, it also becomes less clear about what it does. But I agree with you all, maybe that is something worth trying, definitely low priority though, and it may require some changes outside `os.path` with variable na

[2020-11-11 22:39] tiagohonorato commented on #3477
@willianrampazzo, taking a look at `MtabLock` class, it seems to be already using `avocado.utils.filelock`:

[code]

[2020-11-12 10:35] richtja commented on #4255
I am closing this because it is connected with #4257

[2020-11-12 10:35] #4255 closed

[2020-11-12 13:36] willianrampazzo commented on #3477
Absolutely not. This is one of the issues that was migrated from Trello without checking. We can close it.

[2020-11-12 13:36] #3477 closed

[2020-11-12 21:09] #4266 closed

[2020-11-13 15:26] willianrampazzo opened #4308 "[NRunner] the status server is not properly handling multiple jobs"
(warnings about deprecated options removed from the logs for a clean output)

If I use the following test:

[code]

and run it with `avocado run`, it works as expected:

[code]

If I force the command line to use the `nrunner`, it will not show the failed `/bin/false` test inside the job:

[code]

But now if I remove the lines related to the status server like this:

[code]

the test result shows

[2020-11-13 15:50] #4286 closed

[2020-11-13 20:46] rvbinder opened #4309 "Distributed Testing Support?"
I am looking for a test harness that will start, monitor, manage, and report concurrent test execution on multiple machines. I found Autotest, which seems to do this, but appears to be no longer supported and points to Avocado as its successor. It also appears to use Python 2.x, which would pose a problem in my environment. The Avocado documentation does not describe the orchestration of distribut

[2020-11-13 21:23] willianrampazzo commented on #4309
Hello @rvbinder, welcome to the Avocado Project!

Right now, Avocado Framework does not support distributed tests in the way you described. This is also a feature I would like to see in the project, and I think the community would appreciate it.

You raised this issue at the right time as we started to discuss the next steps after our last LTS release. The initial discussion is here: https://www.r

[2020-11-16 13:56] beraldoleal commented on #3525
@clebergnu are you ok with moving from relative to absolute ? I would like to remove the `module-boundaries.sh` at least for `avocado/core`. What do you think?

[2020-11-18 12:44] clebergnu opened #4311 "Cache: allow browsing / purging of content"
The Avocado cache directories are organized by means of types:

* by_name
* by_location

And then within it, they're organized by a (obviously) one-way hash, examples:

[code]

We should allow users to view and purge the cache directories.  Example of use cases:

* Remove cached files not accessed during the last 30 days
* Remove cached files that are larger than 100 MiB
* Sort by last access, and

[2020-11-18 13:35] clebergnu commented on #3700
We're considering this epic to have been achieved, and the current three issues (#3877, #3870, #3867) that are open and reference this epic, are now being handled on its own.

[2020-11-18 13:35] #3700 closed

[2020-11-18 13:43] beraldoleal commented on #4311
One suggestion is to provide an avocado command line to handle those cases:

`avocado cache` or `avocado assets`

[2020-11-18 14:29] willianrampazzo commented on #3735
As the POC stage is completed, I'm closing this issue. I'll open a new issue for the implementation.

[2020-11-18 14:29] #3735 closed

[2020-11-18 14:33] willianrampazzo commented on #4311
+1

`avocado assets` plugin already has the structure to support more subcommands.

[2020-11-18 15:03] richtja commented on #4017
Closing, because the last warnings, can't be fixed.

[2020-11-18 15:03] #4017 closed

[2020-11-18 15:21] willianrampazzo opened #4312 "Implement the initial architecture for a requirements resolver based on BP002 and add support for packages"
This issue tracks the implementation of the initial architecture for a requirements resolver based on BP002.

The intent of this issue is also to implement the support for packages requirements.

[2020-11-18 16:26] clebergnu opened #4313 "Assets / Cache: manually register content"
Avocado's data cache support storing content `by_name`, in which a given file is referred to by its name, but can be found on many different places.

Let's attempt to reuse that feature, so that a user can point to an existing file, and have it copied/moved to the cache under the given name.  A sample use case is:

1) User has access to (by whatever mean) to file `custom-machine-firmware.bin`
2) W

[2020-11-18 20:32] beraldoleal commented on #4309
Hi @rvbinder, welcome!

I would like to add two more cents on top of @willianrampazzo's comment:

IIUC, today we have a new runner (`nrunner`) that it is being designed with that in mind too.

You can execute the `nrunner`, as following:

[code]

Behind the "nrunner" we have the "spawner" concept, which will start your test inside "something". Today, we have support for "process" and "podman" spaw

[2020-11-19 09:26] richtja commented on #4010
After discussion in #4280, we decided that we can use null as a string and inside yaml_to_mux rewrite null strings to None.

[2020-11-19 18:30] beraldoleal opened #4316 "Re-thinking our communication channels. What do you think of a pub/sub approach?"
The Avocado project has been adapting its architecture to solve distinguished issues and also to support the needs of new users/projects. New components have been introduced and, probably, new ones will arrive. The new runner (nrunner) it is being designed to have a more decoupled architecture, exchanging more and more messages with these components.

I could identify a few methods of communicatio

[2020-11-23 09:33] richtja opened #4318 "make not working on Fedora 33"
The variable `AVOCADO_DIRNAME` in Makefile is not set properly on Fedora 33 and `make` has warning
 `/bin/sh: ${PWD\#\#*/}: bad substitution`

Because of this bug some `make commands` not work properly.

[2020-11-23 10:59] beraldoleal commented on #4318
I'm not sure what this expansion is trying to do. The closest one that I found on the reference manual was this:

[2020-11-23 11:22] beraldoleal commented on #3867
Maybe, one possible alternative is what I described in #4316.

[2020-11-23 12:17] beraldoleal commented on #3432
This was documented here: https://avocado-framework.readthedocs.io/en/83.0/guides/user/chapters/configuring.html#supported-data-types-when-configuring-avocado

Closing this.

[2020-11-23 12:17] #3432 closed

[2020-11-23 12:36] beraldoleal opened #4320 "JobAPI: all tests are being skipped when passing a 'nrunner.status_server_uri'"
Using the following example will make tests to fail.

[code]

[2020-11-23 12:38] willianrampazzo commented on #4320
Isn't it related to https://github.com/avocado-framework/avocado/issues/4308?

[2020-11-23 12:49] beraldoleal commented on #4320
@willianrampazzo I had a look before opening this. Since this is just a preliminary investigation, I'm not 100%, maybe a different issue. I will be investigating this soon and I can mark this as duplicated if is the case.

[2020-11-23 13:16] willianrampazzo commented on #4320
Okay, I don't think they are exactly the same in the sense that a piece of code will fix both, but when we do a mass refactor and clean-up in the status server side, both will be gone.

[2020-11-23 13:16] beraldoleal opened #4321 "Test timeout: Could not find a way to timeout a test with nrunner"
Today, we have a few options for setting a job/test timeout:

1. job.run.timeout
2. runner.timeout.process_alive

While the first one is working fine, I could not set working properly on how to set a timeout for tests when using the 'nrunner'.

[2020-11-23 13:58] mcondotta opened #4322 "Nrunner gets stuck when running some KVM Unit Tests"
I wrote a small Job API script, with Beraldo's help to be able to run KVM Unit Tests using Avocado Nrunner.
It is mostly working fine, however there are 2 (vmx, vmx_vmcs_shadow_test) tests for x86 that get stuck and never return.

How to Reproduce:
git clone https://gitlab.com/kvm-unit-tests/kvm-unit-tests.git
cd kvm-unit-tests
./configure ; make standalone
avocado run --test-runner='nrunner'  ./t

[2020-11-23 14:07] clebergnu commented on #4322
@mcondotta could you let me know your output for:

```avocado-runner-exec-test runnable-run -u ./tests/vmx_vmcs_shadow_test```

Thanks!

[2020-11-23 14:21] mcondotta commented on #4322
@clebergnu sure!
It keeps just repeating this:
{'status': 'running', 'time': 276874.874089401, 'result': 'fail'}
{'status': 'running', 'time': 276875.382542493, 'result': 'fail'}

I see with "ps -ef | grep vmx" that the test itself finished, however the "bash ./tests/vmx_vmcs_shadow_test" never finishes.
I'm thinking this might be a PIPE issue, both these tests dump an absurd amount of data to the

[2020-11-23 15:37] clebergnu commented on #4322
FIY #4323 is a *related* fix, but I don't think it's the only fix needed.

[2020-11-23 15:41] beraldoleal commented on #4322
@clebergnu I created issue #4321, not to fix, but to help in this case.

[2020-11-23 18:12] beraldoleal commented on #4322
I might have found the issue. Preparing a PR.

[2020-11-23 18:23] beraldoleal commented on #4322
@mcondotta can you try #4324 together with #4321, please?

[2020-11-24 16:09] beraldoleal commented on #4318
IIUC, this is `basename ${PWD}`

[2020-11-25 17:49] willianrampazzo commented on #4316
Hi @beraldoleal, thanks for the time you spent evaluating a better communication protocol for Avocado; I really would like to see a standard and modularized solution implemented.

I did a high-level review and tested your code. It looks promising to me. It hides most of the development's complexity from the developers. I found it easy to use.

Related to the description you made here, I still have

[2020-11-25 17:53] willianrampazzo commented on #4316
+1

Although I agree with you that what we have today works, the fewer communication protocols we have, the easy to debug and extend the code.

[2020-11-25 18:31] willianrampazzo commented on #4316
I did some research on the Pub/Sub topic and found it interesting for the decoupling task we are pursuing on Avocado. Based on my experience with other communication architectures, this architecture could be a solution to be used, with some open points for discussion.

Adopting a pub/sub communication protocol would make it easy to decouple the main modules, like resolvers, runners, state machines

[2020-11-25 18:32] willianrampazzo commented on #4316
Following pub/sub theory, `@subscribe_to()` please :D

[2020-11-25 18:34] willianrampazzo commented on #4316
+1 for WebSockets. It is well known, supported, and documented.

[2020-11-25 19:01] willianrampazzo commented on #4316
I don't see a problem here. I see a positive point. Today it is not possible to write a resolver totally decoupled from Avocado and Python. With a Pub/Sub mechanism, it would be possible. Same for other components of Avocado.

[2020-11-25 19:05] willianrampazzo commented on #4316
+1 here. It makes it easy to develop.

+1 and I don't see a problem. Standardization is key for flexibility and ease of maintenance.

Agreed.

This point needs a deeper discussion. We need to find a way to accomplish it with the requirements we have today or remove the rule.

[2020-11-25 19:25] clebergnu commented on #4316
There's the *old* plugin mechanism in `avocado.core.loaders`, but let's disregards this.  Nice analysis here btw.

In this snippet, `import asyncio` is not relevant, right? (just checking)

Regarding `a)`, I think a high priority task is to attempt to reuse the know how that Ansible has accumulated in their "Anziball" (or something like it) generation, in which they bundle the requirements to run

[2020-11-25 19:41] #3440 closed

[2020-11-25 20:14] clebergnu opened #4328 "Configurable xUnit fields"
When generating xUnit results, there are very little leverage for what goes into some very visible fields, such as:

* classname
* name

It should be possible to set configurations, such as the existing `job.run.result.xunit.job_name`, to determine the value of those from a predefined list of values to be used as formatting strings.

For instance, setting `job.run.result.xunit.testcase_name` could

[2020-11-26 10:57] beraldoleal commented on #4320
@willianrampazzo @mcondotta, I started investigating this today. Actually afaict, this is expected.
You are saying to Avocado to send results to another server that is not up. ;) By default Avocado starts a status server on 8888, if you change the port to 8888, this will work.

So, unless I'm missing something, this is not a bug. Please, feel free to reopen if needed.

[2020-11-26 10:57] #4320 closed

[2020-11-26 11:04] beraldoleal commented on #4316
Yes, this is an important point, agreed. Today we already to a "backward" communication using SSH. So we are assuming that our vm/containers are reachable somehow. In a perfect world, I would like to see this as a requirement for a spawner. But for sure, we need to discuss this better.

[2020-11-26 11:07] beraldoleal commented on #4316
Agreed @willianrampazzo . Like I said before, in a "perfect world" this could be a spawner requirement. But for sure we need to discuss this.

[2020-11-26 11:12] beraldoleal commented on #4316
Thanks, @clebergnu for your comments. IIUC, you are ok with further investigation and keep walking on this road.

Yes, I agree with you, we could start one front (in parallel) thinking about who to properly distribute our runners. But I'm perceiving your comments as a positive welcome.

[2020-11-26 16:08] #4318 closed

[2020-11-27 14:49] #4010 closed

[2020-12-01 03:56] #4322 closed

[2020-12-01 15:52] #4247 closed

[2020-12-02 06:48] clebergnu commented on #4244
Hi @samiraguiar @pevogam,

You have a point in the sense that process connected to terminals will operate with line based buffering.  But, it's the buffering employed on stdout/stderr that are king, and not really the fact that they are or not terminals.  A non-tty can still operate in unbuffered mode, like your examples 2 and 3.

Unfortunately, AFAICT, Python doesn't make it easy to change the bu

[2020-12-02 10:43] beraldoleal opened #4336 "Improve how we distribute the runners"
Today, runners are standalone and basically all-in-one scripts that while it is easier for deploying by each spawner we miss the ability to have dependencies to avoid code duplication.

The idea of this issue is to come up with some strategy to better deploy or runners, using packages systems or any other method.

@clebergnu do you would like to add some requirements here?

[2020-12-02 22:41] brianjmurrell commented on #2908
@willianrampazzo Can you point specifically where `tearDown()` is given some extra time to do it's work please?

[2020-12-03 13:19] willianrampazzo commented on #2908
The code added by @clebergnu (#3152) do not specifically handle the `tearDown()` method but gives some more time to the process to finish. If I recall correctly, we evaluated the possibility of adding this parameter to the `tearDown()` method, and we found some technical limitations. Of course, I may be wrong :)  If you really need a timeout parameter for the `tearDown()`, feel free to reopen this

[2020-12-03 15:03] brianjmurrell commented on #2908
Does #3152 actually increase any timeouts?  It looks like it's an apples-to-apples refactor that just allows some timeouts to be configurable by the user.

But given that `tearDown()` doesn't have any timeout, I don't think that patch helps in any way.

[2020-12-03 16:09] willianrampazzo commented on #2908
Reopening to better track the discussion.

[2020-12-03 17:10] willianrampazzo opened #4338 "Does the Avocado Project still need to support Python 3.5?"
Python 3.5 last release was on Sept. 5, 2020, (https://www.python.org/dev/peps/pep-0478/) but the 3.5 branch reached the end of life and is not supported anymore (https://devguide.python.org/#status-of-python-branches).

Based on that, should the Avocado Project advertise Python 3.6 as the minimum version and drop 3.5?

[2020-12-03 20:21] willianrampazzo commented on #2908
@brianjmurrell do you have a strict need to run it with the `runner` instead of the `nrunner`? I ask because there is little or no chance to add new features to the current runner with our current plan. We planned for bugfixes only in the legacy architecture on LTS 82. The plan is to deprecate the current runner in favor of the `nrunner` from now on.

[2020-12-03 20:26] samiraguiar commented on #4244
Hi @clebergnu, thanks for taking a look!
I understood your explanation, but I'm not sure I got the conclusion right: do you mean that, although the behavior of `aexpect.client.run_fg` is different than that of `avocado.utils.process.run` (the former doesn't require buffering to be manually disabled), this is by design as buffering happens on file level?

[2020-12-03 21:36] brianjmurrell commented on #2908
I honestly don't know the difference.  What I can tell you is that we use 52.1 because that is what EPEL packages for EL7.  We're trying to reduce the number of third-party packages we have to package up into RPMs and DEBs and so are not overly joyed at having to use a version of Avocado that is not already patched.

The other problem is knowing the large version delta between 52.x and 82 (or wher

[2020-12-03 21:36] willianrampazzo opened #4339 "[JobAPI] testlog plugin is not triggered by the Job API"
With the following test code:

[code]

and the following config:

[code]

The testlog plugin works fine:

[code]

But when using the Job API, the test log does not get triggered. Test code:

[code]

Output:

[code]

I expected the same behavior as the command-line.

[2020-12-03 21:45] willianrampazzo commented on #2908
Oh, so it would be a feature request to LTS 52.1. That makes things even more complicated, we have the policy to do not add new features to the LTS versions. @clebergnu @beraldoleal @richtja what do you think?

[2020-12-03 21:50] brianjmurrell commented on #2908
As I did with the PoC patch that @clebergnu previously provided, I would be fine with monkey-patching my installations, so having something actually land on the release branch is not strictly necessary.  If that makes things any easier.

[2020-12-03 21:53] beraldoleal commented on #2908
Yes, I think LTS patches are only hotfixes. I'm not sure it fits there.

[2020-12-04 10:35] beraldoleal commented on #4338
+1

[2020-12-04 10:50] richtja commented on #4338
:+1:

[2020-12-04 11:49] beraldoleal commented on #4313
I'm not so familiar with the fetch plugin but I will give it a try here. Assigning to myself.

[2020-12-04 12:50] beraldoleal commented on #4339
@willianrampazzo not sure if I agree or understand. Maybe I'm missing something.

But in your first case, the test is your class. That is calling `self.fail()` with an exception expected. In your second case, your test is `/bin/false` that has no output, just an exit code != 0.

What I'm missing? What would be your expected output?

Here I did the tests, and the outputs "similar/consistent".

With

[2020-12-04 13:03] willianrampazzo commented on #4339
Okay, mixing different tests does not help, sorry.

Here is a consistent example:

[code]

Still, I have the same result:

[code]

[2020-12-04 13:12] willianrampazzo commented on #4339
Just to make sure, I did another test running `/bin/false` with the testlog enabled and it shows the log in the output:

[code]

[2020-12-04 13:15] beraldoleal commented on #4339
I got you.

I guess the job is being halted before "post" be executed. Take a look at the "JOB TIME" line. It is missing.

[2020-12-04 13:19] willianrampazzo commented on #4339
Good catch; I did not notice it.

[2020-12-04 14:06] beraldoleal commented on #4339
@willianrampazzo please check if #4340 will solve this issue.

[2020-12-04 15:09] willianrampazzo commented on #4339
https://github.com/avocado-framework/avocado/pull/4340#issuecomment-738835757

[2020-12-04 16:18] brianjmurrell commented on #2908
So, looking at @clebergnu's PoC patch in #3076 and why it doesn't work.  Is it completely expected that the value of `test_status.status.get('phase')` would be empty as it's used in:
https://github.com/clebergnu/avocado/blob/d9e5210cd6112b59f7caff98883a9748495c07dd/avocado/core/runner.py#L428

Or does that seem like it really should have worked, and there is some other issue lurking which is makin

[2020-12-04 19:16] #4339 closed

[2020-12-04 20:01] willianrampazzo opened #4341 "Testlog plugin do not output fail on check.py"
When enabling the test log plugin on `selftest/check.py` with the following:

[code]

And forcing a fail, the log is not shown:

[code]

The expected result is something like:

[code]

[2020-12-04 20:51] willianrampazzo commented on #4341
So, the job results are created during the job execution, but it seems it gets messed up with multiple jobs running.

Here is the `test` object of a single job run:

[code]

Here is the `test` object from the `check.py` run:

[code]

[2020-12-04 21:26] willianrampazzo opened #4342 "Improve asset hash mismatch error message during fetch"
In the current implementation, when an asset is fetched but there is a hash mismatch, the error message says the download failed:

[code]

Avocado needs to give a clear message of what was the cause of the failure.

[2020-12-05 00:26] #3441 closed

[2020-12-07 14:45] clebergnu opened #4344 "Crash on loaders listing"
Example of command that causes a crash:

[code]

And the crash itself looks like:

[code]

[2020-12-07 15:38] richtja opened #4346 "nrunner tests with TestSuite initialization not work"
example:
[code]
output:
[code]
the same problem is with example in  `examples/jobs/passjob_custom.py`

I find out that the runner runs the tests but avocado doesn't receive the status.

[2020-12-07 15:50] clebergnu commented on #4346
@richtja when you're manually creating `Task`s, you need to set their status servers attribute to match the job's status server uri.

[2020-12-07 15:52] clebergnu commented on #4346
The following seems to work:

[code]

Of course, improvements can be made here.

[2020-12-07 15:59] richtja commented on #4346
Ok, @clebergnu thanks for explanation, I was following the `examples/jobs/passjob_custom.py`, so I will fix that.

[2020-12-07 16:03] richtja commented on #4346
@clebergnu I think that there is another issue, when I fix the `examples/jobs/passjob_custom.py` like this:
[code]
The second suite is not run.
[code]

[2020-12-07 16:04] clebergnu commented on #4346
Seems like a real bug!

[2020-12-07 19:57] willianrampazzo opened #4348 "Create a "Supported Versions" page on our documentation"
Today we have the following section on our documentation about the supported versions: https://avocado-framework.readthedocs.io/en/83.0/releases/index.html?highlight=supported#how-we-release-avocado

It would be nice to have a page that lists which LTS is currently supported.

Ref. #4345.

[2020-12-08 08:59] richtja commented on #4348
+1

[2020-12-08 16:03] beraldoleal commented on #4346
@richtja the second issue, can you please open a specific issue for that? I can try to debug it.

[2020-12-08 16:12] richtja commented on #4346
@beraldoleal  you mean this?

Sorry, I expressed myself in a wrong way and this is already solved in #4351

[2020-12-08 16:25] richtja opened #4352 "Task with default status_uri"
When we're initializing a new `Task` object, we can have default `status_uri` same as default `nrunner.status_server_uri`. We are doing the same in `TestSuite.from_config()`

[2020-12-08 22:01] willianrampazzo opened #4354 "Plan for the next LTS version after 82 LTS"
Avocado 82 LTS was released on September 13. The Avocado project defines the LTS as an 18 months stability release, and usually, the next LTS version is scheduled to be released 6 months before the end of life of the current LTS.

This issue intends to discuss a possible release date for the next LTS and track users' requirements.

[2020-12-09 09:13] #4346 closed

[2020-12-09 13:47] #4316 closed

[2020-12-09 13:48] #4291 closed

[2020-12-09 13:50] #4210 closed

[2020-12-09 13:51] #3835 closed

[2020-12-09 13:52] #3804 closed

[2020-12-09 13:52] #4029 closed

[2020-12-09 13:53] #4246 closed

[2020-12-09 13:55] #3601 closed

[2020-12-09 13:55] #3525 closed

[2020-12-09 15:07] beraldoleal commented on #4342
I'm working on #4313 and I think I have a better idea of this now. So I will give it a try here too.

[2020-12-09 21:45] beraldoleal opened #4357 "Evaluate GH actions for this project"
Travis jobs are giving us some extra coffee time and might have available some machines to run custom runners. Let's see if GH actions can help us here.

[2020-12-10 15:32] willianrampazzo commented on #4268
Hi @Dahaka934, you are right; tags are defined by tests and by classes. A tag defined for a class will be assigned to all tests within the same class. A tag defined on a test with the same key will not overlap the class tag, but new tags defined in the test will be added to the tags. Here is an example

[code]

And here is the log:

[code]

If you describe your use case, I can give some suggestion

[2020-12-11 12:06] richtja opened #4359 "Avocado Status Server not compatible with python 3.6"
The [server](https://docs.python.org/3.6/library/asyncio-eventloop.html#asyncio.Server) python 3.6 has no function `serve_forever()`

Because of this the avocado status server not working on python 3.6

problem in [server.py](https://github.com/avocado-framework/avocado/blob/master/avocado/core/status/server.py#L41)

[2020-12-14 14:05] beraldoleal commented on #4359
@richtja I had the error message today. I'm still investigating but seems to me that the problem is with my code. I tried with master and it works.

Can you please, double-check if on master your case is working?

[2020-12-14 14:49] richtja commented on #4359
@beraldoleal Thanks that you are looking at this. I still have a problem on master. I did some investigation and I think that the problem is that `asyncio.start_server()` creates [asyncio.Server](https://docs.python.org/3.6/library/asyncio-eventloop.html#asyncio.Server) which don't have method `serve_forever()` on python3.6

I am getting this error:

future: <Task finished coro=<StatusServer.serve

[2020-12-14 16:27] #4228 closed

[2020-12-14 16:28] beraldoleal commented on #4359
Looks like is not an error on status server itself.

[2020-12-14 16:55] beraldoleal commented on #4359
[code]

And because of that, for some reason, we have a problem with status_server.

[2020-12-14 17:04] richtja commented on #4359
Actually I think is opposite, we have this error because of some problem in status_server. This happens when nrunner reads data from status server and it has none.

[2020-12-14 18:16] brianjmurrell commented on #2908
FWIW, I was able to get this completely working.  It required 3 patches, all of which are ports of various patches landed to newer versions of Avocado.  My branch for this is https://github.com/brianjmurrell/avocado/tree/bmurrell/give-teardown-60s

I'm not going to bother with a PR for it given that it's on the unsupported 52.x LTS branch.

But just in case anyone comes here in the future looking

[2020-12-15 12:44] beraldoleal commented on #4359
@richtja Looks like you are right about this not being implemented on python 3.6. Maybe we have some skips on tests to skip those when in 3.6, not sure.

So if Travis will be happy with this change, I'm ok.

Now, regarding the `AttributeError`, IMO the line is wrong because is assuming that None it is never returned. And we could refactor there.

[2020-12-15 12:49] #4344 closed

[2020-12-15 18:12] #4359 closed

[2020-12-22 15:55] beraldoleal opened #4366 "Missing some log information when running tests"
[code]

This test when skipping should show why is skipping. job.log is not showing that information.

[2020-12-23 14:40] willianrampazzo opened #4367 "Evaluate the possibility of implementing a command-line option to show which tests will be skipped"
The QEMU acceptance tests have lots of `skipIf` decorator spread around the tests. It would be good to have a command-line option that shows which tests will be skipped if executed.

This issue tracks the evaluation of implementing a command-line option to show which tests will be skipped if executed.

[2021-01-05 14:56] beraldoleal opened #4372 "Make a consistent setup.py with Makefile commands"
Today, we have a Makefile with some targets in addition to the setup.py with others. My suggestion is to make this consistent, by using setup.py targets only.

This means that the "implementation" part would be python code inside setup.py and/or utilities/modules. But we can still have a Makefile with the same targets pointing to setup.py calls.

This might help with #4357.

[2021-01-08 16:54] beraldoleal opened #4376 "Improve our examples in our documentation"
We need to improve our basic examples in our documentation, giving our users not only a hello-world (/bin/true) example.

[2021-01-08 17:17] beraldoleal opened #4377 "Better output message on cloudint when missing pycdlib"
pycdlib is necessary when running `utils/cloudinit.py`

[2021-01-08 20:13] willianrampazzo opened #4378 "If there is an executable file in the test data directory, Avocado tries to run that as a test"
When running all tests from a test directory, if there is an executable file inside the data directory of a test, Avocado tries to run it as a test.

Example:

[code]

Running the test specifically works as desired.

[code]

[2021-01-14 14:37] beraldoleal opened #4382 "Investigate PEP517 and the setuptools new recomendation to build/distribuite packages"
From setuptools quickstart guide:

IMO, this could be useful to solve a few problems we have today related to easily distributing Avocado properly and also making clear and concise build targets.

This is related to #4372, 4357 and 4336

[2021-01-18 21:32] samiraguiar commented on #4244
Hi everyone, I have retested and reanalyzed the examples provided and indeed, `process.run` and `qemu-img` work correctly together, with output being printed in a progressive manner. The culprit for the issues I have experienced lies elsewhere, so I ask @pevogam to close this issue. Thank you all for the advice and sorry for the confusion.

[2021-01-18 21:44] pevogam commented on #4244
Thanks @willianrampazzo and @clebergnu for taking the time to elaborate here!

[2021-01-18 21:44] #4244 closed

[2021-01-19 10:35] abdhaleegit opened #4386 "Control socket connect(/root/.ssh/avocado-master-root@abc:22): No such file or directory ssh session connect fails for first time"
Ssh session connect fails to create control socket for the first time connecting between 2 machine

[code]
ls .ssh/
id_rsa  id_rsa.pub  known_hosts  tmp_authorized_keys2

But when I tried manual ssh to remote machine and than start the ssh.connect works

` $ scp root@10.12.13.14
The authenticity of host abc.com (10.12.13.14) can't be established.
ECDSA key fingerprint is SHA256:pd8Ir2tHlDEUuRNeFPY

[2021-01-19 11:51] beraldoleal commented on #4386
Are you manually removing the control file before this? For instance, calling `.cleanup_master()` or manually?

[2021-01-20 03:06] tiagohonorato commented on #3466
Hi @willianrampazzo, it seems that there are some checks that could be enabled without additional changes in the code base. Is it ok if I send a PR enabling those?

[2021-01-20 09:02] sofiya07 opened #4387 "email the report after completion of a job"
Is there any API in avocado where an email could be sent to the user, once the job completes the run.

If yes , kindly point the link to set up the email.

Thanks

[2021-01-20 11:50] beraldoleal commented on #3466
@tiagohonorato feel free to send any PR anytime.

[2021-01-20 11:53] beraldoleal commented on #4387
Hi @sofiya07 , I might be wrong, but AFAICT, we don't have plugins to send emails, and that would be a nice one to have, IMO.

But, we have plugins that generate HTML output and another one that publishes the results to a server:

https://avocado-framework.readthedocs.io/en/84.0/plugins/optional/results.html#

[2021-01-20 14:50] clebergnu commented on #4387
Hi @sofiya07

We have an example plugin at https://github.com/avocado-framework/avocado/blob/master/examples/plugins/job-pre-post/mail/avocado_job_mail.py that may serve as a starting point for you.

Bonus points if you convert it into a more usable (and official) plugin! :)

[2021-01-20 18:16] beraldoleal opened #4389 "Spliting out optional_plugins from Avocado core repo"
This issue is to track the progress of splitting optional_plugins from the Avocado main repo.

My only suggestion is to remove the word "optional" since plugins already give us the idea of plug&play. Maybe we could have an "avocado-plugins-extra" repo that will host all plugins that are extra but developed by us.

Any thoughts?

[2021-01-20 18:18] beraldoleal opened #4390 "Spliting out utilities libraries from Avocado core repo"
This issue is to track the progress of splitting out some libraries from the avocado core so we can better handle our distribution model and improve the user experience.

[2021-01-26 22:34] clebergnu opened #4392 "avocado.core.job.Job.cleanup handling of temporary dir"
The Job cleanup should, AFAICT, be able to clean up its own temporary directory.  It looks like the current code is not behaving that way, since some functional tests that create jobs set `run.keep_tmp = True` so that the temporary directory is created on the results directory, which is usually managed by the upper layer test.

[2021-01-27 14:32] #4321 closed

[2021-01-27 15:57] #4377 closed

[2021-01-29 13:46] beraldoleal opened #4396 "Investigate how delivery a way to identify Flaky Tests inside Avocado"
Some CI environments have the ability to identify flaky tests so developers could *maybe* remove those tests from the suite or make them "safe-to-ignore" (or something similar).

One way to identify this is by analyzing all runs of a specific suite and comparing the results.

This is an issue is to brainstorm and evaluate if we would like to deliver this as a feature.

[2021-01-29 13:47] beraldoleal commented on #4396
@wainersm thanks for the suggestion. Please feel free to add your comments here.

[2021-01-29 14:09] beraldoleal commented on #4396
One possible idea: have a `--detect-flaky-tests`, and a `--move-flaky-to-quarantine` (names are just examples, we could improve this latter):

1. Run a suite;
2. Detect failed tests;
3. Re-run those, and if passed, this is a strong candidate to be a flaky tests;
4. Tag those tests as flaky; (Quarantine is just the pool of tests with the 'flaky' tag);

This will let developers know all the flaky te

[2021-01-29 14:19] wainersm commented on #4396
Let me begin by explaining how flaky tests are treated by OpenShift CI as it seems to me a simple and good enough example for most cases. Keep in mind that I am not expert on OpenShift tests/CI but recently I have being involved with adding Kata Containers in that CI, therefore some information here might not be accurate.

The OpenShift provides a suite with thousands of end-to-end (e2e) tests, mo

[2021-01-29 14:26] beraldoleal commented on #4396
@wainersm this is much closer to what I imagine as a possible implementation and what I described. I would just add the ability to control how many flaky tests could be on the queue, or for how long. But that is another piece of the puzzle.

[2021-01-29 15:20] wainersm commented on #4396
The QEMU project provides some Avocado-based tests (called "acceptance tests). Very often it needs to deal with flaky tests, but usually two actions are taken:

 1) Disable the test
 2) Or increase the test timeout because usually the flaky test will hit the time limit for its execution.

Detecting a test is flaky is currently manual. Someone on the community will notice the test fails from time t

[2021-01-29 17:15] beraldoleal commented on #4396
@wainersm, I'm curious about item 2.

Is this test doing some "time limit execution" part of the preparation (for instance downloading an image) or it is the real test?

[2021-01-29 19:28] wainersm commented on #4396
Hi @beraldoleal , I didn't have a look at the logs but I know that the test boot a kernel several times. Maybe it is getting longer when the running machine is overloaded (or some other stuff gets the process slow) as a result it hits the time limit.

[2021-02-02 17:44] pevogam opened #4397 "Unit test names hard to pin down and debug"
Hi all, I have recently turned on the flag about running unit tests during the Avocado RPM build and get some failing unit tests which are not run through avocado rather than default python unittest modules:
[code]
Filtering the result HTML reports for the failed tests reveals:
![image](https://user-images.githubusercontent.com/1969979/106639879-19f24000-658e-11eb-9ad7-3579ba060c3e.png)
However, t

[2021-02-02 17:49] beraldoleal commented on #4397
are you running on a virtual env ? `make check/ develop` first ? Usually this happens when we don't have some requirements installed.

[2021-02-02 18:11] pevogam commented on #4397
I use an automated pipeline that roughly looks like
[code]
Shouldn't any dependencies for the RPM build be specified in the SPEC file itself and thus covered by `dnf builddep`?

Running `make check` inside the cloned folder yields errors:
[code]
but I am referring specifically to the rpm build process where the unit tests should work together with satisfying the RPM build requirements if I am corr

[2021-02-02 18:37] beraldoleal commented on #4397
in your pipeline are you using avocado.spec or python-avocado.spec? avocado.spec doesn't exists. This might be the case.

[2021-02-02 19:42] pevogam commented on #4397
Sorry for misleading you, the pipeline simply renames the spec with the name of the folder, the spec is otherwise the one from the master branch.

[2021-02-04 20:05] tiagohonorato commented on #3466
@willianrampazzo and @beraldoleal, what are your thoughts on enabling python3 checker messages? At first, I thought it would be useful to alert about python2 deprecated built-in such as `file`, `reduce`, but it might be unnecessary. Another check that could be enabled is for methods that return an iterator in python3 being used outside an iterator context (e.g. `dict.keys` returns iterator and not

[2021-02-04 20:20] beraldoleal commented on #3466
@tiagohonorato this is something nice to have, but since we still support python2 maybe we could wait a little more. Not sure.

Did you had the chance to investigate how much work will be necessary to get away from those warnings?

[2021-02-04 20:57] clebergnu commented on #3466
Wait, what? From `setup.py`:

[code]

So Python 2 should not be an issue.

[2021-02-05 11:53] beraldoleal commented on #3466
@tiagohonorato my bad. I got completely confused here. Maybe too little coffee at the end of a busy day. So, please ignore my comment.

[2021-02-05 16:59] tiagohonorato commented on #3466
@beraldoleal no worries :) !

thanks @clebergnu!

I have enabled some in the last PR, but I was reflecting a bit more if it would be indeed beneficial or not in the long run before going forward with others (python3 checker messages are disable by default on pylint). Regarding the amount of work, I believe it won't take too much effort for the most part. I will try to send a PR today enabling some

[2021-02-05 19:21] clebergnu commented on #3466
Actually I noticed that the version info I posted revealed a problem with `python_requires`.  Fix in https://github.com/avocado-framework/avocado/pull/4403 .

[2021-02-06 16:49] #4342 closed

[2021-02-09 18:39] #4313 closed

[2021-02-10 17:06] clebergnu opened #4412 "avocado.utils.datadrainer: introduce functional tests"
The `avocado.utils.datadrainer` module currently lacks functional tests, interacting with live data "producers".  We should have a better test coverage that stresses the current implementation.  A minimal coverage should include:

1. Draining data from various types of sources
1.1. plain files
1.2. sockets
1.3. custom objects providing `fileno()`
2. Proper error handling
2.1. closing the producer

[2021-02-17 10:48] richtja commented on #4341
@willianrampazzo Hi I did some tests and had different outputs that you. I can replicate this bug also in single job run. For single and multiple jobs, the test object is same:

[code]
but when I used legacy runner instead of nrunner everything works fine:
[code]
So it looks like a problem inside nrunner. Can you please check that you have the same behavior, thanks.

[2021-02-18 15:47] richtja opened #4418 "Nrunners comunication with status server"
We have to define communication between nrunners and status server and set minimal properties which each message should have. Right now the communication looks like this:

[code]
The status server can not check the message and deal with invalid communication. Also, most of the data are sent by the last message which can cause problems when a such message is huge. The communication should look some

[2021-02-24 17:14] richtja opened #4425 "Test independent on Job class"
In the legacy runner Test class have instance of Job which provide  logging for Test. But in the nrunner instrumented tests the test class have to be independent because the nrunner runs separately from avocado core. Right now the instrumented runner deals with this problem by creating a new [job instance](https://github.com/avocado-framework/avocado/blob/master/avocado/core/nrunner_avocado_instru

[2021-03-01 13:30] beraldoleal commented on #4418
I agree with you @richtja. We need to revisit that. But I'm not sure if the first message ("started") should have all the keys.

I understand that is "not much" related, but I just would like to remember my initial discussion about "communication channels" (#4316). We should start implementing not only the content but how we are going to deliver those messages.

[2021-03-01 16:23] richtja commented on #4418
True, maybe we can define types of messages based on their status and set requirements for each type of message.

Agree

[2021-03-01 17:25] beraldoleal commented on #4418
@richtja I haven't thought about it much yet, but I like the idea of having class/objects by message types. This makes us follow some standards and not letting a simple JSON loosely being transmitted. On the other hand, having an open dict/json is easier for future improvements and portability. It is a trade-off:

Thinking about #4316 the way I thought was: Any component would emit an "event" with

[2021-03-02 10:19] richtja commented on #4418
@beraldoleal Actually I am not proposing to use class/objects for messages on the runners side of communication I am proposing the standardization of communication. I want to define properties of each event or message payload, so the avocado can check if runner works correctly and will be able to react base on the message and their data. And developer of runner will know which message and which da

[2021-03-02 14:16] beraldoleal commented on #4418
@richtja in this case I'm ok. Can you propose in a PR, affecting our documentation? Maybe on the contributor's guide, with details, and on "Test writers guide" with references to the contributor's guide. What do you think?

[2021-03-02 14:40] richtja commented on #4418
@beraldoleal Yes I can create PR with basics.

[2021-03-02 20:21] wainersm opened #4430 "Allow to easily correlate tests with their maintainers"
The intent here is to describe with my own words a requirement that came up a few times on QEMU community, which is about correlating tests with maintainers. AFAIK Philippe Mathieu-Daudé  is the person who first came up with that idea, being the last time mentioned on [1].

### Context

Let's start with a simplification of the QEMU development process.

QEMU development grew around the maintainers

[2021-03-02 20:26] #4341 closed

[2021-03-03 06:34] harish-24 opened #4434 "FAIL testcases from tearDown"
As of today there is no way to `FAIL` a test from `tearDown`, since a `self.fail` from `tearDown` will result in a `ERROR`.

[code]
which results in
[code]
The current implementation limits the use of self.fail in `tearDown` and thus limiting usage of [dmesg](https://github.com/avocado-framework/avocado/blob/master/avocado/utils/dmesg.py) module in `tearDown`.

This is required in cases where we c

[2021-03-03 14:48] beraldoleal commented on #4430
Thanks @wainersm for bringing this.

About `avocado list --show-tags` we have the `--verbose` mode that shows the tags. Isn't that enough for them?

[2021-03-03 18:33] willianrampazzo opened #4435 "Assets / Cache: manually register content by_location"
Avocado's data cache support storing content `by_location`, in which a given file is referred to by its original location, meaning the same file name with a different origin location is stored on a different path in the cache.

Let's attempt to reuse that feature so that a user can point to an existing file while passing its original location and have it copied/moved to the cache under the given l

[2021-03-04 10:20] richtja opened #4437 "lint doesn't check every file"
Our lint check script doesn't check every python file inside the avocado project. This problem occurs especially in examples and selftests directories. It's happening because pylint assumes that any directory is a package, and fails if not. [[1]](https://github.com/PyCQA/pylint/issues/352) So when directory is not a package all files and subdirectories are not checked by lint.

[2021-03-04 16:26] tiagohonorato commented on #4437
A possible temporary solution (while pylint doesn't provide a solution to lint directories that are not packages) would be to use something like``git ls-files '*.py'`` to list all tracked python files and use it as input to pylint.

[2021-03-05 13:49] beraldoleal opened #4443 "datadir.* with inconsist values"
Maybe I'm missing something, but I think we have today some inconsistent outputs:

If I would like to show my current "datadirs":
[code]

This method is getting that information from `data_dir.get_base_dir()` and some other utility methods.

But since we are using config dicts, I would expect to see those "default" values also on the following output:

[code]

@clebergnu can you please, confirm if

[2021-03-11 08:58] harish-24 commented on #4434
Any update here would be helpful! Thanks.

[2021-03-11 14:11] beraldoleal commented on #4430
@wainersm please, let us know if the current --verbose plus the latest PR about this will solve QEMU's problem.

Are you still missing something else?

[2021-03-11 17:08] #4425 closed

[2021-03-12 06:53] luckyh opened #4452 "Use tags facility in plugins"
During the work of https://github.com/avocado-framework/avocado-vt/pull/2922 there is an issue came up: what is the right implementation of the below two, for plugins have the demand to use the tags facility of Avocado?

1. only to be responsible for looking for a place to load/store the serialized 'tags' string and calling the tag parser provided by Avocado to prepare tags data.
2. having the cho

[2021-03-15 14:09] clebergnu opened #4456 "TBD"

[2021-03-15 14:09] #4456 closed

[2021-03-15 14:24] clebergnu opened #4457 "Cache: purge by overall cache size"
Besides the existing features, we need to trim the cache to a defined size, so that it matches the storage limitations of users (and CI systems).

For instance it may be the case that a GitLab cache limit is 4 GiB, in that case we can sort by last access, and remove all that exceeds 4 GiB (that is, keep the last accessed 4 GiB worth of cached files).

This would ensure that the cache is automatica

[2021-03-15 14:24] clebergnu commented on #4311
Most use cases have been implemented, and last one is tracked on #4457

[2021-03-15 14:24] #4311 closed

[2021-03-15 15:00] clebergnu opened #4458 "BluePrint: uniform assets management (revision of assets API)"
This BluePrint will discuss a way to have a common API that will allow users to:

 * Check if a resource is known
 * Inquiry if a resource can be obtained
 * Request the resource be obtained
 * Check if a resource has been previously obtained (and is cached)

[2021-03-15 20:06] beraldoleal opened #4460 "add test "by days" to the new asset purge and list methods"
Today we have only tests about by size. We need to introduce tests by days too.

[2021-03-16 18:15] clebergnu opened #4463 "avocado.utils.partition: inconsistent arguments for mount and unmount"
The `Partition` class allows for a mountpoint to be given both at class initialization, and at `mount()` time.  `unmount()`, on the other hand, doesn't.

That's inconsistent and should be improved.

[2021-03-16 18:16] clebergnu commented on #4463
Original discussion: https://github.com/avocado-framework/avocado/pull/4439#discussion_r588014165

[2021-03-22 14:15] beraldoleal opened #4470 "ci/tests: check for builds in deb/rpm"
incorporate packages build into our GH actions.

[2021-03-24 13:32] beraldoleal commented on #4357
Initial PR is here #4475

[2021-03-26 18:43] willianrampazzo opened #4484 "avocado-software-manager always redirect output to stderr"
When running the `avocado-software-manager` utility, all the output is redirected to the `stderr`, while some should be directed to the `stdout`.

Steps to reproduce:

[code]

[2021-03-26 19:44] willianrampazzo commented on #4484
Maybe the problem is related to this: https://docs.python.org/3/library/logging.html#logging.lastResort

[2021-03-26 19:59] willianrampazzo commented on #4484
From the logging documentation, it seems the solution is to have multiple handlers.

[2021-03-29 11:36] pevogam commented on #4357
Hi @beraldoleal, do you mind clarifying what is the intended future in that regard? Is it to deprecate Travis CI completely and switch to GH actions entirely or to combine the two in some manner?

[2021-03-29 11:48] pevogam commented on #4430
Something like Avocado VT could greatly benefit from such mapping since it contains large areas of possibly completely unmaintained code. But I apologize if this is not relevant and I might be taking the issue beyond the scope of Qemu.

[2021-03-30 10:23] vaishnavibhat opened #4486 "config file location and format for NetworkManager on SUSE"
Currently /utils/network/interfaces.py  has the network confg file for suse at /etc/sysconfig/network. This is the default location when Wicked is selected as the network manager.

During install, if NetworkManager is selected instead of wicked,then the config file format and location changes.

location of the config file - /etc/NetworkManager/system-connections
format -
[code]

[2021-03-30 10:40] harish-24 commented on #4434
@clebergnu @beraldoleal @willianrampazzo Any pointers here please?

[2021-03-30 17:14] pevogam opened #4487 "Docsrings for the Next Runner, Resolver, and new functionality"
Hi, I wanted to try out a bit more of the code for the new parallel runner and resolver modules but I had trouble with severe lack of documentation, in particular no doctrings of any kind and no argument types/descriptions for public API of `runner_nrunner` as well as `resolver` modules. Are there plans to add these docstrings before the serial runner is deprecated? I am asking in particular becau

[2021-03-30 17:33] #4487 closed

[2021-03-31 13:57] beraldoleal commented on #4357
@pevogam , we are facing some issues with Travis (multiple jobs are failing and waiting too much in order to start our jobs). Also,"travis-ci.org will be shutting down in several weeks, with all accounts migrating to travis-ci.com".

So we are just evaluating GH actions and testing other alternatives. No decision was made yet. For now we are going to have both to evaluate and compare.

[2021-03-31 14:16] beraldoleal commented on #4430
In my understanding this is already possible today and this issue could be closed. @wainersm What I'm missing?

[2021-03-31 14:41] richtja opened #4492 "Removing the relative imports"
After the discussion #3525 we should change the relative imports to absolute one if it is possible. And start using absolute imports only policy in the whole Avocado.

[2021-03-31 21:35] clebergnu opened #4497 "Improve User's Guide with uncovered Topics"
There are a number of ways in which advanced users can tweak the Avocado runner, and most are not covered with documentation sections.  Example of features:

* [Testlogs Status](https://avocado-framework.readthedocs.io/en/86.0/config/index.html#job-output-testlogs-statuses)
* Testlogs Files
* [Skip Regex](https://avocado-framework.readthedocs.io/en/86.0/config/index.html#simpletests-status-skip-re

[2021-04-01 12:11] beraldoleal commented on #4434
@harish-24, sorry for the delay here.

My understanding (and I might be wrong) is that we are trying to isolate what is a "test failure" and what is a "bootstrap/cleanup failure" in order to avoid false positives. We have been discussing this for a long time, and it is a constant goal of our development to reduce those false-positives. If a test is flagged as "fail" we would like to make sure that

[2021-04-01 14:13] willianrampazzo commented on #4434
This is my understanding as well.

[2021-04-01 15:03] clebergnu commented on #4434
That's right.  This is also along the lines for why `setUp()` is allowed to call `self.skip()` (because the test has not effectively started) but the test itself is only allowed to call `self.cancel()` (meaning that it ran, even if only partially).

Even Python's [unittest](https://docs.python.org/3/library/unittest.html#unittest.TestCase.tearDown) makes a distinction of what happens during the te

[2021-04-05 03:17] harish-24 commented on #4434
@clebergnu Makes sense, will do that. Thank you for the pointers @clebergnu @beraldoleal @willianrampazzo. Closing the issue.

[2021-04-05 12:40] omps opened #4499 "run avocado test on a physical machine?"
I have gone through the documents couldn't find how we can run tests on physical machine, the avocado-vt is creating qemu images which is not really kind of test we want to run. Unlike autotest, avocado doesn't allow for remote running of tests.

Could you please point me to the correct documentation?

[2021-04-05 13:13] beraldoleal commented on #4499
Hi @omps I'm not sure if I understood your question. Do you mean a local physical machine? Or a remote physical machine?

For both cases, you can run avocado, by just installing avocado and running your tests. Could you explain a little bit?

[2021-04-05 17:52] omps commented on #4499
Thanks. Will try

[2021-04-05 18:21] marioaag opened #4500 "Nrunner execution reporting -> 'Runnable' object is not subscriptable"
Running a basic implementation through the Python API hit the next issue:
[code]

Code used:
[code]

Used the same parameters and ran using the standard avocado runner and it worked as expected:
[code]

[2021-04-05 18:26] clebergnu commented on #4500
Hi @marioaag,

The first thing that comes to my eyes is that the runnable kind shuld be `avocado-instrumented` and not `avocado_instrumented`.  Please let me know if that fixes all the issues you're seeing.

Thanks.

[2021-04-05 18:28] clebergnu commented on #4500
Oh, one more thing.  You're not setting the `test.test_runner` configuration to [nrunner](https://avocado-framework.readthedocs.io/en/86.0/config/index.html#run-test-runner).  Without doing so, you'd be using the legacy `runner` implementation, which is not based on Runnables.

[2021-04-05 18:29] willianrampazzo commented on #4500
In addition to @clebergnu suggestion, also check if you are using the upstream version of Avocado. A similar problem was fixed here: https://github.com/avocado-framework/avocado/pull/4473

[2021-04-05 18:32] marioaag commented on #4500
@clebergnu Thanks for the comments, will do those changes...
@willianrampazzo is there a place with the instructions of how to use the upstream version? right now I'm using the official version 86.0

[2021-04-05 18:45] marioaag commented on #4500
@clebergnu I'm setting run.test_runner to nrunner, isn't it what you mean? I looked at the documentation and I didn't find anything related with test.test_runner

[2021-04-05 19:03] clebergnu commented on #4500
Yes, I only noticed after writing my comment.  I deleted it hoping that you'd not get notified about it.  So, in that regards (`test.test_runner`) this seems fine.

[2021-04-05 19:08] willianrampazzo commented on #4500
How have you installed Avocado on your system?

[2021-04-05 19:32] willianrampazzo commented on #4500
If you installed using `pip`, remove the package with `pip uninstall avocado-framework` and install pointing to the upstream code with `pip install --user git+https://github.com/avocado-framework/avocado.git`.

[2021-04-05 20:12] beraldoleal commented on #4499
Humm I see. Yes, the runners are removed, but with the new architecture, it is easy to add. We have for instance the "podman runner" that runs on a podman.

But you can install avocado remotely with ansible or via ssh manually and run your tests there.

[2021-04-06 14:27] marioaag commented on #4500
Did changes and installed the upstream version but the object not subscriptable issue persist:
[code]

Looks like something like __setitem__ method definition is missing

[2021-04-06 14:31] clebergnu commented on #4430
@wainersm did @beraldoleal answer your questions?

[2021-04-06 15:08] clebergnu commented on #4500
@marioaag the traceback, such as in:

[code]

Shows that the `nrunner` is not really being used.  I wonder why.

[2021-04-06 15:19] clebergnu commented on #4500
@marioaag I can reproduce it with this code:

[code]

I'm looking at what's going on.

[2021-04-06 15:22] clebergnu commented on #4500
@marioaag I've found a problem in the merge of suites' and job's configuration.  To workaround it, please *also* include the `run.test_runner` configuration set to `nrunner` in the `TestSuite` configuration.  That is:

[code]

I'll open an issue or fix it right away.

[2021-04-06 16:20] clebergnu commented on #4500
@marioaag I was reviewing the API, and the proper way to use it (and avoid repeating configuration entries in the suite) is to provide the job config as an argument to the suite.  Example:

[code]

Please let me know if this works for you.

[2021-04-07 02:31] #4460 closed

[2021-04-07 08:16] harish-24 commented on #4434
@clebergnu Re-opening for slight clarity here.

Does it make sense to add a `@avocado.fail_on_dmesg` class decorator which can be used by any Test classes and whose `test*` methods alone can be wrapped around with a decorator to FAIL based on dmesg failures.

If that is acceptable I can send in a PR with the something like
[code]
added to the `decorators.py`

If not, what would be the right place

[2021-04-07 15:43] clebergnu commented on #4443
@beraldoleal I see your point.  The issue is that data directories (meaning those coming from `avocado/core/data_dir.py`, and being shown on `avocado config --datadir`) are more dynamic than the configuration entries.

It would be great if they could just behave like regular config indeed.  IMO we should at least try to achieve what you propose, removing the special behavior of `avocado.core.data_

[2021-04-07 15:48] clebergnu commented on #4208
Hi @pevogam sorry for the delay.  I can reproduce the issue, and I'm working on a fix.

[2021-04-07 19:54] marioaag commented on #4500
@clebergnu, with this the issue gets resolved, but looks like it is ignoring use the nrunner, it is sequentially executing each one of the test:
[code]

I tried run.test_runner: 'nrunner' in the TestSuite config and jobconfig also in the Job config without success.

[code]

[2021-04-07 20:08] willianrampazzo commented on #4500
Hi @marioaag, you are setting two test suites to run one test each. Tests inside a test suite run in parallel, but test suites run sequentially. Try adding more tests to your test suite and you will see them running in parallel.

[2021-04-07 20:22] #4457 closed

[2021-04-07 20:33] clebergnu commented on #4500
Just adding a bit more context on top of @willianrampazzo explanation: each TestSuite is individually configurable, as you @marioaag know by now, even with regards to the test runner.  So, it'd be very complex at this point to process all test suites, each with potentially different configurations simultaneously.

But, this is planned, and once the nrunner is made the default runner implementation

[2021-04-08 11:43] #4208 closed

[2021-04-08 11:47] beraldoleal commented on #4443
Not sure I agree/understood, since configurations could be manipulated dynamically as well.

Ok, I will see what I can do, and let you know if I hit some wall.

[2021-04-08 14:14] marioaag commented on #4500
Get it!! thanks so much for all the explanations, now it is running in parallel

The last thing that I'm missing for the moment is that the debug.log is empty when in the old runner I was getting the logging.

Any special consideration that I should take to get the logs printed int he debug.log file?

[2021-04-08 14:40] clebergnu commented on #4500
This is being fixed with #4507, we have hopes that it will be incorporated into Avocado 87.0 (to be made available next Monday).

[2021-04-08 16:17] marioaag commented on #4500
Nice! I will be waiting for it.
Whit all this said should I close this ticket? @clebergnu did you already open the ticket for the real issue found through all this?

[2021-04-08 18:44] #4418 closed

[2021-04-09 20:40] clebergnu commented on #4235
@sathnaga I believe this was already fixed by https://github.com/avocado-framework/avocado-vt/commit/ba632749d62355ffda3b48f64c70f2f8135433f6.   Could you please verify?  I tested with:

[code]

And had no issues.  I'm closing as I'm pretty confident about the fix, but please reopen if necessary.

[2021-04-09 20:40] #4235 closed

[2021-04-09 20:48] clebergnu commented on #4366
As of https://github.com/avocado-framework/avocado/pull/4517 most test information is being kept in the *test* results directories.  I wonder if this is a good time, and idea, to avoid duplicating everything into the `job.log`.  If we choose to do that, this issue would be mostly or completely fixed by now.

[2021-04-12 01:37] harish-24 commented on #4434
@clebergnu @beraldoleal @willianrampazzo Could you please help out with the previous comment?

[2021-04-12 08:35] richtja commented on #4366
+1 for deleting duplicates from `job.log`

[2021-04-12 14:16] clebergnu commented on #4357
The first experiment has been committed, and we'll now monitor how well it behaves. Further actions will be tracked on other issues.

For now, we'll be keeping all the CI systems, and not dropping anyone.

[2021-04-12 14:16] #4357 closed

[2021-04-12 14:21] clebergnu commented on #4366
We are strongly considering not duplicating the raw test's results into the `job.log`, but we want to provide test result information in the `job.log`.  So, if a test "1-foo" passes, that should be easy to spot in the `job.log` file.  Something like:

[code]

[2021-04-12 15:13] richtja commented on #4308
The #4512 fixed the problem with the output of the inner Job. Now this output is in the `test-results` folder.

But the problem with the multiple jobs connected to the same status server remaining.

[2021-04-12 19:04] willianrampazzo commented on #4434
I don´t see a problem with the implementation you proposed @harish-24, but I don´t think `decorators.py` is the best place. IMO, `utils/dmesg.py` would be a better place, but let's see what others think.

[2021-04-12 19:50] beraldoleal commented on #4434
@harish-24, IIUC, `dmesg.collect_errors_by_level()` uses a default `level_check=5`. Wich is being assumed by your decorator, that is removing that flexibility from Test Writers (let's say that a test writer would like to use your decorator with a different level_check? Based on your decorator, this would not be possible);

Besides that, I think that is valid to have decorators like this one, to he

[2021-04-13 06:46] harish-24 commented on #4434
@willianrampazzo @beraldoleal Thanks for the inputs. So I will start with adding it to the dmesg utils library for now. Later we can decide on moving/organizing specific decorators per utility library once the milestone gets to a good shape.

[2021-04-13 09:28] richtja opened #4527 "Avocado crash without output"
When I run nrunner with the wrong test path avocado crashes without any information. It can be reproduced by:

`avocado run --test-runner=nrunner --ignore-missing-references -- test_utils_partition.py`

[2021-04-13 12:00] beraldoleal commented on #4527
@richtja because you are using `--ignore-missing-references`? What is the expected result?

[2021-04-13 12:12] richtja commented on #4527
Yes, I think that is happening because of usage of `--ignore-missing-references`. I think that this should be ok to do. But I am getting exit code `2` which means  `AVOCADO_JOB_FAIL`. Sorry that I didn't explain it properly at the beginning.

[2021-04-13 19:34] beraldoleal commented on #4527
Yes, so we should change the return code, but I guess that it is ok to assume no output here.

[2021-04-13 19:37] #4434 closed

[2021-04-16 07:14] #4366 closed

[2021-04-19 17:17] #4437 closed

[2021-04-19 20:19] wainersm commented on #4430
Hi @pevogam ,

It is completely fine (and I would say welcomed) if what I suggest here could be used by many projects. Thanks for bringing a new (possible use case) here.

[2021-04-19 20:30] wainersm commented on #4430
Hi @beraldoleal ,

Sorry for taking too long to reply, my github notifications aren't well tuned so I missed your question.

I think the `avocado --verbose list` plus https://github.com/avocado-framework/avocado/pull/4444 should be enough to implement all of the use cases I describe on this issue.

One improvement, though, would be to implement a machine-readable output for `avocado list` so that

[2021-04-19 20:31] beraldoleal commented on #4430
@wainersm cool. Thanks for the reply.

Yes, I agree, this could be close and we can track this new requirement as a separate issue. Please do the honors.

[2021-04-19 20:35] wainersm commented on #4430
and send the PR? :D

[2021-04-19 20:49] wainersm commented on #4458
Talking in private with @clebergnu , he mentions that `vmimage`  and `assets` are planned to be merged. I have an idea to improve the usage of `vmimage.get()` that I will post here so it can (or not) be considered on the design of this blueprint.

**TL;DR:** users of `vmimage.get()` shouldn't be asked the checksum for a given distro.

Cleber proposed on [1] some changes to avocado_qemu tests so th

[2021-04-19 20:58] wainersm opened #4538 "Add machine-readeable output to `avocado list`"
So that scripts could more easily use its output to implement complex workflows. Examples of workflows can be found at https://github.com/avocado-framework/avocado/issues/4430

Currently `avocado list` prints to stdout as human-readable text. If you use options like `--verbose` it will print detailed information about the tests, however, this isn't easily consumed as one would need to implement a

[2021-04-19 20:59] wainersm commented on #4538
/cc @willianrampazzo @beraldoleal @clebergnu

[2021-04-19 21:10] wainersm commented on #4430
I am satisfied with the features that avocado 87.0 provides for filling up the QEMU requirements I described on this issue. Thus, I am going to close it.

[2021-04-19 21:10] #4430 closed

[2021-04-20 11:30] beraldoleal commented on #4538
Thank you @wainersm, Sounds good to me. I will take care of this.

[2021-04-21 19:51] clebergnu opened #4541 "Allow escaping values defined in "docstring statements" such as tags"
Time and time again we expand the definition of the [DOCSTRING_DIRECTIVE_RE_RAW](https://github.com/avocado-framework/avocado/blob/ad3e325ddaf778409e5dd2f8560c2579aeb8d82c/avocado/core/safeloader.py#L240) in an attempt to allow for more descriptive tags.

This time there's an argument in favor of allowing [commas](https://lists.gnu.org/archive/html/qemu-devel/2021-04/msg01316.html) to be used as p

[2021-04-26 16:42] clebergnu opened #4547 "Provide runtime information on tasks and their state on the TaskStateMachine"
The [TaskStateMachine](https://github.com/avocado-framework/avocado/blob/ad3e325ddaf778409e5dd2f8560c2579aeb8d82c/avocado/core/task/statemachine.py#L6) and the [Worker](https://github.com/avocado-framework/avocado/blob/ad3e325ddaf778409e5dd2f8560c2579aeb8d82c/avocado/core/task/statemachine.py#L49) currently operates pretty much without giving feedback or producing runtime information status.

Many

[2021-04-27 11:38] CDheyfeng opened #4548 "avocado.conf Can't find"
Hi，i need help.
i install avocado through pip,but can't find avocado.conf
![image](https://user-images.githubusercontent.com/29755181/116235139-10910200-a790-11eb-86d3-408cc912b345.png)

[2021-04-27 11:53] beraldoleal commented on #4548
Hi @CDheyfeng,

We have changed the way we process config options. Default values defined during the registration of the options (at source code), and because of that, an empty config file is now a valid option.

But, this command, shows the list of files that Avocado will process (in order) and you can start editing your own custom settings either on `avocado.conf` of your egg package or globally

[2021-04-27 12:04] CDheyfeng commented on #4548
thanks，i got it  @beraldoleal

[2021-04-27 13:12] #4548 closed

[2021-04-27 13:32] beraldoleal commented on #4392
Hi, @clebergnu can you please provide a reproducible?

[2021-04-27 13:42] beraldoleal commented on #4352
@richtja I'm revisiting this, and I have doubts if this makes sense.

For instance, status server URI could be something like '0.0.0.0:8080' (to be listening in multiple interfaces). In this case, makes no sense to send messages to this address. I would also prefer to avoid corner cases (and ifs) here.

Makes sense?

If you agree, we can close this.

[2021-04-27 13:58] beraldoleal commented on #4222
@richtja Queues can be implemented using many data structures. I agree that lists are not much efficient, but are valid options. Unless we have today a performance issue, I would suggest reducing the priority here.

[2021-04-27 14:41] beraldoleal commented on #4435
Hi @willianrampazzo I understand the motivation behind this we should/could implement this.

However, currently `avocado assets register`  accepts a `name` and an `url` as arguments, where `name` is a "unique name", and `url` is the path/location to where fetch the asset (local or remote). So, the following command is valid:

[code]

The following command is also valid:

[code]

Adding a `--by-loc

[2021-04-27 14:53] willianrampazzo commented on #4435
I understand your point @beraldoleal and I agree a refactor is needed, but we have a request from a user. In simple words, that is

"As a user, how can I add assets with the same name and different locations manually to the cache?".

So, how can we fulfill this user's requirement? I agree the users don't need to know where the file is placed (by-name, by-location).

Or, if we think a refactor is a

[2021-04-27 14:55] willianrampazzo commented on #4435
Oh, one more comment, this use case, add an asset with the same name and different location, is valid, and Avocado will need to support it, independent of the background code.

[2021-04-27 15:17] richtja commented on #4222
@beraldoleal I don't have a problem with low priority here. That is why I put it into the `Long Term Backlog`. I just wanted to point out that the queue can be done better.

[2021-04-27 16:02] beraldoleal commented on #4435
I understand the case, and I think we should support it, of course. My point is: How to implement this, without making the UI confusing for new users. Do you have a suggestion?

[2021-04-27 16:04] beraldoleal commented on #4222
@richtja sure, I was just looking at 'bugs' and 'nrunner' tags since we agreed that those are high-priority right now

[2021-04-27 16:08] richtja commented on #4352
@beraldoleal AFAIK every time when we are creating the Task we are setting the `status_uri` from `nrunner.status_server_uri`. So if you set `nrunner.status_server_uri` to `0.0.0.0:8080` the `Task.status_services` will be set to `0.0.0.0:8080` this is won't be changed by this issue. My point is to not setting `status_uri` every time when we are creating `Task` as we are doing now, but have it as de

[2021-04-27 16:09] willianrampazzo commented on #4435
No, I have not thought about that. I can take this item and try something.

[2021-04-27 16:10] richtja commented on #4222
@beraldoleal True I think we can remove the `nrunner` tag to avoid the confusion with high-priority

[2021-04-27 16:14] beraldoleal commented on #4435
I can do it as well, I'm just pointing that having a `--by-location`  on top of a `url` parameter is confusing. And changing this in future PRs could be frustrated for some users.

So unless, we design a proper solution (don't need to be a complete redesign) we are going to keep adding patches, as partial solutions, to the assets part.

We can discuss this better and try to come up with a proposal

[2021-04-27 16:14] beraldoleal commented on #4222
Or keep the nrunner tag (since it is related to the runner) but start thinking about priority tags.

[2021-04-27 16:16] beraldoleal commented on #4352
@richtja I got confused with the status_server_listen. Sorry for the mess. I will try to implement this.

[2021-04-27 16:58] beraldoleal commented on #4352
@richtja I did a second round of debugging here. Do you have any use case where you are creating a Task object with an empty `status_uris`?

AFAICT, today, during our runs, we are passing `status_uris` with the same value as  `nrunner.status_server_uri`.

Now, If you are creating an object Task manually, then I think that I understood the point here. IIUC, my suggestion is to remove `status_uris`

[2021-04-27 17:44] beraldoleal commented on #4308
I was investigating this today, besides the syntax error on your last example (double }), I hit this error:

[code]

After some debugging time, I remember the issue #4526 that probably will solve this problem.

@richtja is this  #4526 related to this? I mean, are you investigating this issue as well ?

[2021-04-28 08:45] richtja commented on #4352
@beraldoleal For the context, I created this issue when we had to create Task inside TestSuite creation wchich was changed in 93f93764f311ef2a988dc23bdbac80db11cfdc3f that is why I'm mentioning the `TestSuite.from_config()` here.

I don't know any use case with the empty `status_uris`.

AFAIK right now we are using one status server, but Tasks are able to send messages to the multiple status serve

[2021-04-28 11:54] #4527 closed

[2021-04-28 12:18] beraldoleal commented on #4352
My proposal is not intended to solve this problem, but only your "issue subject": Having a default status uris when creating tasks. I believe that for addressing this particular issue, we have already #4308, and we can create other issues for that.

[2021-04-28 12:51] richtja commented on #4352
Sorry but I am not understand what you mean, because I think that the #4308 is a completely different problem. It is about multiple jobs connected to one server and that is not related to this issue.

[2021-04-28 13:13] beraldoleal commented on #4352
Ok, my bad. Too little coffee at this time.

But is this issue about one task being able to connect to multiple status servers? I was only focusing on the default value here.

My proposal is only changing the place where we get the value, the argument, we get from the config. My logic was:

Today we are passing everything that starts with `runner.` as a configuration option to the `config` dict. S

[2021-04-28 14:12] richtja commented on #4308
@beraldoleal yes this error is related to #4526.

[2021-04-28 18:15] wainersm commented on #4541
It is hard to keep backward compatibility.

Possible solutions:
 1. Introduce a "tag_separator" tag  where the user can specify the separator character (e.g the `-d` option of `cut`).
     Advantages: suppose only a few tests need a non-commas separator, so you have fine-grained control
     Disadvantages: the other way around, all tests need this new separator, so you end-up with "tag_separator"

[2021-05-10 11:41] beraldoleal opened #4569 "Test parameters not being used by the next runner"
Here some basic steps to reproduce:

[code]

This should take 30 seconds but is passing with 1 second delay.

Maybe, with nrunner, `parameters` are deprecated since we have `args` and `kwargs`. @clebergnu can help us here.

[2021-05-10 14:10] beraldoleal opened #4570 "Investigate tab auto complete for our command line options"

[2021-05-10 22:08] marioaag opened #4573 "TestSuite() initialization config param missing error"
In the definition of the TestSuite Class the parameter "config" has a default value as None and when the default value is used it fails, forcing us to use a dummy input to get it working.

Error example:
[code]

Code example:
[code]

[2021-05-11 11:19] richtja opened #4575 "The --dry-run is not working with nrunner"
You can reproduce it with:

[code]

[2021-05-11 13:15] #4573 closed

[2021-05-11 21:31] marioaag commented on #4573
Validated! It works as expected

[2021-05-12 14:28] clebergnu commented on #4338
Because QEMU has lifted the minimum version to 3.6, I don't see why we can't bump it too.

[2021-05-12 14:31] beraldoleal commented on #4338
@clebergnu I'm doing a pr right now.

[2021-05-12 18:59] #4338 closed

[2021-05-12 20:32] ana opened #4584 "Empty distro file with `avocado distro`"
When running  `avocado distro` to generate a definition file as indicated in the manpage, there is a problem and the resulting distro file is empty.

[code]

[code]
And the file  `avocadix-1-x86_64.distro` is created empty.

[2021-05-12 20:52] #4538 closed

[2021-05-13 07:57] #4584 closed

[2021-05-13 15:47] willianrampazzo commented on #4312
I forgot to add https://github.com/avocado-framework/avocado/pull/4578 to this issue. Closing it as the PR was merged.